<div class="white-box-with-margins">

<h1>Editing quest</h1>

<%= form_for(@quest) do |f| %>

	<% if @quest.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@quest.errors.count, "error") %> prevented your profile from being updated:</h2>
	
			<ul>
				<% @quest.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %> <!-- End: Error Messages -->

  <p>
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </p>
  <p>
    <%= f.label :task %><br />
    <%= f.text_field :task %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :objective %><br />
    <%= f.text_field :objective %>
  </p>
  <p>
    <%= f.label :qualifier %><br />
    <%= f.text_field :qualifier %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>  
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>   
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @quest %> |
<%= link_to 'Back', quests_path %>

</div>
