<div class="white-box-with-margins">

<p>
  <b>Rank:</b>
  <%=h @quest.level %>
</p>

<p>
  <b>Task:</b>
  <%=h @quest.task %>
</p>

<p>
  <b>Description:</b>
  <%=h @quest.description %>
</p>


<%= link_to 'Edit', edit_quest_path(@quest) %> |
<%= link_to 'Back', quests_path %>

</div>
