<div class="white-box-with-margins">
<h1>Editing quiz</h1>

<%= form_for(@quiz, :html => { :multipart => true }) do |f| %>
  <% if @quiz.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>
    <ul>
    <% @quiz.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label       :name %><br />
    <%= f.text_field  :name %>
  </p>
  <p>
    <%= f.label     :description %><br />
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.label 			    :start_time, "Start time" %><br />  	
    <%= f.datetime_select	:start_time %>
  <p>  
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @quiz %> |
<%= link_to 'Back', quizzes_path %>

</div>
