<h1>Editing pastor</h1>

<%= form_for(@pastor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @pastor %> |
<%= link_to 'Back', pastors_path %>