<h1>Listing pastors</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @pastors.each do |pastor| %>
  <tr>
    <td><%=h pastor.name %></td>
    <td><%= link_to 'Show', pastor %></td>
    <td><%= link_to 'Edit', edit_pastor_path(pastor) %></td>
    <td><%= link_to 'Destroy', pastor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pastor', new_pastor_path %>