<div class="white-box-with-margins">
	<h1>Scribe Center</h1>

	<div class="left-nav" style="width:20%">
		<%= link_to "Instructions", scribe_path, class: ("current" if @check.nil?) %>
		<%= link_to "Errors Reported #{"<span class='count'>#{@errors}</span>" if @errors > 0}".html_safe,
		scribe_path(check: "errors"), class: ("current" if @check == "errors") %>

		<% for version in @stats %>
			<%= link_to "#{version[0]} #{"<span class='count'>#{version[1]}</span>" if version[1] > 0}".html_safe,
			scribe_path(check: version[0]), class: ("current" if @check == version[0]) %>
		<% end %>
	</div>

	<div class="flt_rht" style="width:70%">

		<% if params[:check] %>
			<% if params[:check] == "errors" %>
				<h2>Errors Reported</h2>
			<% elsif TRANSLATIONS[params[:check].to_sym] %>
				<h2>Verses to Check for <%= TRANSLATIONS[params[:check].to_sym][:name] %></h2>
			<% end %>

			<%= "No verses to verify here!" if @verses.length == 0 %>

			<div class="verse-list">

				<table cellpadding="6" cellspacing="0">
					<tr>
						<th>Ver</th>
						<th>Ref</th>
						<th>Text</th>
					</tr>
					<% for vs in @verses %>
					<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
						<td align="center"><%= vs.translation		%></td>
						<td align="left"><%= vs.ref				%></td>
						<td class="edit_area" id=<%= vs.id %>><%= vs.text %></td>
						<td class="verify"><%= link_to 'OK', scribe_verify_path(vs), remote: true %></td>
					</tr>
					<% end %>
				</table>

			</div>
		<% else %>
			<h2>Instructions</h2>

			<div class="instructions">
				<%= render "instructions" %>
			</div>
		<% end %>

	</div>

	<div class="clr"></div>

</div> <!-- end: white-box-with-margins -->


<!-- http://www.appelsiini.net/projects/jeditable -->
<script type="text/javascript">
	 $(document).ready(function() {
	     $('.edit').editable('/verses/set_verse_text', {
	         indicator : 'Saving...',
	         tooltip   : 'Click to edit...'
	     });
	     $('.edit_area').editable('/verses/set_verse_text', {
	         type      : 'textarea',
	         cancel    : 'Cancel',
	         submit    : 'OK',
	         indicator : 'Saving...',
	         tooltip   : 'Click to edit...'
	     });
	 });
</script>

<!-- Highlight verse to be verified, remove after verification -->
<script>
  $(document).ready(function(){

    $('.verify').click(function () {
      $(this).closest('tr').fadeOut("slow");
    });
    $('.verify').hover(function () {
      $(this).closest('tr').addClass("hilite");
    }, function () {
      $(this).closest('tr').removeClass("hilite");
    });

  });
</script>

