		<h2 style="color:#111">Register for Memverse</h2><br />

		<%= devise_error_messages! %>
		<div class="signup name">
			<%= f.text_field		:name, :placeholder => "Name" %>
			<div class="sidetip">
				<p class="tip">This name will identify you on Memverse.</p>
				<p class="ok isaok">Name looks good.</p>
				<p class="blank invalid error">A name is required!</p>
			</div>
		</div>
		<div class="signup email">
			<%= f.email_field		:email, :placeholder => "Email address" %>
			<div class="sidetip">
				<p class="tip">What's your email address?</p>
				<p class="ok suggestion">Did you mean <a class="email"><span class="address">asf</span>@<span class="domain">gmail.com</span></a>?</p>
				<p class="ok isaok">We will email you a confirmation.</p>
				<p class="checking"><%= image_tag("indicator2.gif") %> Checking...</p>
				<p class="invalid error">Doesn't look like a valid email.</p>
				<p class="blank error">An email is required!</p>
				<p class="taken error">This email is already registered. Want to <%= link_to 'login', new_user_session_path %> or <%= link_to "reset your password", new_password_path(resource_name) %>?</p>
				
			</div>
		</div>
		<div class="signup password">
			<%= f.password_field 	:password, :placeholder => "Password" %>
			<div class="sidetip">
				<p class="tip">6 characters or more! Use one you'll remember.</p>
				
				<p class="perfect isaok">Password is perfect!</p>
				<p class="ok isaok">Password is okay.</p>
				<p class="weak isaok">Password could be more secure.</p>
				<p class="invalid error">Password must be at least 6 characters.</p>
				<p class="blank error">Password cannot be blank!</p>
			</div>
		</div>
		<div class="signup passwordconfirm">
			<%= f.password_field	:password_confirmation, :placeholder => "Confirm Password" %>
			<div class="sidetip">
				<p class="tip">One more time and you're done!</p>
				
				<p class="perfect isaok">Passwords match.</p>
				<p class="invalid error">Passwords do not match.</p>
				<p class="blank error">Password confirmation cannot be blank!</p>
			</div>
		</div>
		
		<div><%= f.submit "Create my account", :id => "sign-up-button-b" %></div>
		
		<br />
		
		<div class="sign-up-links">
			<%= render :partial => "devise/shared/links" %>	
		</div><br />