<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>New User Email</title>
	</head>
	<body>
		
		<!--[Greeting]-->
		<% if @user.name.empty? %>
			<p>Hi,</p>
		<% else %>
			<p>Hi <%= @user.name %>,</p>
		<% end %>
		
		<p>We noticed that you signed up at Memverse but have not yet added any memory verses. We recommend
		adding 5-10 verses to get started.</p>
			
		<p>You can login at <%= @url %>. Your login is <b><%= @user.email %></b>.</p>
		
		<p>Remember, Memverse will keep track of when you need to memorize the verses. Most users are spending
		less than ten minutes every few days and are finding that they can memorize far more verses in less time.</p>

		<p><%= link_to '[ Instant Unsubscribe ]', @unsubscribe_url,  :class => "unsubscribe-link"%></p>

		<!-- Mobile Applications -->	
		<p>You can also try one of our mobile applications:</p>

		<p><%= link_to 'Apple iOS',     'https://itunes.apple.com/us/app/memverse/id1014752213',             :class => "mobile-app-link"%></p>
		<p><%= link_to 'Windows Phone', 'https://www.microsoft.com/en-us/store/apps/memverse/9nblgggzh6nm',  :class => "mobile-app-link"%></p>
		
	</body>
</html>
