<div class="verse-list">

	<table cellpadding="6" cellspacing="0">
		<thead>
			<tr>
				<td><b>ID</b></td>
				<td><b>Ver</b></td>
				<td><b>Book Num</b></td>
				<td><b>Book</b></td>
				<td><b>Chapter</b></td>
				<td><b>Verse</b></td>
				<td><b>Users</b></td>
				<td><b>Verified</b></td>
				<td><b>Text</b></td>

				<td></td>
				<td></td>
			</tr>
		</thead>

		<tbody>
			<% for vs in @vs_list %>
			<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
				<td><%= vs.id				%></td>
				<td><%= vs.translation		%></td>
				<td><%= book_index(vs.book)	%></td>
				<td><%= vs.book				%></td>
				<td><%= vs.chapter			%></td>
				<td><%= vs.versenum			%></td>
				<td><%= vs.memverses.length	%></td>
				<td><%= vs.verified			%></td>
				<td><%= vs.text				%></td>

				<td><%= link_to 'Edit', rails_admin.edit_path(model_name: 'verse', id: vs.id) %></td>
				<td><%= link_to 'X', { :action => 'destroy_verse',  :id => vs }, :confirm => 'Are you sure?', :method => :post %></td>
			</tr>
			<% end %>
		</tbody>

	</table>

</div>