<%= error_messages_for 'verse' %>

<!--[form:investment]-->
<p><label for="verse_translation">Translation</label><br/>
<%= text_field 'verse', 'translation'  %></p>

<p><label for="verse_book">Book</label><br/>
<%= text_field 'verse', 'book'  %></p>

<p><label for="verse_chapter">Chapter</label><br/>
<%= text_field 'verse', 'chapter'  %></p>

<p><label for="verse_versenum">Verse</label><br/>
<%= text_field 'verse', 'versenum'  %></p>

<p><label for="verse_text">Text</label><br/>
<%= text_area 'verse', 'text'  %></p>

<!--[eoform:verse]-->

