<div class="white-box-with-margins">
	<table class="user-stats-table" cellpadding="6" cellspacing="0" border="1">
		<th>Translation</th>
		<th>Total</th>
		<th>OT</th>
		<th>%</th>
		<th>NT</th>
		<th>%</th>
		<th>History</th>
		<th>%</th>
		<th>Wisdom</th>
		<th>%</th>
		<th>Prophecy</th>
		<th>%</th>
		<th>Gospel</th>
		<th>%</th>
		<th>Epistle</th>
		<th>%</th>

		<% TRANSLATIONS.keys.each do |tl| %>
			<tr>
				<td align="left"><%= TRANSLATIONS[tl][:name] %></td>
				<td align="right"><%= Verse.tl(tl.to_s).count %></td>
				<td align="right"><%= Verse.tl(tl.to_s).old_testament.count %></td>
				<td align="right"><%= number_with_precision( Verse.tl(tl.to_s).old_testament.count / Verse.tl(tl.to_s).count.to_f * 100, :precision => 0) %>%</td>
				<td align="right"><%= Verse.tl(tl.to_s).new_testament.count %></td>
				<td align="right"><%= number_with_precision( Verse.tl(tl.to_s).new_testament.count / Verse.tl(tl.to_s).count.to_f * 100, :precision => 0)  %>%</td>
				<td align="right"><%= Verse.tl(tl.to_s).history.count %></td>
				<td align="right"><%= number_with_precision( Verse.tl(tl.to_s).history.count / Verse.tl(tl.to_s).count.to_f * 100, :precision => 0)  %>%</td>
				<td align="right"><%= Verse.tl(tl.to_s).wisdom.count %></td>
				<td align="right"><%= number_with_precision( Verse.tl(tl.to_s).wisdom.count / Verse.tl(tl.to_s).count.to_f * 100, :precision => 0)  %>%</td>
				<td align="right"><%= Verse.tl(tl.to_s).prophecy.count %></td>
				<td align="right"><%= number_with_precision( Verse.tl(tl.to_s).prophecy.count / Verse.tl(tl.to_s).count.to_f * 100, :precision => 0)  %>%</td>
				<td align="right"><%= Verse.tl(tl.to_s).gospel.count %></td>
				<td align="right"><%= number_with_precision( Verse.tl(tl.to_s).gospel.count / Verse.tl(tl.to_s).count.to_f * 100, :precision => 0)  %>%</td>
				<td align="right"><%= Verse.tl(tl.to_s).epistle.count %></td>
				<td align="right"><%= number_with_precision( Verse.tl(tl.to_s).epistle.count / Verse.tl(tl.to_s).count.to_f * 100, :precision => 0)  %>%</td>
			</tr>
		<% end %>

			<tr>
				<td align="left"> Total </td>
				<td align="right"><%= Verse.count %></td>
				<td align="right"><%= Verse.old_testament.count %></td>
				<td align="right"><%= number_with_precision( Verse.old_testament.count / Verse.count.to_f * 100, :precision => 0) %>%</td>
				<td align="right"><%= Verse.new_testament.count %></td>
				<td align="right"><%= number_with_precision( Verse.new_testament.count / Verse.count.to_f * 100, :precision => 0)  %>%</td>
				<td align="right"><%= Verse.history.count %></td>
				<td align="right"><%= number_with_precision( Verse.history.count / Verse.count.to_f * 100, :precision => 0)  %>%</td>
				<td align="right"><%= Verse.wisdom.count %></td>
				<td align="right"><%= number_with_precision( Verse.wisdom.count / Verse.count.to_f * 100, :precision => 0)  %>%</td>
				<td align="right"><%= Verse.prophecy.count %></td>
				<td align="right"><%= number_with_precision( Verse.prophecy.count / Verse.count.to_f * 100, :precision => 0)  %>%</td>
				<td align="right"><%= Verse.gospel.count %></td>
				<td align="right"><%= number_with_precision( Verse.gospel.count / Verse.count.to_f * 100, :precision => 0)  %>%</td>
				<td align="right"><%= Verse.epistle.count %></td>
				<td align="right"><%= number_with_precision( Verse.epistle.count / Verse.count.to_f * 100, :precision => 0)  %>%</td>
			</tr>

	</table>

	<div class="clr"></div>
</div>
