<div class="white-box-with-margins">
	<div id="weekly-activity">
		<table class="user-stats-table" cellpadding="6" cellspacing="0" border="1">
			<th colspan="2">Weekly Activity</th>
			<tr>
				<td>New Verses</td>
				<td><%= @new_verses_this_week %></td>
			</tr>
			<tr>
				<td>New Memory Verses</td>
				<td><%= @new_mvs_this_week %></td>
			</tr>
			<tr>
				<td>New Users</td>
				<td><%= @new_users_this_week %></td>
			</tr>
			<tr>
				<td>Active Users</td>
				<td><%= @active_users_this_week %></td>
			</tr>
		</table>
	</div>

	<div id="daily-activity">
		<table class="user-stats-table" cellpadding="6" cellspacing="0" border="1">
			<th colspan="2">Activity Today</th>
			<tr>
				<td>New Verses</td>
				<td><%= @new_verses_today %></td>
			</tr>
			<tr>
				<td>New Memory Verses</td>
				<td><%= @new_mvs_today %></td>
			</tr>
			<tr>
				<td>New Users</td>
				<td><%= @new_users_today %></td>
			</tr>
			<tr>
				<td>Active Users</td>
				<td><%= @active_users_today %></td>
			</tr>
		</table>
	</div>

	<div id="verification-stats">
		<table class="user-stats-table" cellpadding="6" cellspacing="0" border="1">
			<th colspan="2">Pending Verification</th>
			<tr>
				<td>Checked by users</td>
				<td><%= @checked_by_users %></td>
			</tr>
			<tr>
				<td>Not checked by users</td>
				<td><%= @not_checked_by_users %></td>
			</tr>
			<tr>
				<td>Total</td>
				<td><%= @checked_by_users + @not_checked_by_users %></td>
			</tr>
		</table>
	</div>

	<div id="email-stats">
		<table class="user-stats-table" cellpadding="6" cellspacing="0" border="1">
			<th colspan="2">Email Stats</th>
			<tr>
				<td>Emails Sent Today</td>
				<td><%= User.where('last_reminder = ?', Date.today).count %></td>
			</tr>
			<tr>
				<td>Users - Daily Email</td>
				<td><%= User.where(:reminder_freq => "Daily").count %></td>
			</tr>
			<tr>
				<td>Users - Weekly Email</td>
				<td><%= User.where(:reminder_freq => "Weekly").count %></td>
			</tr>
			<tr>
				<td>Users - Quarterly Email</td>
				<td><%= User.where(:reminder_freq => "Quarterly").count %></td>
			</tr>
			<tr>
				<td>Users - Annual Email</td>
				<td><%= User.where(:reminder_freq => "Annually").count %></td>
			</tr>
			<tr>
				<td>Users - Never</td>
				<td><%= User.where(:reminder_freq => "Never").count %></td>
			</tr>
		</table>
	</div>

	<div id="quiz-stats">
		<table class="user-stats-table" cellpadding="6" cellspacing="0" border="1">
			<th colspan="2">Quiz Questions</th>
			<tr>
				<td>New MCQ Questions</td>
				<td><%= QuizQuestion.mcq.fresh.count %></td>
			</tr>
			<tr>
				<td>Total MCQ Questions</td>
				<td><%= QuizQuestion.mcq.count %></td>
			</tr>
		</table>
	</div>

</div>
