<div class="white-box-with-margins">

	<h2>Leaderboard</h2>
	
	<p>The following table shows the users with the most verses memorized. To appear on the leaderboard you must have completed a memorization
	   session in the past month.</p>
	
	<div class="user-list">
		<table cellpadding="6" cellspacing="1" border="1">  	
			<tr>
				<th>Rank</th>
				<th>Name</th>	
				<th>Memorized</th>
				<th>Learning</th>
				<th>Affiliation</th>
				<th>Country</th>
				<th>Year</th>
				<th>Month</th>
			</tr>
			
			<% for user in @leaderboard %>
				<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
					<td align="center"> <%= @leaderboard.index(user)+1%></td>
					<td align="left">   <%= user.name.empty? ? "[" + user.login + "]" : user.name	%></td>
					<td align="center"> <%= user.memorized	%></td>	
					<td align="center"> <%= user.learning 	%></td>
					<td align="left"> 	<%= user.church ? user.church.name : "" %></td>
					<td align="left"> 	<%= user.country ? user.country.printable_name : "" %></td>
					<td align="center"> <%= user.completed_sessions(:year)	%></td>	
					<td align="center"> <%= user.completed_sessions(:month)	%></td>	
				</tr>
			<% end %>
		</table>
	</div>
</div>

