<div class="white-box-with-margins">
	<div class="verse-list">
	
		<table class="sortable" id="usertable" cellpadding="6" cellspacing="0">
			
			<tr>
				<th>ID</th>
				<th align="left">Name</th>
				<th align="left">Login</th>
				<th align="left">Email</th>
				<th align="left">Church</th>
				<th>Last Activity</th>
				<th>Last Reminder</th>
				<th>Reminder Freq</th>
				<th colspan="2">Memverses</th>
				<th>Newsletter</th>
			</tr>
			
			<% for user in @user_list %>
			<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
				<td> <%= user.id				%></td>	
				<td> <%= user.name				%></td>				
				<td> <%= link_to user.login, :controller => 'utils', :action => 'show_memory_verses', :id => user.id %></td>		 
				<td> <%= user.email				%> </td>
				<td> <%= user.church ? user.church.name : ""	%> </td>
				<td align = center> <%= user.last_activity_date %> </td>	
				<td align = center> <%= user.last_reminder		%> </td>	
				<td align = center> <%= user.reminder_freq		%> </td>									
				<td align = right> <%= user.memverses.length	%> </td>
				<td align = right>[<%= user.memorized			%>]</td>			
				<td align = center> <%= user.newsletters		%> </td>
				<% if user.state == "pending" %>	
					<td><%= link_to 'Activate', activate_path(user.activation_code) %> </td>
				<% end %>
					
							
				<td><%= link_to 'Edit',   :controller => 'utils', :action => 'edit_user', :id => user %></td>
				<td><%= link_to 'X', { :action => 'destroy_user',  :id => user }, :confirm => 'Are you sure?', :method => :post %></td>					
				
			</tr>
			<% end %>
		
		</table>
	
	</div>
</div>
