<div class="white-box-with-margins">
	<div class="verse-list">
	
		<table class="menu-popular" cellpadding="6" cellspacing="0">
			<tr>
				<th>Verse</th>					
				<th>Users</th>		  	 
				<th>Book</th>
				<th>Chapter</th>		  				  	  		  		  		  
				<th>Verse</th>
										
				
			</tr>
			<% for vs in @vs_list %>
			<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
				<td><%= vs.pop_ref			%></td>				
				<td><%= vs.num_users		%></td>		 
				<td><%= vs.book				%></td>			
				<td><%= vs.chapter			%></td>
				<td><%= vs.versenum			%></td>
				
				<% if vs.niv %>
					<td><%= link_to 'NIV', :action => 'show_vs', :vs => vs.niv	%><em><%= vs.niv_text %></em></td>
				<% else %>
					<td></td>
				<% end %>
				<% if vs.esv %>			
					<td><%= link_to 'ESV', :action => 'show_vs', :vs => vs.esv	%><em><%= vs.esv_text %></em></td>
				<% else %>
					<td></td>
				<% end %>	
				<% if vs.nkj %>					
					<td><%= link_to 'NKJ', :action => 'show_vs', :vs => vs.nkj	%><em><%= vs.nkj_text %></em></td>
				<% else %>
					<td></td>
				<% end %>
				<% if vs.kjv %>		
					<td><%= link_to 'KJV', :action => 'show_vs', :vs => vs.kjv	%><em><%= vs.kjv_text %></em></td>
				<% else %>
					<td></td>
				<% end %>	
				<% if vs.rsv %>		
				<td><%= link_to 'RSV', :action => 'show_vs', :vs => vs.rsv	%><em><%= vs.rsv_text %></em></td>
				<% else %>
					<td></td>
				<% end %>	
				<% if vs.nas %>					
				<td><%= link_to 'NAS', :action => 'show_vs', :vs => vs.nas	%><em><%= vs.nas_text %></em></td>									
				<% else %>
					<td></td>
				<% end %>			
			</tr>
			<% end %>
		
		</table>
	
	</div>
</div>

<!-- http://www.webdesignerwall.com/tutorials/jquery-tutorials-for-designers/ -->
<script type="text/javascript">
$(document).ready(function(){

	$(".menu-popular a").hoverIntent(function() {
		$(this).next("em").animate({opacity: "show", left: "980"}, "slow");
	}, function() {
		$(this).next("em").animate({opacity: "hide", left: "1000"}, "fast");
	});


});
</script>