<div class="white-box-with-margins">
	<div class="verse-list">
	
		<table cellpadding="8" cellspacing="6">
			
			<!-- Headings -->
			<tr> 
				<td><b>User</b></td>
				<th>Vs ID</th>		  
				<td><b>Verse</b></td>			  
				<td><b><%= link_to 'eFactor',		:action => 'manage_verses', :sort_order => 'efactor'		%></b></td>
				<td><b><%= link_to 'Status', 		:action => 'manage_verses', :sort_order => 'status'			%></b></td>
				<td><b><%= link_to 'Last Tested',	:action => 'manage_verses', :sort_order => 'last_tested'	%></b></td>	
				<td><b><%= link_to 'Next Test',		:action => 'manage_verses', :sort_order => 'next_test'		%></b></td>
				<td><b><%= link_to 'N', 			:action => 'manage_verses', :sort_order => 'rep_n'			%></b></td>
				<td><b><%= link_to 'Interval', 		:action => 'manage_verses', :sort_order => 'test_interval'	%></b></td>
				<td><b><%= link_to 'Attempts', 		:action => 'manage_verses', :sort_order => 'attempts'		%></b></td>		  
				<td><b><%= link_to 'Started', 		:action => 'manage_verses', :sort_order => 'started'		%></b></td>
				<th>First</th>
				<th>Prev</th>
				<th>Next</th>		  
			</tr>

			<!-- Rows -->
			<% for mv in @mv_list %>
				<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
					<td> <%= mv['user']			%></td>	
					<td> <%= mv['id']			%></td>	
					<td> <%= link_to mv['verse'], :action => 'edit_verse', :id => mv['verse_id'] %></td>				 
					<td> <%= mv['efactor']		%></td>	
					<td> <%= mv['status']		%></td>			
					<td> <%= mv['last_tested']	%></td>
					<td> <%= mv['next_test']	%></td>	
					<td> <%= mv['n']			%></td>			
					<td> <%= mv['test_interval']%></td>	
					<td> <%= mv['attempts']		%></td>		
					<td> <%= mv['started']		%></td>
					<td> <%= mv['first']		%></td>
					<td> <%= mv['prev']			%></td>
					<td> <%= mv['next']			%></td>
					<td><%= link_to 'Edit',   :action => 'edit_mv', :id => mv['id'] %></td>
					<td><%= link_to 'X', { :action => 'destroy_mv', :id => mv['id'] }, :confirm => 'Are you sure?', :method => :post %></td>
				</tr>
			<% end %>
	
		</table>
	
	</div>
</div>
