<%= form_for( @quiz_question ) do |f| %>

    <!-- Flag any errors -->
    <% if @quiz_question.errors.any? %>
        <div id="errorExplanation">
            <h2><%= pluralize(@quiz_question.errors.count, "error") %> prohibited this quiz from being saved:</h2>
            <ul>
                <% @quiz_question.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <!-- Associate with a quiz and user -->
    <p>
        <%= f.hidden_field  :quiz_id,         :value => @quiz.id %>
        <%= f.hidden_field  :submitted_by,    :value => @quiz_question.submitted_by || current_user.id %>
        <%= f.hidden_field  :approval_status, :value => current_user.admin? ? "Approved" : "Pending" %>
    </p>

    <% if can? :manage, Quiz %>
        <%= text_field_tag :quiz, @quiz.name, id: "quiz_search" %>
    <% end %>

    <!-- Question number -->
    <div class="quiz-question-num">
        <%= f.label         :question_no, "Question number" %><br />
        <%= f.select        :question_no, (1..25) %>
    </div>

    <!-- Question type -->
    <div class="quiz-question-type">
        <%= f.label         :question_type, "Type of question" %><br />
        <%= f.select        :question_type, [ ['Multiple Choice', 'mcq'        ],
                                              ['Recite verse',    'recitation' ],
                                              ['Give reference',  'reference'  ]],
                            {}, {:onchange => "questionType(this.value)"} %>
    </div>

    <p id="passage">
        <%= f.label         :passage, "Passage Reference" %><br />
        <%= f.text_field    :passage %>
    </p>

    <%= f.submit 'Submit', id: "non-mcq-submit" %>

    <!-- Entry form for MCQ -->
    <%= render :partial => "form_mcq", :locals=>{ :f => f } %>

<% end %> <!-- Form -->

<script type="text/javascript">
    $("#quiz_search").autocomplete({
        minLength: 2,
        source: function(query, process) {
            return $.post('/quizzes/search.json', { query: query.term }, function(data) {
                var suggestions = [];
                $.each(data, function(i, val) {
                    suggestions.push({
                        label: val.name,
                        id:    val.id
                    });
                });
                process(suggestions);
            });
        },
        select: function(e, ui) {
            $("#quiz_question_quiz_id").val(ui.item.id);
        }
    });
</script>
