<%= form_for( @quiz_question ) do |f| %>

    <!-- Flag any errors -->
    <% if @quiz_question.errors.any? %>
        <div id="errorExplanation">
            <h2><%= pluralize(@quiz_question.errors.count, "error") %> prohibited this quiz from being saved:</h2>
            <ul>
                <% @quiz_question.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <!-- Associate with a quiz -->
    <p>
        <%= f.hidden_field  :quiz_id, :value => @quiz.id %>
    </p>

    <!-- Question number -->
    <div class="quiz-question-num">
        <%= f.label         :question_no, "Question number" %><br />
        <%= f.select        :question_no, (1..20), :selected => params[:qno] %>
    </div>

    <!-- Question type -->
    <div class="quiz-question-type">
        <%= f.label         :question_type, "Type of question" %><br />
        <%= f.select        :question_type, [ ['Multiple Choice', 'mcq'        ],
                                              ['Recite verse',    'recitation' ],
                                              ['Give reference',  'reference'  ]],
                            {}, {:onchange => "questionType(this.value)"} %>
    </div>

    <p id="passage">
        <%= f.label         :passage, "Passage Reference" %><br />
        <%= f.text_field    :passage %>
    </p>

    <!-- Entry form for MCQ -->
    <%= render :partial => "form_mcq" %>

<% end %> <!-- Form -->