<!-- Quiz Question -->
<div class="quiz-question">

    <p><%= quiz_question.mc_question %></hp>

</div>

<div class="quiz-question-answers">

    <p class="<%= quiz_question.mc_answer == 'A' %>"> A) <%= quiz_question.mc_option_a %> </p>
    <p class="<%= quiz_question.mc_answer == 'B' %>"> B) <%= quiz_question.mc_option_b %> </p>
    <p class="<%= quiz_question.mc_answer == 'C' %>"> C) <%= quiz_question.mc_option_c %> </p>
    <p class="<%= quiz_question.mc_answer == 'D' %>"> D) <%= quiz_question.mc_option_d %> </p>

</div>

<div class="quiz-question-stats">
    <table>
        <thead></thead>
        <tbody>
            <tr><th>Category:       </th> <td><%= quiz_question.mcq_category                  %></td></tr>
            <tr><th>Supporting Ref: </th> <td><%= quiz_question.supporting_ref.try(:long_ref) %></td></tr>
            <tr><th>Submitted By:   </th> <td><%= quiz_question.user.try(:name_or_login)      %></td></tr>
        </tbody>
    </table>
</div>

<br />

<div class="quiz-question-navigation">


</div>
