<div class="verse-list">
	<table class="sortable" id="usertable" cellpadding="6" cellspacing="0">
		
		<tr>
			<th>ID</th>
			<th align="left">Name</th>
			<th align="left">Login</th>
			<th align="left">Email</th>
			<th align="left">Church</th>
			<th>Last Activity</th>
			<th>Last Reminder</th>
			<th>Reminder Freq</th>
			<th colspan="2">Memverses</th>
			<th>Newsletter</th>
			<th>State</th>	
		</tr>

		<tr>
			<td> <%= @user.id				%></td>	
			<td> <%= @user.name				%></td>				
			<td> <%= link_to @user.login, :controller => 'admin', :action => 'show_memory_verses', :id => @user.id %></td>		 
			<td> <%= @user.email				%> </td>
			<td> <%= @user.church ? @user.church.name : ""	%> </td>
			<td align = center> <%= @user.last_activity_date %> </td>	
			<td align = center> <%= @user.last_reminder		%> </td>	
			<td align = center> <%= @user.reminder_freq		%> </td>									
			<td align = right> <%= @user.memverses.length	%> </td>
			<td align = right>[<%= @user.memorized			%>]</td>			
			<td align = center> <%= @user.newsletters		%> </td>	
			<td> <%= @user.state				%> </td>	
						
			<td><%= link_to 'Edit',   :controller => 'admin', :action => 'edit_user', :id => @user %></td>
			<td><%= link_to 'X', { :action => 'destroy_user',  :id => @user }, :confirm => 'Are you sure?', :method => :post %></td>					
			
		</tr>
	</table>
</div>

<br>

<div>
	<%= ziya_chart load_progress_url(@user, :xml), :size => "1100x500" -%>
</div>

<br>

<%= button_to 'Repair Links',   :controller => 'admin', :action => 'fix_verse_linkage', 	:id => @user %>

<div class="verse-list">

	<table cellpadding="8" cellspacing="6">
	  <tr> 
		  <th>Vs ID</th>		  
		  <td><b>Verse</b></td>			  
		  <td><b><%= link_to 'eFactor',		:action => 'show_all_my_verses', :sort_order => 'efactor'		%></b></td>
		  <td><b><%= link_to 'Status', 		:action => 'show_all_my_verses', :sort_order => 'status'		%></b></td>		  				  	  		  		  		  
		  <td><b><%= link_to 'Last Tested',	:action => 'show_all_my_verses', :sort_order => 'last_tested'	%></b></td>	
		  <td><b><%= link_to 'Next Test',	:action => 'show_all_my_verses', :sort_order => 'next_test'		%></b></td>
		  <td><b><%= link_to 'N', 			:action => 'show_all_my_verses', :sort_order => 'rep_n'			%></b></td>
		  <td><b><%= link_to 'Interval', 	:action => 'show_all_my_verses', :sort_order => 'test_interval'	%></b></td>
		  <td><b><%= link_to 'Attempts', 	:action => 'show_all_my_verses', :sort_order => 'attempts'		%></b></td>		  
		  <td><b><%= link_to 'Started', 	:action => 'show_all_my_verses', :sort_order => 'started'		%></b></td>
		  <th>First</th>
		  <th>Prev</th>
		  <th>Next</th>		  

	  </tr>
	<% for mv in @mv_list %>
		<td> <%= mv.id			%></td>	
		<td> <%= link_to mv.verse.ref, :action => 'edit_verse', :id => mv.verse %></td>				 
	 	<td> <%= mv.efactor			%></td>	
	 	<td> <%= mv.status			%></td>			
	 	<td> <%= mv.last_tested		%></td>
	 	<td> <%= mv.next_test		%></td>	
	 	<td> <%= mv.rep_n			%></td>			
	 	<td> <%= mv.test_interval	%></td>	
	 	<td> <%= mv.attempts		%></td>		
	 	<td> <%= mv.created_at		%></td>
	 	<td> <%= mv.first_verse		%></td>
	 	<td> <%= mv.prev_verse		%></td>
		<td> <%= mv.next_verse		%></td>
			
		<td><%= link_to 'Edit',   :action => 'edit_mv', :id => mv %></td>
		<td><%= link_to 'X', { :action => 'destroy_mv', :id => mv }, :confirm => 'Are you sure?', :method => :post %></td>	
				
	  </tr>
	<% end %>

	</table>

</div>