<% if !@error_reported.empty?%>
	<h1>Verses Reported with an Error</h1>
	<div class="verse-list">
		<table cellpadding="6" cellspacing="0">
			<tr>
				<th><%= link_to 'ID',			:action => 'list_assets', :sort_order => 'avail_history'%></th>					
				<th><%= link_to 'Ver',			:action => 'list_assets', :sort_order => 'avail_history'%></th>	  	 
				<th><%= link_to 'Reference',	:action => 'list_assets', :sort_order => 'first_traded'%></th>
				<th><%= link_to 'Users',		:action => 'list_assets', :sort_order => 'avail_history'%></th>				
				<th><%= link_to 'Text',			:action => 'list_assets', :sort_order => 'first_traded'%></th>
				<th><%= link_to 'Web Check',	:action => 'list_assets', :sort_order => 'first_traded'%></th>				
			</tr>
			<% for vs in @error_reported %>
			<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
				<td><%= vs.id				%></td>				
				<td align="center"><%= vs.translation		%></td>		 
				<td align="left"><%= vs.ref				%></td>			
				<td align="center"><%= vs.memverses.length	%></td>	
				<td class="edit_area" id=<%= vs.id %>><%= vs.text %></td>
				<td><%= vs.web_check		%></td>	
				<td><%= link_to 'Edit',   :action => 'edit_verse', :id => vs %></td>
				<td class="verify"><%= link_to_remote 'Verify', :url => { :action => "verify_verse", :id => vs.id },
												 :update => { :success => "Verified", :failure => "Error"} %>
				</td>
				<td><%= link_to 'X', { :action => 'destroy_verse',  :id => vs }, :confirm => 'Are you sure?', :method => :post %></td>								
			</tr>
			<% end %>
		</table>
	</div>
<% end %>

<h1>Verses Requiring Verification</h1>

<div class="verse-list">

	<table cellpadding="6" cellspacing="0">
		<tr>
			<th><%= link_to 'ID',			:action => 'list_assets', :sort_order => 'avail_history'%></th>					
			<th><%= link_to 'Ver',			:action => 'list_assets', :sort_order => 'avail_history'%></th>	  	 
			<th><%= link_to 'Reference',	:action => 'list_assets', :sort_order => 'first_traded'%></th>
			<th><%= link_to 'Users',		:action => 'list_assets', :sort_order => 'avail_history'%></th>				
			<th><%= link_to 'Text',			:action => 'list_assets', :sort_order => 'first_traded'%></th>
			<th><%= link_to 'Web Check',	:action => 'list_assets', :sort_order => 'first_traded'%></th>
		</tr>
		<% for vs in @need_verification %>
		<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
			<td><%= vs.id				%></td>				
			<td align="center"><%= vs.translation		%></td>		 
			<td align="left"><%= vs.ref				%></td>			
			<td align="center"><%= vs.memverses.length	%></td>	
			<td class="edit_area" id=<%= vs.id %>><%= vs.text %></td>
			<td><%= vs.web_check		%></td>	
			<td><%= link_to 'Edit',   :action => 'edit_verse', :id => vs %></td>
			<td class="verify"><%= link_to_remote 'Verify', :url => { :action => "verify_verse", :id => vs.id },
											 :update => { :success => "Verified", :failure => "Error"} %>
			</td>
			<td><%= link_to 'X', { :action => 'destroy_verse',  :id => vs }, :confirm => 'Are you sure?', :method => :post %></td>								
		</tr>
		<% end %>
	
	</table>

</div>

<!-- http://www.appelsiini.net/projects/jeditable -->
<script type="text/javascript">
	 $(document).ready(function() {   
	     $('.edit').editable('/admin/set_verse_text', {
	         indicator : 'Saving...',
	         tooltip   : 'Click to edit...'
	     });
	     $('.edit_area').editable('/admin/set_verse_text', { 
	         type      : 'textarea',
	         cancel    : 'Cancel',
	         submit    : 'OK',
	         indicator : 'Saving...',
	         tooltip   : 'Click to edit...'
	     });
	 });
</script>

<!-- Highlight verse to be verified -->
<script>
  $(document).ready(function(){
    
    $('.verify').click(function () { 
      $(this).closest('tr').fadeOut("slow"); 
    });
    $('.verify').hover(function () {
      $(this).closest('tr').addClass("hilite");
    }, function () {
      $(this).closest('tr').removeClass("hilite");
    });

  });
</script>
