<h1><%= @church.name %></h1>

<div class="user-list">
	<table cellpadding="6" cellspacing="1" border="1">  	
		<tr>
			<th>Username</th>		  
			<th>Name</th>	
			<th>Memorized</th>
			<th>Learning</th>
			<th>Country</th>
		</tr>
		
		<% for user in @church_members %>
			<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">

				<td align="left">   <%= user.login		%></td>	
				<td align="left">   <%= user.name		%></td>
				<td align="center"> <%= user.memorized	%></td>	
				<td align="center"> <%= user.learning 	%></td>
				<td align="left"> 	<%= user.country ? user.country.printable_name : "" %></td>				
			</tr>
		<% end %>
		
	</table>
</div>

