<% page_title "Live Quiz :: " + @quiz.name %>
<div class="white-box-with-margins">
	
	<div id="live-quiz">
		<h1><%= @quiz.name %></h1>
		
		<% if current_user == @quiz_master %>
			<%= button_to "Start Quiz", {:action => "start_quiz", :quiz => @quiz.id}, :remote => true, :id => "start-quiz", :class => "button-link" %>
		<% end %>

		<div id="questions-answers">
			
			<div id="quiz-messages">
				<h3>Welcome!</h3>		
				<p id="info">The quiz will begin at <%= @quiz.start_time %>. Your quiz host is <%= @quiz_master.name_or_login %>.</p>				
			</div>
		
			<div id="quiz-timer"></div>
			
			<div class="clr"></div>
			
			<div id="quiz-question">
				<h3>Quiz Instructions</h3>
				<p>
					The quiz will have <%= @num_questions %> questions. Each question will be worth a maximum of 12 points.
				</p>
				<p>
					If you have arrived after the quiz start time, wait patiently for the next question to appear. It can take up to 5 minutes
					if a long question is underway. There is no need to refresh or reload the page.
				</p>
				<p>
					You will answer all the questions on the left side. The middle column will display the scoreboard and the right column is only 
					used for chatting with the other contestants.
				</p>
				<p>
					Scores are updated at the end of each question.
				</p>
			</div>
			<br/>
			<div id="quiz-answer"></div>
			
		</div>
	</div>
	
	<div id="live-scoreboard">
		<h3>Scoreboard</h3>
		
		<div id="live-quiz-scores"></div>
	</div>	
					
	<div id="chat-window">

		<h3>Chat</h3>

		<div id="chat-stream-narrow">
		</div>

		<%= form_tag('/chat/send', :id => 'chat_window', :remote => true) do %>
			<%= text_field_tag 'msg_body', '', :size => 28 %>
			<%= hidden_field_tag 'sender', current_user.name_or_login %>
			<%= hidden_field_tag 'channel', "channel2" %>
			<%= submit_tag 'Send', {:onclick => "return submitmsg();"} %>
		<% end %>
	</div>
		
	<div class="clr"></div>
</div>
	
<script type="text/javascript" charset="utf-8">
    var jug = new Juggernaut();
	
	jug.subscribe("/chats/channel2", function(data){
		var u  		= $("<li/>");
		var m 		= $("<li/>");
		
		var user    = data.substring(0,parseInt(data.indexOf(':')));
		var message = data.substring(parseInt(data.indexOf(':'))+1);
		
		u.text(user).addClass("chat-username");
		m.text(message).addClass("chat-message");
		
		// Check whether user is scrolled down to bottom of stream before keeping them scrolled down 
		// NOTE: chat-stream-narrow is 520px high; we're checking against 530 to pull them down a tad if they forgot to scroll all the way down
		if ( ($("#chat-stream-narrow")[0].scrollHeight - 530) <= $("#chat-stream-narrow").scrollTop()){
			$("#chat-stream-narrow").append(u).append(m);
			$("#chat-stream-narrow").scrollTop($("#chat-stream-narrow")[0].scrollHeight);	
		}
		else {$("#chat-stream-narrow").append(u).append(m);} // don't scroll
		
	}); 

	function addInputBox(questionType, questionNum, questionAnswer)	{    
		switch(questionType) {
			case 'recitation':
				$('#quiz-answer').html("<textarea class='q-answer-input' name='txt" + questionNum + "' id='" + questionNum + "'></textarea>");
				$('#quiz-answer').append("<br/>")
				$('#quiz-answer').append("<input type='submit' value='Submit' id='submit-answer' class='button-link'>");
				$('#quiz-answer textarea').focus();
				break;

			case 'reference':
				$('#quiz-answer').html("<input type='text' class='q-answer-input' name='txt" + questionNum + "' id='" + questionNum + "'</input>");
				$('#quiz-answer').append("<input type='submit' value='Submit' id='submit-answer' class='button-link'>");
				$('#quiz-answer input').autocomplete({ lookup: ['Genesis', 'Exodus', 'Leviticus', 'Numbers', 'Deuteronomy', 'Joshua', 'Judges', 'Ruth', '1 Samuel', '2 Samuel',
					'1 Kings', '2 Kings','1 Chronicles', '2 Chronicles', 'Ezra', 'Nehemiah', 'Esther', 'Job', 'Psalm', 'Proverbs',
					'Ecclesiastes', 'Song of Songs', 'Isaiah', 'Jeremiah', 'Lamentations', 'Ezekiel', 'Daniel', 'Hosea', 'Joel', 
					'Amos', 'Obadiah', 'Jonah', 'Micah', 'Nahum', 'Habakkuk', 'Zephaniah', 'Haggai', 'Zechariah', 'Malachi', 'Matthew',
					'Mark', 'Luke', 'John', 'Acts', 'Romans', '1 Corinthians', '2 Corinthians', 'Galatians', 'Ephesians', 'Philippians',
					'Colossians', '1 Thessalonians', '2 Thessalonians', '1 Timothy', '2 Timothy', 'Titus', 'Philemon', 'Hebrews', 'James',
					'1 Peter', '2 Peter', '1 John', '2 John', '3 John', 'Jude', 'Revelation']						
				});
				$('#quiz-answer input').focus();
				break;

			default:
				$('#quiz-answer').html("<input type='text' class='q-answer-input'" + "name='txt" + questionNum + "' id='" + questionNum + "'</input>");
				$('#quiz-answer').append("<input type='submit' value='Submit' id='submit-answer' class='button-link'>");        	
	    }	 
	        
		$('input#submit-answer').click(function() {			
			var userAnswer = $('.q-answer-input').val();
			grade = getScore(questionAnswer, userAnswer, questionType)
			if (grade.score !== false) {
				$.post("/record_score", {	usr_id:		<%= current_user.id %>, 
											usr_name:	'<%= current_user.name_or_login %>', 
											usr_login:	'<%= current_user.login %>', 
											score: 		grade.score } );
				$("#quiz-messages").html("<p>" + grade.msg + "</p>").children("p").effect('highlight', {}, 3000);
				$('#quiz-answer').html("<strong>Your answer: </strong>" + userAnswer);
			}
		});
	}	
	
	jug.subscribe("/live_quiz/quiz_stream", function(data) {
		var div		= $("<div/>");
		var q  		= $("<h3/>");
		var p 		= $("<p/>");
		
		var q_num;
		var q_type;
		var q_text;
		var q_ref;
		var q_show;
		var q_ansr;
	
		q_num  = data.q_num;
		q_type = data.q_type;
		q_ref  = data.q_ref
		q_text = data.q_passages.<%= current_user.translation %>
		q_time = data.time_alloc
		
		switch (q_type)
		{
			case 'recitation':
			  q_show = q_ref;
			  q_ansr = q_text;
			break;
			
			case 'reference':
			  q_show = q_text;
			  q_ansr = q_ref;
			break;
			
			default:
			  q_show = 'Error'
		}
			
		q.text('Question ' + q_num).addClass("quiz-q-num");
		p.text(q_show).addClass("quiz-q");		
		div.append(q).append(p);
		
		$("#quiz-question").html(div);
		$("#quiz-question").scrollTop($("#quiz-question")[0].scrollHeight);
		
		addInputBox(q_type, q_num, q_ansr);
			
		<!-- Countdown clock -->			
		$('#quiz-timer').countdown('destroy').removeClass('red-highlight')
		$('#quiz-timer').countdown({until: +q_time, onTick: highlightLast5, onExpiry: disableSubmission, format: 'S'}); 
				     
		function highlightLast5(periods) { 
		    if ($.countdown.periodsToSeconds(periods) == 5) { 
		        $(this).addClass('red-highlight'); 
		    } 
		}
		
		function disableSubmission() { 
			$('input#submit-answer').hide(); 
		}		 						
	}); 	
	
	jug.subscribe("/live_quiz/scoreboard", function(data){

		$("#live-quiz-scores").empty();
		
		$.each(data.scoreboard, function(i, item) {
			
			var user  	= item.name + " ";
			var score 	= item.score;
			var li 		= $("<li/>");
			var u 		= $("<span/>");
			var s 		= $("<span/>");
			
			u.text(user).addClass("scoreboard-username");
			s.text(score).addClass("scoreboard-score");
			
			if(item.login == "<%= current_user.login %>"){
				li.addClass("hilite");
			}
			
			li.append(u).append(s);
			
			$("#live-quiz-scores").append(li);
			$("#live-quiz-scores").scrollTop(0);
		});
	}); 		
	
	function submitmsg() {    
		if ($("#msg_body").val() == "") {
			alert("Please put text in your message.");
			return false;
		}
		else {
			return true;
		}
	}	 

</script>


