<% page_title @group.name %>
<div class="white-box-with-margins">
<h1><%= @group.rank ? @group.rank.to_s + ". " : "" %><%= @group.name %></h1>

<div class="group-description">
	<%= best_in_place_if @can_edit, @group, :description, :as => :textarea, :place_holder => 'Click to enter a description of your group ...' %>
</div>

<table class="memverse-standard">
	<%= render :partial => "users/user_headings" %>
	<%= render :partial => "users/user", :collection => @users %>
</table>
</div>

<script type="text/javascript">
$(document).ready(function() {
  /* Activating Best In Place */
  jQuery(".best_in_place").best_in_place();
});
</script>