<% page_title @group.name %>
<div class="white-box-with-margins">
<h1><%= @group.rank ? @group.rank.to_s + ". " : "" %><%= @group.name %></h1>

<%= best_in_place @group, :description, :type => :textarea, :path => group_path(@group.id), :nil => 'Click to enter a description ...' %>

<table class="memverse-standard">
	<%= render :partial => "users/user_headings" %>
	<%= render :partial => "users/user", :collection => @users %>
</table>
</div>

<script type="text/javascript">
$(document).ready(function() {
  /* Activating Best In Place */
  jQuery(".best_in_place").best_in_place();
});
</script>