<div id="show-user">
	<div id="main-stats">
		<%= render :partial => "users/user_info" %>
	</div>
	
	<% if @user == current_user %>
		<div id="quest-info">
			<%= render :partial => "quests/current_user_quests", :locals => { :completed => @current_completed_quests, :current_user_quests => @current_user_quests } %> 
		</div>
	<% end %>

	
	<div id="complete-chapters">	
		<h2>Complete Chapters</h2>
	
		<table class="memverse-standard">
			<tbody>
				<% for cc in @user.complete_chapters %>
					<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">	
						<td align="left">	<%= cc[1]	%></td>	
						<td align="center">	<%= cc[0]	%></td>						
					</tr>
				<% end %>
			</tbody>
		</table>	
	</div> <!-- end: complete-chapters -->

	<div id="verse-distribution">
		
		<h2>Verse Distribution</h2>
		
		<table class="memverse-standard">
			<thead>
			<tr> <th></th>						<th>Memorized</th> 							<th>Learning</th>							</tr>	
			</thead>
			
			<tbody>
			<tr> <td width=200>All Verses</td>	<td><%= @user.memorized%></td>				<td><%= @user.learning%></td>				</tr>
			</tbody>
		</table>	
	
		<table class="memverse-standard">
			<thead>			
				<tr> <th></th>						<th>Memorized</th> 							<th>Learning</th><th>%</th>							</tr>	
			</thead>
			
			<tbody>			
				<tr><td width=200>Old Testament</td><td><%= @user.ot_verses["Memorized"]%></td>	<td><%= @user.ot_verses["Learning"]%></td><td><%= @user.ot_perc %>%</td></tr>
				<tr><td>New Testament</td>			<td><%= @user.nt_verses["Memorized"]%></td>	<td><%= @user.nt_verses["Learning"]%></td><td><%= @user.nt_perc %>%</td></tr>
			</tbody>			
		</table>	
	
		<table class="memverse-standard">
			<thead>			
				<tr> <th></th>						<th>Memorized</th> 							<th>Learning</th><th>%</th>					</tr>	
			</thead>
			<tbody>
				<tr><td width="200">History</td>	<td><%= @user.history["Memorized"]%></td>	<td><%= @user.history["Learning"]%></td>	<td><%= @user.h_perc %>%</td>	</tr>	
				<tr><td>Wisdom</td>					<td><%= @user.wisdom["Memorized"]%></td>	<td><%= @user.wisdom["Learning"]%></td>		<td><%= @user.w_perc %>%</td>	</tr>	
				<tr><td>Prophecy</td>				<td><%= @user.prophecy["Memorized"]%></td>	<td><%= @user.prophecy["Learning"]%></td>	<td><%= @user.p_perc %>%</td>	</tr>	
				<tr><td>Gospels</td>				<td><%= @user.gospel["Memorized"]%></td>	<td><%= @user.gospel["Learning"]%></td>		<td><%= @user.g_perc %>%</td>	</tr>	
				<tr><td>Epistles</td>				<td><%= @user.epistle["Memorized"]%></td>	<td><%= @user.epistle["Learning"]%></td>	<td><%= @user.e_perc %>%</td>	</tr>
			</tbody>							
		</table>	
	</div>	<!-- end: verse-distribution -->
</div> <!-- end: show-user -->

