	<tr>
		<td align="left" 	id='name'>	<%= user.name_or_login	%></td>
		<td align="center" 	id='mem'>	<%= user.memorized %></td>
		<td align="center" 	id='lrn'>	<%= user.learning %></td>
		<td align="center" 	id='acc'>	<%= user.accuracy %></td>
		<td align="left" 	id='church'><%= user.church ? link_to(user.church.name, { :controller => "profile", :action => "show_church", :church => user.church.id }) : "" %></td>
		<td align="left" 	id='cntry'>	<%= user.country ? user.country.printable_name : "" %></td>	
		<td align="center" 	id='start'>	<%= user.created_at.to_date %></td>
		<td align="center" 	id='status'><%= user.status %></td>
	</tr>
