<script src="http://cdn.jquerytools.org/1.0.2/jquery.tools.min.js"></script>
<% page_title  I18n.t :signup, :scope => 'page_titles' %>
<% page_banner I18n.t :signup, :scope => 'page_titles' %>

<div class="entry-form" id="signup-page-form">

	<% @user.password = @user.password_confirmation = nil %>

	<% form_for @user do |f| %>
		<%= f.error_messages %>
		<fieldset>
			<legend>Your Details</legend>
			<ol>
				<li>
					<%= f.label 			:login, 'Username' %>
					<%= f.text_field 		:login %>
					<div class="tooltip">You'll use this username to login to Memverse.</div>					
				</li>
				<li>
					<%= f.label 			:email %>
					<%= f.text_field 		:email %>
					<div class="tooltip">Check this carefully. You will receive an activation email at this email address. We highly recommend adding
										 admin@memverse.com to your email address book to ensure delivery of the activation email.</div>					
				</li>
				<li>
					<%= f.label 			:password %>
					<%= f.password_field 	:password %>
					<div class="tooltip">Use one you'll remember. We use the highest level of encryption.</div>					
				</li>
				<li>
					<%= f.label 			:password_confirmation, 'Confirm Password' %>
					<%= f.password_field 	:password_confirmation %>
					<div class="tooltip">One more time and you're done!</div>						
				</li>
			</ol>
		</fieldset>
		
		<br>
		
		<div class="buttons">
			<%= submit_tag 'Sign up', :class => "no-dbl-click"  %>
			<img class="spinner" id="ajax_spinner" src="/images/indicator2.gif" alt="Submitting ..." style="display: none" />
		</div>			
					
	<% end %>
</div>

<script type="text/javascript">
	// select all desired input fields and attach tooltips to them 
	$("#new_user :input").tooltip({ 
	 
	    // place tooltip on the right edge 
	    position: ['center', 'right'], 
	 
	    // a little tweaking of the position 
	    offset: [-2, 110], 
	 
	    // use a simple show/hide effect 
	    effect: 'toggle', 
	     
	    // custom opacity setting 
	    opacity: 0.7 
	});
</script>

<!-- Prevent double-clicking on sign-up submit button -->
<script type="text/javascript">
	$(document).ready(function(){
		$('.no-dbl-click').click( function() {
			$(this).attr('disabled', 'disabled').hide();
			$('.spinner').show();
		});
	});
</script>

