<% if @user == current_user %>
	<% page_title I18n.t :my_dashboard, :scope => 'page_titles' %>
<% else %>
	<% page_title I18n.t :user_profile, :scope => 'page_titles', :name => @user.name_or_login %>
<% end %>
<div class="user-dashboard white-box-bg">
	<div class="three-box2">
    	
    	<div class="user-details">
        	<div class="user-details-img">
            	<span class="avatar"><a href="#"><%= image_tag @user.blog_avatar_url -%></a></span>
                <!-- <span class="edit"><a href="#">Edit</a></span> -->
            </div>
            <div class="user-details-text">
            	<h4><%= @user.name_or_login %></h4>
                <ul>
                	<li>
                    	<div class="member-list"><span>Member Since: </span><%= @user.created_at.to_date %></div>
                        <!-- <div class="edit-option"><a href="#">Edit</a></div> -->
                    </li>
					<% if @user.show_email? %>
                    <li>
                    	<div class="member-list"><span>Email: </span><%= @user.email %></div>
                        <!-- <div class="edit-option"><a href="#">Edit</a></div> -->
                    </li>
					<% end %>
                </ul>
            </div>
        </div>
    	
		<div id="user-profile" class="user-settings">
			<div class="user-settings-text">
				<ul>
					<li>
						<div class="user-option-list"><span>Location: </span>
							<% if @user.american_state && @user.country %>	
								<%= @user.american_state.name + ", " + @user.country.printable_name %></div>
							<% else %>
								<%= @user.country ? @user.country.printable_name : "" %></div>
							<% end %>
			            <!-- <div class="edit-option"><a href="#">Edit</a></div> -->
		            </li>
					<li>
						<div class="user-option-list"><span>Language: </span><%= @user.language %></div>
						<!-- <div class="edit-option"><a href="#">Edit</a></div> -->
					</li>
					<li>
						<div class="user-option-list"><span>Church: </span><%= @user.church ? link_to(@user.church.name, { :controller => "profile", :action => "show_church", :church => @user.church.id }) : "" %></div>
					</li>
				</ul>
			</div>
		</div>

		<div id="user-work-load" class="user-settings">
			<div class="user-settings-text">
				<ul>
					<li>
						<div class="user-option-list"><span>Memory Time:</span> <%= @user.work_load %> Mins / Day </div>
					</li>					
					<li>
						<div class="user-option-list"><span>Pending Verses:</span> <%= @user.pending %> </div>								
					</li>
					<li>
						<div class="user-option-list"><span>Completed Sessions:</span> <%= @user.completed_sessions %> </div>
					</li>
					
					<% if @user == current_user %>
						<div class="view-button"><%= link_to image_tag("view.png", :width=>"192", :height=>"25", :alt=>"View All of Your Verses"), manage_verses_path %></div>
					<% end %>
				
				</ul>				
			</div>
		</div>
	    
	    <div class="clr"></div>
        
    </div>
</div> <!-- end: user-details -->


<div><img src="trans.png" width="1" height="10" alt="" /></div>

<div class="main-content"><!--main-content start-->
	<div class="main-left"><!--main-left start-->
		<div class="left-widget">
			<div class="left-widget-item pad">
				<h2>Memorized Verses</h2>
				<div class="book"><%= @user.memorized %></div> 
			</div>      		
			<div class="left-widget-item pad">
				<h2>Level</h2>
				<div class="level-icon"><%= @user.level %></div> 
			</div>  

	        <div class="left-widget-item">
				<h2>Ref Recall</h2>
				<div class="lightbulb"><%= @user.ref_grade %>%</div> 
	        </div>  
	        <div class="left-widget-item">
				<h2>Accuracy</h2>
				<div class="bullseye"><%= @user.accuracy %>%</div> 
			</div>  	             	
		</div>
		<% if @user == current_user %>
		<div class="left-widget pad">       	
			<div id="quest-info">
				<%= render :partial => "quests/current_user_quests", :locals => { :completed => @current_completed_quests, :current_user_quests => @current_user_quests } %> 
			</div>
		</div>
		<% end %>
	</div><!--main-left end-->

	<div class="main-right">
	<h2>Verse Distribution</h2>
    	      
        <div class="vs-distribution">
        	        	
        	<div class="vs-disti-left">
				<table>
					<thead>			
						<tr> <th></th><th>Memorized</th><th>Learning</th><th>%</th></tr>	
					</thead>
					
					<tbody>			
						<tr><th>Old Testament</th><td><%= @user.ot_verses["Memorized"]%></td>	<td><%= @user.ot_verses["Learning"]%></td><td><%= @user.ot_perc %>%</td></tr>
						<tr><th>New Testament</th><td><%= @user.nt_verses["Memorized"]%></td>	<td><%= @user.nt_verses["Learning"]%></td><td><%= @user.nt_perc %>%</td></tr>
						<tr><th>All Verses</th><td><%= @user.memorized%></td>	<td><%= @user.learning %></td><td></td></tr>
						<tr></tr>
					</tbody>			
				</table>
			</div>	
		
			<div class="vs-disti-right">
				<table>
					<thead>			
						<tr> <th></th>						<th>Memorized</th> 							<th>Learning</th><th>%</th>					</tr>	
					</thead>
					<tbody>
						<tr><th title="<%= I18n.t("book.name.Genesis") + " - " + I18n.t("book.name.Esther")%>">History</th>		<td><%= @user.history["Memorized"]%></td>	<td><%= @user.history["Learning"]%></td>	<td><%= @user.h_perc %>%</td>	</tr>	
						<tr><th title="<%= I18n.t("book.name.Job") + " - " + I18n.t("book.name.Song of Songs")%>">Wisdom</th>	<td><%= @user.wisdom["Memorized"]%></td>	<td><%= @user.wisdom["Learning"]%></td>		<td><%= @user.w_perc %>%</td>	</tr>	
						<tr><th title="<%= I18n.t("book.name.Isaiah") + " - " + I18n.t("book.name.Malachi") + " & " + I18n.t("book.name.Revelation") %>">Prophecy</th>	<td><%= @user.prophecy["Memorized"]%></td>	<td><%= @user.prophecy["Learning"]%></td>	<td><%= @user.p_perc %>%</td>	</tr>	
						<tr><th title="<%= I18n.t("book.name.Matthew") + " - " + I18n.t("book.name.John")%>">Gospels</th>		<td><%= @user.gospel["Memorized"]%></td>	<td><%= @user.gospel["Learning"]%></td>		<td><%= @user.g_perc %>%</td>	</tr>	
						<tr><th title="<%= I18n.t("book.name.Acts") + " - " + I18n.t("book.name.Jude")%>">Epistles</th>	<td><%= @user.epistle["Memorized"]%></td>	<td><%= @user.epistle["Learning"]%></td>	<td><%= @user.e_perc %>%</td>	</tr>
						<tr></tr>
					</tbody>							
				</table>        	
        	</div>

			<div class="clr"></div>

		</div> <!--vs-distribution end-->
		<hr />
		<h2>Complete Chapters</h2>
		<div id="complete-chapters">
			<table class="memverse-standard">
				<tbody>
					<% for cc in @user.complete_chapters %>
						<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
							<td align="left">	<%= cc[1]	%></td>
							<td align="center">	<%= cc[0]	%></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div> <!--complete-chapters end-->
	</div> <!--main-right end-->
    
    <div class="clr"></div>
    
</div><!--main-content end-->
    
<div class="clr"></div>
    
<script type="text/javascript">
$(document).ready(function() {
	// select all desired input fields and attach tooltips to them 
	$(".vs-disti-right table tbody tr th").tooltip({ 
	 
	    // place tooltip on the right edge 
	    position: ['center', 'left'], 
	 
	    // a little tweaking of the position 
	    offset: [-2, -15], 
	 
	    // use a simple show/hide effect 
	    effect: 'toggle', 
	     
	    // custom opacity setting 
	    opacity: 0.8, 
		
		//tooltip style
		tipClass: 'tooltip2'
	});
});
</script>
