<% if @user == current_user %>
	<% page_title I18n.t :my_dashboard, :scope => 'page_titles' %>
<% else %>
	<% page_title I18n.t :user_profile, :scope => 'page_titles', :name => @user.name_or_login %>
<% end %>
<div class="user-dashboard white-box-bg">
	<div class="three-box2">
    	
    	<div class="user-details">
        	<div class="user-details-img">
            	<span class="avatar"><a href="#"><%= image_tag @user.blog_avatar_url -%></a></span>
                <span class="edit"><a href="#">Edit</a></span>
            </div>
            <div class="user-details-text">
            	<h4><%= @user.name_or_login %></h4>
                <ul>
                	<li>
                    	<div class="member-list"><span>Member Since: </span><%= @user.created_at.to_date %></div>
                        <div class="edit-option"><a href="#">Edit</a></div>
                    </li>
                    <li>
                    	<div class="member-list"><span>Email: </span><%= @user.email %></div>
                        <div class="edit-option"><a href="#">Edit</a></div>
                    </li>
                </ul>
            </div>
        </div>
    	
    	<div class="user-settings">
        	<div class="user-settings-text">
            	<ul>
                	<li>
                    	<div class="user-option-list"><span>Location: </span><%= @user.american_state.name %></div>
                        <div class="edit-option"><a href="#">Edit</a></div>
                    </li>
                    <li>
                    	<div class="user-option-list"><span>Language: </span><%= @user.language %></div>
                        <div class="edit-option"><a href="#">Edit</a></div>
                    </li>
                    <li>
                    	<div class="user-option-list"><span>Church: </span><%= @user.church.name %></div>
                        <div class="user-option-info"><a href="#"><img src="/images/blue-icon.png" width="16" height="16" alt="" /></a></div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="user-work-load">
        	<span>Memory Time:</span> <%= @user.work_load %> Mins / Day
            <div class="view-button"><a href="#"><img src="/images/view.png" width="192" height="25" alt="" /></a></div>
        </div>
        
        <div class="clr"></div>
        
    </div>
</div> <!-- end: user-details -->


<div><img src="/images/trans.png" width="1" height="10" alt="" /></div>

<div class="main-content"><!--main-content start-->
	<div class="main-left"><!--main-left start-->
    	<div class="left-widget">
        	<h2>Complete Verses</h2>
            <div class="book"><%= @user.memorized %></div>
        </div>
        <div class="left-widget pad">
        	<h2>Accomplishments</h2>
            <ul>
            	<li><a href="#">Read Memverse Tutorial</a></li>
                <li><a href="#">Started Learning <span class="learn">35</span> verses</a></li>
                <li><a href="#">Watched Video Tutorial</a></li>
                <li><a href="#">Completed Task 1</a></li>
                <li><a href="#">Completed Task 2</a></li>
            </ul>
        </div>
    </div><!--main-left end-->
    
    <div class="main-right">
    	<h2>Verse Distribution</h2>
    	
        <div class="row1">
        	<span class="black">Memorized Learning</span>&nbsp;&nbsp;&nbsp; All Verses	0	&nbsp;&nbsp;&nbsp;<span class="red">30</span>
        </div>
        
        <div class="learning">
        	
        	<div class="learning-left">
            	<h5>Memorized Learning %</h5>
            	<span class="new-row">Old Testament &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0 &nbsp;&nbsp;&nbsp;&nbsp; 8 &nbsp;&nbsp;&nbsp;&nbsp; 27%</span>
                <span class="new-row">New Testament &nbsp;&nbsp;&nbsp;&nbsp; 0 &nbsp;&nbsp;&nbsp;&nbsp; 8 &nbsp;&nbsp;&nbsp;&nbsp; 27%</span>
                <span class="new-row">&nbsp;</span>
                <span class="new-row">&nbsp;</span>
                <span class="new-row">&nbsp;</span>
                <span class="new-row">&nbsp;</span>
            </div>
            
            <div class="learning-right">
            	<h5>Memorized Learning %</h5>
            	<span class="new-row">History &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0 &nbsp;&nbsp;&nbsp;&nbsp; 8 &nbsp;&nbsp;&nbsp;&nbsp; 27%</span>
                <span class="new-row">History &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0 &nbsp;&nbsp;&nbsp;&nbsp; 8 &nbsp;&nbsp;&nbsp;&nbsp; 27%</span>
                <span class="new-row">History &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0 &nbsp;&nbsp;&nbsp;&nbsp; 8 &nbsp;&nbsp;&nbsp;&nbsp; 27%</span>
                <span class="new-row">History &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0 &nbsp;&nbsp;&nbsp;&nbsp; 8 &nbsp;&nbsp;&nbsp;&nbsp; 27%</span>
                <span class="new-row">History &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0 &nbsp;&nbsp;&nbsp;&nbsp; 8 &nbsp;&nbsp;&nbsp;&nbsp; 27%</span>
                <span class="new-row">&nbsp;</span>
            </div>
            
            <div class="clr"></div>
            
        </div>
    </div> <!--main-right end-->
    
    <div class="clr"></div>
    
</div><!--main-content end-->
    
<div class="clr"></div>
    

