<% if @user == current_user %>
	<% page_title I18n.t :my_dashboard, :scope => 'page_titles' %>
<% else %>
	<% page_title I18n.t :user_profile, :scope => 'page_titles', :name => @user.name_or_login %>
<% end %>

<div class="user-dashboard white-box-bg">
	<div class="user-info-top-box">

    	<div class="user-details">

        	<div class="user-details-img">
            	<span class="avatar"><a href="#"><%= image_tag @user.blog_avatar_url -%></a></span>
            </div>

            <div class="user-details-text">
            	<h4><%= @user.name_or_login %></h4>
                <ul>
                	<li>
                    	<div class="member-list"><span>Member Since: </span><%= @user.created_at.to_date %></div>
                    </li>
					<% if @user.show_email? %>
                    <li>
                    	<div class="member-list"><span>Email: </span><%= @user.email %></div>
                    </li>
					<% end %>
                </ul>
            </div>

       </div> <!-- end: user-details -->

		<div id="user-profile" class="user-settings">
			<div class="user-settings-text">
				<ul>
					<li>
						<div class="user-option-list"><span>Location: </span>
							<% if @user.american_state && @user.country %>
								<%= @user.american_state.name + ", " + @user.country.printable_name %>
							<% else %>
								<%= @user.country ? @user.country.printable_name : "" %>
							<% end %>
						</div>
		            </li>
					<li>
						<div class="user-option-list"><span>Language: </span><%= @user.language %></div>
					</li>
					<li>
						<div class="user-option-list"><span>Church: </span><%= @user.church ? link_to(@user.church.name, { :controller => "church", :action => "show", :id => @user.church.id }) : "" %></div>
					</li>
				</ul>
			</div>
		</div>

		<div id="user-work-load" class="user-settings">
			<div class="user-settings-text">
				<ul>
					<li>
						<div class="user-option-list"><span>Memory Time:</span> <%= @user.work_load %> Mins / Day </div>
					</li>
					<li>
						<div class="user-option-list"><span>Pending Verses:</span> <%= @user.pending.count %> </div>
					</li>
					<li>
						<div class="user-option-list"><span>Completed Sessions:</span> <%= @user.completed_sessions %> </div>
					</li>
				</ul>
			</div>
		</div>

	    <div class="clr"></div>

    </div> <!-- end: user-info-top-box -->
</div> <!-- end: user-details -->

<div><%= image_tag("trans.png", :size => "1x10", :alt => "") %></div>

<div class="main-content"><!--main-content start-->
	<div class="main-left"><!--main-left start-->
		<div class="left-widget">
			<div class="left-widget-item pad">
				<h2>Memorized Verses</h2>
				<div class="book"><%= @user.memorized %></div>
			</div>
			<div class="left-widget-item pad">
				<h2>Level</h2>
				<div class="level-icon"><%= @user.level %></div>
			</div>
	        <div class="left-widget-item">
				<h2>Ref Recall</h2>
				<div class="lightbulb">
					<%= @user.ref_grade %> %
				</div>
	        </div>
	        <div class="left-widget-item">
				<h2>Accuracy</h2>
				<div class="bullseye">
					<%= @user.accuracy %> %
				</div>
			</div>
		</div> <!-- end: left-widget -->

		<% if @user == current_user %>
		<div class="left-widget pad">
			<div id="quest-info">
				<%= render :partial => "quests/current_user_quests", :locals => { :completed => @current_completed_quests, :current_user_quests => @current_user_quests } %>
			</div>
		</div>
		<% end %>

	</div><!--main-left end-->

	<div class="main-right">
		<%= render :partial => "quests/badges" %>
	</div>

	<div class="main-right">
		<h2>Verse Distribution</h2>

	        <div class="vs-distribution">

	        	<div class="vs-disti-left">
					<table>
						<thead>
							<tr> <th></th><th>Memorized</th><th>Learning</th><th>%</th></tr>
						</thead>

						<tbody>
							<tr>
								<th>Old Testament</th>
								<td><%= @user.category_verses(:ot)["Memorized"] %></td>
								<td><%= @user.category_verses(:ot)["Learning"]%></td>
								<td><%= @user.category_perc(:ot) %>%</td>
							</tr>
							<tr>
								<th>New Testament</th>
								<td><%= @user.category_verses(:nt)["Memorized"]%></td>
								<td><%= @user.category_verses(:nt)["Learning"]%></td>
								<td><%= @user.category_perc(:nt) %>%</td>
							</tr>
							<tr>
								<th>All Verses</th>
								<td><%= @user.memorized%></td>
								<td><%= @user.learning %></td>
								<td></td>
							</tr>
							<tr></tr>
						</tbody>
					</table>
				</div>

				<div class="vs-disti-right">
					<table>
						<thead>
							<tr>
								<th></th>
								<th>Memorized</th>
								<th>Learning</th>
								<th>%</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th title="<%= t("book.name.Genesis") %> - <%= t("book.name.Esther")%> &amp; <%= t("book.name.Acts")%>">History</th>
								<td><%= @user.category_verses(:history)["Memorized"]%></td>
								<td><%= @user.category_verses(:history)["Learning"]%></td>
								<td><%= @user.category_perc(:history) %>%</td>
							</tr>
							<tr>
								<th title="<%= t("book.name.Job") %> - <%= t("book.name.Song of Songs")%>">Wisdom</th>
								<td><%= @user.category_verses(:wisdom)["Memorized"]%></td>
								<td><%= @user.category_verses(:wisdom)["Learning"]%></td>
								<td><%= @user.category_perc(:wisdom) %>%</td>
							</tr>
							<tr>
								<th title="<%= t("book.name.Isaiah") %> - <%= t("book.name.Malachi") %> &amp; <%= t("book.name.Revelation") %>">Prophecy</th>
								<td><%= @user.category_verses(:prophecy)["Memorized"]%></td>
								<td><%= @user.category_verses(:prophecy)["Learning"]%></td>
								<td><%= @user.category_perc(:prophecy) %>%</td>
							</tr>
							<tr>
								<th title="<%= t("book.name.Matthew") %> - <%= I18n.t("book.name.John")%>">Gospels</th>
								<td><%= @user.category_verses(:gospel)["Memorized"]%></td>
								<td><%= @user.category_verses(:gospel)["Learning"]%></td>
								<td><%= @user.category_perc(:gospel) %>%</td>
							</tr>
							<tr>
								<th title="<%= t("book.name.Romans") %> - <%= t("book.name.Jude")%>">Epistles</th>
								<td><%= @user.category_verses(:epistle)["Memorized"]%></td>
								<td><%= @user.category_verses(:epistle)["Learning"]%></td>
								<td><%= @user.category_perc(:epistle) %>%</td>
							</tr>
						</tbody>
					</table>
	        	</div>

				<div class="clr"></div>

			</div> <!-- end: vs-distribution -->
		</div> <!--main-right end-->

		<% if !@user.complete_chapters.empty? %>
			<div class="main-right">
				<h2>Complete Chapters</h2>
				<div id="complete-chapters">
					<table class="memverse-standard">
						<tbody>
							<% for cc in @user.complete_chapters %>
								<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
									<td align="left">	<%= cc[1]	%></td>
									<td align="center">	<%= cc[0]	%></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div> <!--complete-chapters end-->
			</div> <!--main-right end-->
		<% end %>

	    <div class="clr"></div>
    </div>

</div><!--main-content end-->

<div class="clr"></div>

<script type="text/javascript">
$( function() {
	$( document ).tooltip({
		position: { my: "right-10 center", at: "left center" }
	});
});
</script>

