<% page_title "Change Password" %>

<div class="white-box-with-margins">
<div class="entry-form" id="signup-page-form">

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
	
		<h2>Change your password</h2>

		<%= devise_error_messages! %>
	
		<%= f.hidden_field :reset_password_token %>
			
		<ul>
			<li>
				<%= f.password_field :password, 			 :placeholder => "New password" %>					
			</li>
			<li>
				<%= f.password_field :password_confirmation, :placeholder => "Confirm new password" %>
			</li>			
		</ul>			
	
		<div><%= f.submit "Change my password", :class => "request-button" %></div>
	<% end %>

	<br />
	
	<div class="sign-up-links">
		<%= render :partial => "devise/shared/links" %>	
	</div>	

</div>
</div>

<script type="text/javascript">
	fauxPlaceholder();
</script>