<% page_title "Forgotten Password" %>

<div class="white-box-with-margins">
<div class="entry-form" id="signup-page-form">
			
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
		<div>
			<h2>Forgot your password?</h2>
		  	<%= devise_error_messages! %>
			<ul>
				<li>
					<%= f.email_field		:email, :placeholder => "Email address" %>					
				</li>
			</ul>		  	
		
			<div><%= f.submit "Send me reset password instructions", :class => "request-button" %></div>

		</div>

	<% end %>			
					
	<br />
	
	<div class="sign-up-links">
		<%= render :partial => "devise/shared/links" %>	
	</div>	
	
</div>
</div>

<script type="text/javascript">
	fauxPlaceholder();
</script>