<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Memverse - <%= I18n.t :mainpage, :scope => 'page_titles' %></title>

<%= stylesheet_link_tag "application" %>

<meta name="description" content="<%= I18n.t :default, :scope => 'page_descriptions' %>" />
<meta name="keywords" content="memorize bible, memorize scripture, popular bible verses, memorize bible verses," />

<!-- Facebook Open Graph tags -->
<meta property="og:title"		content="<%= page_title || Memverse %>"/>
<meta property="og:type"		content="website"/>
<meta property="og:image"		content="<%= asset_path( 'memverse_swords.jpg' ) %>"/>
<meta property="og:url"			content="<%= request.url %>"/>
<meta property="og:site_name"	content="Memverse"/>
<meta property="fb:admins"		content="1799626379, kyrriana"/>
<meta property="og:description" content="A community of believers memorizing the bible"/>

<!-- Google, Microsoft verification -->
<meta name="verify-v1" content="IrqDYi2zxAyS8GUAqQcyXvnmcxhtuNITeCIFYLa76LQ=" />
<meta name="msvalidate.01" content="A1BB69E880870637C825F612E2FA4034" />

<!-- Identify blog feed -->
<link rel="alternate" type="application/rss+xml" title="Memverse Blog" href="http://feeds.feedburner.com/MemverseBlog" />

<!-- Load fonts: Open Sans from Google Web Fonts and Museo Slab from TypeKit -->
<script type="text/javascript" src="//use.typekit.net/acm5rxh.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,greek' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.min.js"></script>
<%= javascript_include_tag "jquery.tools.min" %>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>

<!-- Main Javascript Manifest -->
<%= javascript_include_tag "application" %>

<!--[if IE 6]>
<style type="text/css">
	.learn-area
	{
		padding-top:16px;
	}
</style>
<![endif]-->

<style type="text/css">
.left-widget
{
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	border-radius:8px;
	behavior:url(PIE.htc);
}

.main-right
{
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	border-radius:8px;
	behavior:url(PIE.htc);
}

/* Home page wrapper is not 1080px like other pages */
#wrapper {
	width: 940px;
}
</style>

</head>

<body>

<div id="narrow-login">
<div id="wrapper"><!--wrapper start-->

	<div id="header"><!--header start-->
		<div class="header-top-narrow"><!--header-top start-->
			<div id="logo"><a href="/" title="<%= I18n.t :mainpage, :scope => 'page_titles' %> - Memverse"><%= image_tag("logo.png", :size => "253x31", :alt => "") %></a></div>
			<div class="top-right"><!--top-right start-->

				<!-- <div class="iphone">iPhone / iPad App (coming soon):</div> -->

				<div class="auth-button">
					<ul>
						<li><%= link_to 'SIGN UP', new_user_registration_path %></li>
						<li><a href="#login" id="login-link">LOG IN</a></li>
					</ul>
				</div>

			</div><!--top-right end-->
		</div><!--header-top end-->

		<div class="menu menu-main-only"><!--menu start-->
			<ul>
				<li><%= link_to t('menu.home'), root_path %></li>
				<li><%= link_to t('menu.demo').html_safe, demo_path %></li>
				<li><%= link_to t('menu.learn').html_safe, tutorial_path %></li>
				<li><%= link_to t('learn_menu.Video Tutorial').html_safe, "https://www.youtube.com/watch?v=MAWn3qfkGrA&fs=1&feature=player_embedded&rel=0", :class => 'tut-video' %></li>
				<li><%= link_to t('menu.leaderboard'), leaderboard_path %></li>
				<li><%= link_to t('menu.help'), faq_path %></li>
				<li><%= link_to t('menu.blog'), bloggity.root_path %></li>
				<li><%= link_to t('menu.contact'), contact_path %></li>
				<li>&nbsp;</li>
			</ul>
		</div><!--menu end-->
	</div><!--header end-->

	<%= flash_messages %>

	<div><%= image_tag("trans.png", :size => "1x8", :alt => "") %></div>

	<%= render "sessions/vsillumination" %>

	<div><%= image_tag("trans.png", :size => "1x20", :alt => "") %></div>

	<div id="banner-bg"><!--banner-bg start-->
		<div class="banner-top"><!--banner-top start-->
			<div class="banner-img"><%= image_tag("banner-img.png", :size => "209x211", :alt => "Bible") %></div>
			<div class="banner-text">
				<h1>Learn Memory Verses for Life:</h1>
				<!-- <h1>Learn God's Word Like Never Before:</h1> -->
				<div class="text-left">
					<ul>
						<li>Quickly memorize Bible verses</li>
						<li>100% Online (no software to download)</li>
						<li>Be encouraged by a community</li>
					</ul>
				</div>
				<div class="text-right">
					<ul>
						<li><a href="/supermemo">An optimal review system</a></li>
						<li>Memorize at your own pace</li>
						<li class="free">IT'S FREE!</li>
					</ul>
				</div>
				<div class="clr"></div>
			</div>
		</div><!--banner-top end-->
		<div class="banner-bottom"><!--banner-bottom start-->
			<ul>
				<li><%= link_to 'try the memverse demo', demo_path %></li>
				<li><%= link_to 'top 100 memory verses', popular_path %></li>
				<li><%= link_to 'learn more', tutorial_path %></li>
				<li><%= link_to 'sign up today', new_user_registration_path, :class => 'active' %></li>
			</ul>
		</div><!--banner-bottom end-->
	</div><!--banner-bg end-->

	<div><%= image_tag("trans.png", :size => "1x10", :alt => "") %></div>

<div id="content"><!--content start-->
	<div class="content-box1"><!--box1 start-->
	<div class="content-box1-bottom">
	<div class="content-box1-top">
		<h2>How it works</h2>
		<div class="text-area1">
			<div class="content-row">
				<div class="content-icon"><%= image_tag("icon1.png", :size => "32x28", :alt => "") %></div>
				<div class="content-text">
					<h3>Memorization</h3>
					<p>When you login, Memverse will present you with the memory verses that are due for review.
					   The timing between review sessions is calculated by the software so you don't need to keep track of this yourself.
					</p>
					<span class="learn-more"><%= link_to 'Learn More', supermemo_path %></span>
				</div>
				<div class="clr"></div>
			</div>
			<div class="content-row">
				<div class="content-icon"><%= image_tag("icon5.png", :size => "48x41", :alt => "") %></div>
				<div class="content-text">
					<h3>Tracking Your Progress</h3>
					<p>Memverse will keep track of all your memory verses and will show you how you are progressing.
					   It will recommend that you add new memory verses at the appropriate time.</p>
					<span class="learn-more"><%= link_to 'Learn More', tutorial_path %></span>
				</div>
				<div class="clr"></div>
			</div>
		</div>
	</div>
	</div>
	</div><!--box1 end-->

    <%= render "sessions/box2" %>

	<div class="content-box3-area"><!--box3-area start-->
	<div class="content-box3"><!--box3 start-->
	<div class="content-box3-bottom">
	<div class="content-box3-top">
		<a name="login"></a><h2 class="red">Sign In</h2>

		<div class="sign-field">
			<%= form_for :user, :url => user_session_path(@user) do |f| %>
				<div>
					<%= f.email_field :email, :class => "new-field", :id => :login_email, :placeholder => "Your email address" %>
					<%= f.password_field :password, :class => "new-field", :placeholder => "Your password" %>
				</div>
				<div class="button-area">
					<div class="forgot">
						<%= f.check_box :remember_me %> <%= f.label :remember_me %>
					</div>
					<div class="right-button">
						<%= submit_tag '', :class => "submit-button" %>
					</div>
				</div>
			<% end 	%>
		</div>

	</div>
	</div>
	</div><!--box3 end-->
	<div class="content-box3 nomar"><!--box3 start-->
	<div class="content-box3-bottom">
	<div class="content-box3-top2">
		<h2 class="gray">Volunteer</h2>
		<div class="volunteers">
			<p>We are looking for <span><%= link_to "volunteers", volunteer_path %></span> in a variety of areas. If you'd like to help, we'd like to hear from you...</p>
			<div class="learn-area"><%= link_to image_tag("learn-more.png", :width=>"179", :height=>"25", :alt=>"Volunteer"), volunteer_path %></div>
		</div>
	</div>
	</div>
	</div><!--box3 end-->
	</div><!--box3-area end-->

	<div class="clr"></div>
</div><!--content end-->

	<div id="footer"><!--footer start-->
		<span><%= link_to 'Mission Statement', mission_path %> |</span>
		<span>&copy; <%= Date.today.year %> Memverse | </span>
		<span>Web Design: <a href="http://www.emekarajis.org">Emeka Rajis</a></span>
	</div><!--footer end-->

</div><!--wrapper end-->
</div><!--narrow-login -->
<script type="text/javascript">
	$(function() {
		// input placeholder fix
		fauxPlaceholder();
	});
</script>
<!-- Tutorial video using fancybox -->
<script type="text/javascript">
	$(document).ready(function() {
		$(".tut-video").click(function() {
			$.fancybox({
					'padding'		: 0,
					'autoScale'		: false,
					'transitionIn'	: 'none',
					'transitionOut'	: 'none',
					'title'			: this.title,
					'width'			: 1020,
					'height'		: 600,
					'href'			: this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
					'type'			: 'swf',
					'swf'			: {	'wmode'				: 'transparent',
										'allowfullscreen'	: 'true' }
				});

			return false;
		});
		
		$("#login-link").click(function (e) {
			e.preventDefault();
			location.href = "#login";
			document.getElementById("login_email").focus();
		});
	});
</script>
</body>
</html>
