<% page_title I18n.t :add_new_verses, :scope => 'page_titles' %>
<% page_description I18n.t :add_new_verses, :scope => 'page_descriptions' %>

<div class="white-box-with-margins">
<div class="quick-start">

	<div id="choose-translation">

		<h2>Step 1: Choose your translation</h2>

		<div id="major-translations">
			<div class="quick-start-selection">
				<ul>
					<%= trans_set_link("NIV",   "NIV (1984 Edition)") %>
					<%= trans_set_link("ESV",   "ESV (2011 Edition)") %>
					<%= trans_set_link("KJV",   "King James Version") %>
					<%= trans_set_link("NKJ",   "New King James Version") %>
					<%= trans_set_link("NAS",   "New American Standard") %>
					<li id="minor-tl">          <%= link_to 'Show other translations',   nil, :class => 'active',     :remote => true %></li>
				</ul>
			</div>
		</div>

		<div id="minor-translations">
			<div class="quick-start-selection">
				<ul>
					<%= trans_set_link("NNV",   "NIV (2011 Edition)") %>
					<%= trans_set_link("ESV07", "ESV (2007 Edition)") %>
					<%= trans_set_link("RSV",   "Revised Standard Version") %>
					<%= trans_set_link("NRS",   "New Revised Standard Ver") %>
					<%= trans_set_link("NLT",   "New Living Translation") %>
					<%= trans_set_link("CEV",   "Contemporary English Ver") %>
					<%= trans_set_link("HCS",   "Holman Christian Std") %>
					<%= trans_set_link("DTL",   "Darby Translation") %>
					<%= trans_set_link("MSG",   "The Message") %>
					<%= trans_set_link("AMP",   "Amplified Bible") %>
					<%= trans_set_link("IRV",   "New Intl Reader's Ver") %>
					<%= trans_set_link("NCV",   "New Century Version") %>
					<%= trans_set_link("AKJ",   "Authorized King James Ver") %>
					<%= trans_set_link("UKJ",   "Updated King James Ver") %>
					<%= trans_set_link("GEN",   "Geneva Bible") %>
					<%= trans_set_link("SMP",   "Scottish Metrical Psalter") %>
					<%= trans_set_link("GW",    "God's Word Translation") %>
					<%= trans_set_link("GNT",   "Good News Translation") %>
					<li id="global-tl">         <%= link_to 'Show other languages',               nil, :class => 'active',     :remote => true %></li>
					<li class="tl-root">        <%= link_to '« Back',                             nil, :class => 'active',     :remote => true %></li>
				</ul>
			</div>
		</div>

		<div id="foreign-translations">
			<div class="quick-start-selection">
				<ul>
					<%= trans_set_link("GRK",   "Biblical Greek") %>
					<%= trans_set_link("NVI",   "Nueva Version Internacional") %>
					<%= trans_set_link("RVR",   "Reina-Valera 1960") %>
					<%= trans_set_link("LSV",   "Louis Segond 1910") %>
					<%= trans_set_link("LUT",   "Luther Bibel 1545") %>
					<%= trans_set_link("SCH",   "Schlachter 2000") %>
					<%= trans_set_link("LND",   "La Nuova Diodati") %>
					<%= trans_set_link("AFR",   "Afrikaans 1983 Translation") %>
					<%= trans_set_link("AFR53", "Afrikaans 1953 Translation") %>
					<%= trans_set_link("HSV",   "Herziene Statenvertaling") %>
					<%= trans_set_link("NBV",   "De Nieuwe Bijbelvertaling") %>
					<%= trans_set_link("TMB",   "Terjemahan Baru") %>
					<%= trans_set_link("MBB",   "Magandang Balita Biblia") %>
					<%= trans_set_link("TAB",   "Tagalog Ang Biblia") %>
					<%= trans_set_link("SPB",   "Svenska Folkbibeln") %>
					<%= trans_set_link("ACF",   "Almeida Corrigida e Fiel") %>
					<%= trans_set_link("ARA",   "Almeida Revista e Atualizada") %>
					<%= trans_set_link("HCV",   "Haitian Creole Version") %>
					<%= trans_set_link("NBLH",  "Nueva Biblia LH") %>
					<%= trans_set_link("LBLA",  "La Biblia de las Américas") %>
					<%= trans_set_link("ICE",   "Icelandic Bible (2007)") %>
					<%= trans_set_link("RDC",   "Romanian Dumitru Cornilescu") %>
					<%= trans_set_link("NLV",   "Nuwe Lewende Vertaling") %>
					<%= trans_set_link("MGK",   "Modern Greek") %>
					<%= trans_set_link("TCL02", "Kutsal Kitap Yeni Çeviri") %>
					<%= trans_set_link("KRV",   "Korean Revised Version") %>
					<%= trans_set_link("CCB",   "Chinese Contemporary Bible") %>
					<%= trans_set_link("CUVS",   "Chinese Union Version (S)") %>
					<%= trans_set_link("CUV",   "Chinese Union Version (T)") %>
					<%= trans_set_link("ET97",  "Piibel, Vana ja Uus Testament") %>
					<li class="tl-root"><%= link_to '« Back', nil, class: 'active', remote: true %></li>
				</ul>
			</div>
		</div>
	</div>

	<div id="choose-time-alloc">

		<h2>Step 2: Choose your time allocation</h2>

		<div class="quick-start-selection">
			<ul>
				<li class="time-set"><%= link_to ' 5 Mins / Day', set_time_alloc_path( 5), :remote => true %></li>
				<li class="time-set"><%= link_to '10 Mins / Day', set_time_alloc_path(10), :remote => true %></li>
				<li class="time-set"><%= link_to '20 Mins / Day', set_time_alloc_path(20), :remote => true %></li>
			</ul>
		</div>

	</div>

	<div id="choose-starting-verses">

		<h2>Step 3: Select 5-10 verses to start memorizing</h2>

		<%= render "verses/add_verse" %>

	</div>

</div>
</div>

<!-- Google Code for Memverse - Quickstart Conversion Page -->
<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 1055933402;
	var google_conversion_language = "en";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "s1AWCNDZ5wIQ2ofB9wM";
	var google_conversion_value = 0;
	if (0.10) {
	  google_conversion_value = 0.10;
	}
	/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1055933402/?value=0.10&amp;label=s1AWCNDZ5wIQ2ofB9wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
