<% page_title I18n.t :add_new_verses, :scope => 'page_titles' %>
<% page_description I18n.t :add_new_verses, :scope => 'page_descriptions' %>

<div class="white-box-with-margins">
<div class="quick-start">

	<div id="choose-translation">

		<h2>Step 1: Choose your translation</h2>

		<div id="major-translations">
			<div class="quick-start-selection">
				<ul>
					<li id="NIV" class="tl-set"><%= link_to 'NIV (1984 Edition)',        set_translation_path('NIV'), :remote => true %></li>
					<li id="ESV" class="tl-set"><%= link_to 'ESV (2011 Edition)',        set_translation_path('ESV'), :remote => true %></li>
					<li id="KJV" class="tl-set"><%= link_to 'King James Version',        set_translation_path('KJV'), :remote => true %></li>
					<li id="NKJ" class="tl-set"><%= link_to 'New King James Version',    set_translation_path('NKJ'), :remote => true %></li>
					<li id="NAS" class="tl-set"><%= link_to 'New American Standard',     set_translation_path('NAS'), :remote => true %></li>
					<li id="minor-tl">          <%= link_to 'Show other translations',   nil, :class => 'active',     :remote => true %></li>
				</ul>
			</div>
		</div>

		<div id="minor-translations">
			<div class="quick-start-selection">
				<ul>
					<li id="NNV" class="tl-set"><%= link_to 'NIV (2011 Edition)',                 set_translation_path('NNV'), :remote => true %></li>
					<li id="ESV07" class="tl-set"><%= link_to 'ESV (2007 Edition)',               set_translation_path('ESV07'), :remote => true %></li>
					<li id="RSV" class="tl-set"><%= link_to 'Revised Standard Version',           set_translation_path('NRS'), :remote => true %></li>
					<li id="NRS" class="tl-set"><%= link_to 'New Revised Standard Ver',           set_translation_path('RSV'), :remote => true %></li>
					<li id="NLT" class="tl-set"><%= link_to 'New Living Translation',             set_translation_path('NLT'), :remote => true %></li>
					<li id="CEV" class="tl-set"><%= link_to 'Contemporary English Ver',           set_translation_path('CEV'), :remote => true %></li>
					<li id="HCS" class="tl-set"><%= link_to 'Holman Christian Std',               set_translation_path('HCS'), :remote => true %></li>
					<li id="DTL" class="tl-set"><%= link_to 'Darby Translation',                  set_translation_path('DTL'), :remote => true %></li>
					<li id="MSG" class="tl-set"><%= link_to 'The Message',                        set_translation_path('MSG'), :remote => true %></li>
					<li id="AMP" class="tl-set"><%= link_to 'Amplified Bible',                    set_translation_path('AMP'), :remote => true %></li>
					<li id="IRV" class="tl-set"><%= link_to "New Intl Reader's Ver",       	      set_translation_path('IRV'), :remote => true %></li>
					<li id="UKJ" class="tl-set"><%= link_to 'Updated King James Ver',             set_translation_path('UKJ'), :remote => true %></li>
					<li id="GEN" class="tl-set"><%= link_to 'Geneva Bible',                       set_translation_path('GEN'), :remote => true %></li>
					<li id="global-tl">         <%= link_to 'Show other languages',               nil, :class => 'active',     :remote => true %></li>
					<li class="tl-root">        <%= link_to '« Back',                             nil, :class => 'active',     :remote => true %></li>
				</ul>
			</div>
		</div>

		<div id="foreign-translations">
			<div class="quick-start-selection">
				<ul>
					<li id="GRK" class="tl-set"><%= link_to 'Biblical Greek',                set_translation_path('GRK'),   :remote => true %></li>
					<li id="NVI" class="tl-set"><%= link_to 'Nueva Version Internacional',   set_translation_path('NVI'),   :remote => true %></li>
					<li id="RVR" class="tl-set"><%= link_to 'Reina-Valera 1960',             set_translation_path('RVR'),   :remote => true %></li>
					<li id="LSV" class="tl-set"><%= link_to 'Louis Segond 1910',             set_translation_path('LSV'),   :remote => true %></li>
					<li id="LUT" class="tl-set"><%= link_to 'Luther Bibel 1545',             set_translation_path('LUT'),   :remote => true %></li>
					<li id="SCH" class="tl-set"><%= link_to 'Schlachter 2000',               set_translation_path('SCH'),   :remote => true %></li>
					<li id="LND" class="tl-set"><%= link_to 'La Nuova Diodati',              set_translation_path('LND'),   :remote => true %></li>
					<li id="AFR" class="tl-set"><%= link_to 'Afrikaans 1983 Translation',    set_translation_path('AFR'),   :remote => true %></li>
					<li id="AFR53" class="tl-set"><%= link_to 'Afrikaans 1953 Translation',  set_translation_path('AFR53'), :remote => true %></li>
					<li id="HSV" class="tl-set"><%= link_to 'Herziene Statenvertaling',      set_translation_path('HSV'),   :remote => true %></li>
					<li id="NBV" class="tl-set"><%= link_to 'De Nieuwe Bijbelvertaling',     set_translation_path('NBV'),   :remote => true %></li>
					<li id="TMB" class="tl-set"><%= link_to 'Terjemahan Baru',               set_translation_path('TMB'),   :remote => true %></li>
					<li id="MBB" class="tl-set"><%= link_to 'Magandang Balita Biblia',       set_translation_path('MBB'),   :remote => true %></li>
					<li id="SPB" class="tl-set"><%= link_to 'Svenska Folkbibeln',            set_translation_path('SPB'),   :remote => true %></li>
					<li id="ACF" class="tl-set"><%= link_to 'Almeida Corrigida e Fiel',      set_translation_path('ACF'),   :remote => true %></li>
					<li id="ARA" class="tl-set"><%= link_to 'Almeida Revista e Atualizada',  set_translation_path('ARA'),   :remote => true %></li>
					<li class="tl-root">        <%= link_to '« Back',                        nil, :class => 'active',       :remote => true %></li>
				</ul>
			</div>
		</div>
	</div>

	<div id="choose-time-alloc">

		<h2>Step 2: Choose your time allocation</h2>

		<div class="quick-start-selection">
			<ul>
				<li class="time-set"><%= link_to ' 5 Mins / Day', set_time_alloc_path( 5), :remote => true %></li>
				<li class="time-set"><%= link_to '10 Mins / Day', set_time_alloc_path(10), :remote => true %></li>
				<li class="time-set"><%= link_to '20 Mins / Day', set_time_alloc_path(20), :remote => true %></li>
			</ul>
		</div>

	</div>

	<div id="choose-starting-verses">

		<h2>Step 3: Select 5-10 verses to start memorizing</h2>

		<%= render "verses/add_verse" %>

	</div>

</div>
</div>

<!-- Google Code for Memverse - Quickstart Conversion Page -->
<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 1055933402;
	var google_conversion_language = "en";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "s1AWCNDZ5wIQ2ofB9wM";
	var google_conversion_value = 0;
	if (0.10) {
	  google_conversion_value = 0.10;
	}
	/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1055933402/?value=0.10&amp;label=s1AWCNDZ5wIQ2ofB9wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>