<% page_title I18n.t :add_new_verses, :scope => 'page_titles' %>
<% page_description I18n.t :add_new_verses, :scope => 'page_descriptions' %>

<div class="white-box-with-margins">

	<div id="choose-translation">
	
		<h2>Step 1: Choose your translation</h2>
		
		<div id="major-translations">
			<div class="quick-start-selection">
				<ul>
					<li class="tl-set"><%= link_to 'NIV (1984 Edition)',        set_translation_path('NIV'), :remote => true %></li>
					<li class="tl-set"><%= link_to 'English Standard Version',  set_translation_path('ESV'), :remote => true %></li>
					<li class="tl-set"><%= link_to 'King James Version',        set_translation_path('KJV'), :remote => true %></li>
					<li class="tl-set"><%= link_to 'New King James Version',    set_translation_path('NKJ'), :remote => true %></li>
					<li class="tl-set"><%= link_to 'New American Standard',     set_translation_path('NAS'), :remote => true %></li>
					<li id="minor-tl"> <%= link_to 'Show other translations',   nil, :class => 'active',     :remote => true %></li>
				</ul>
			</div>
		</div>
		
		<div id="minor-translations">
			<div class="quick-start-selection">
				<ul>
					<li class="tl-set"><%= link_to 'NIV (2011 Edition)',                 set_translation_path('NNV'), :remote => true %></li>
					<li class="tl-set"><%= link_to 'Revised Standard Version',           set_translation_path('NRS'), :remote => true %></li>
					<li class="tl-set"><%= link_to 'New Revised Standard Version',       set_translation_path('RSV'), :remote => true %></li>
					<li class="tl-set"><%= link_to 'New Living Translation',             set_translation_path('NLT'), :remote => true %></li>
					<li class="tl-set"><%= link_to 'Contemporary English Version',       set_translation_path('CEV'), :remote => true %></li>
					<li class="tl-set"><%= link_to 'Holman Christian Standard',          set_translation_path('HCS'), :remote => true %></li>
					<li class="tl-set"><%= link_to 'Darby Translation',                  set_translation_path('DTL'), :remote => true %></li>
					<li class="tl-set"><%= link_to 'The Message',                        set_translation_path('MSG'), :remote => true %></li>
					<li class="tl-set"><%= link_to 'Amplified Bible',                    set_translation_path('AMP'), :remote => true %></li>
					<li class="tl-set"><%= link_to "New International Reader's Ver",     set_translation_path('IRV'), :remote => true %></li>
					<li class="tl-set"><%= link_to 'Updated King James Version',         set_translation_path('UKJ'), :remote => true %></li>
					<li class="tl-set"><%= link_to 'Geneva Bible',                       set_translation_path('GEN'), :remote => true %></li>
					<li id="global-tl"><%= link_to 'Show other languages',               nil, :class => 'active',     :remote => true %></li>
				</ul>
			</div>			
		</div>
		
		<div id="foreign-translations">
			<div class="quick-start-selection">
				<ul>
					<li class="tl-set"><%= link_to 'Biblical Greek',              set_translation_path('GRK'), :remote => true %></li>
					<li class="tl-set"><%= link_to 'Nueva Version Internacional', set_translation_path('NVI'), :remote => true %></li>
					<li class="tl-set"><%= link_to 'Reina-Valera 1960',           set_translation_path('RVR'), :remote => true %></li>
					<li class="tl-set"><%= link_to 'Louis Segond 1910',           set_translation_path('LSV'), :remote => true %></li>
					<li class="tl-set"><%= link_to 'La Nuova Diodati',            set_translation_path('LND'), :remote => true %></li>
					<li class="tl-set"><%= link_to 'Afrikaans 1983 Translation',  set_translation_path('AFR'), :remote => true %></li>
					<li class="tl-set"><%= link_to 'Herziene Statenvertaling',    set_translation_path('HSV'), :remote => true %></li>
					<li class="tl-set"><%= link_to 'De Nieuwe Bijbelvertaling',   set_translation_path('NBV'), :remote => true %></li>
					<li class="tl-set"><%= link_to 'Terjemahan Baru',             set_translation_path('TMB'), :remote => true %></li>
					<li class="tl-set"><%= link_to "Magandang Balita Biblia",     set_translation_path('MBB'), :remote => true %></li>
					<li class="tl-set"><%= link_to 'Svenska Folkbibeln',          set_translation_path('SPB'), :remote => true %></li>
					<li class="tl-set"><%= link_to 'Almeida Corrigida e Fiel',    set_translation_path('ACF'), :remote => true %></li>
				</ul>
			</div>	
		</div>
	</div>
	
	<div id="choose-time-alloc">
		
		<h2>Step 2: Choose your time allocation</h2>
		
		<div class="quick-start-selection">
			<ul>
				<li class="time-set"><%= link_to ' 5 Mins / Day', set_time_alloc_path( 5), :remote => true %></li>
				<li class="time-set"><%= link_to '10 Mins / Day', set_time_alloc_path(10), :remote => true %></li>
				<li class="time-set"><%= link_to '20 Mins / Day', set_time_alloc_path(20), :remote => true %></li>
			</ul>
		</div>

	</div>	

	<div id="choose-starting-verses">

		<h2>Step 3: Choose your starting verses</h2>

		<%= render "verses/add_verse" %>
		
	</div>	
	
</div>

<script language="JavaScript" type="text/javascript"><!--
	
	$(document).ready(function() {
		
		$("#minor-tl").click(function() {
			$("#major-translations").hide();
			$("#minor-translations").show();
			$("#foreign-translations").hide();
		});			

		$("#global-tl").click(function() {
			$("#major-translations").hide();
			$("#minor-translations").hide();
			$("#foreign-translations").show();
		});		
		
		$(".tl-set").click(function() {
			$("#choose-translation").hide();
			$("#choose-time-alloc").show();
			// Load popular verses in chosen translation
			$.getJSON("/popverses/index.json", { tl: "ESV" }, function(pop_verses) {
				$.each (pop_verses, function(i, pv) {
					// We need to group popular verses		
					if (i % 3 == 0) {
						// Start new group
						var $new_vs_group = $('<div/>').addClass('pop-verse-group')
						$('.items').append($new_vs_group)
					} 
					var $new_pv = $('<div/>').addClass('item')
						.append($('<h3/>').text(pv.ref))
						.append($('<p/>').text(pv.text))
						.append($('<div/>', {class: 'quick-start-add-verse', id: 'quick-start-add-verse'})
						.html("<a data-remote='true' href='/add/" + pv.id + "'class='quick-start-add-button' id='quick-start-add'></a>"));					
					$('.pop-verse-group').filter(':last').append($new_pv);																
				});
				// initialize scrollable without mousewheel support
				$(".scrollable").scrollable({ vertical: true, mousewheel: true });	
			});

		});	
		
		$(".time-set").click(function() {
			$("#choose-time-alloc").hide();
			$("#choose-starting-verses").show();
		});			
			
		
	}); // End of jQuery document ready

--></script>