<% page_title "New Quiz Question" %>
<div class="white-box-with-margins">

	<h1>New Quiz Question</h1>

	<%= form_for(@question, :as => :quiz_question, :url => { :action => "create" }, :html => { :multipart => true }) do |f| %>

		<!-- Flag any errors -->
		<% if @question.errors.any? %>
			<div id="errorExplanation">
				<h2><%= pluralize(@question.errors.count, "error") %> prohibited this quiz from being saved:</h2>
				<ul>
					<% @question.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<!-- Associate with a quiz -->
		<p>
			<%= f.hidden_field  :quiz_id, :value => @quiz.id %>
	  	</p>

	  	<!-- Question number -->
	  	<div class="quiz-question-num">
			<%= f.label 		:question_no, "Question number" %><br />
			<%= f.select 		:question_no, (1..20), :selected => params[:qno] %>
	  	</div>

	  	<!-- Question type -->
	  	<div class="quiz-question-type">
			<%= f.label 		:question_type, "Type of question" %><br />
			<%= f.select		:question_type, [ ['Multiple Choice', 'mcq'        ],
												  ['Recite verse',	  'recitation' ],
												  ['Give reference',  'reference'  ]],
								{}, {:onchange => "questionType(this.value)"} %>
	  	</div>

	  	<p id="passage">
			<%= f.label 		:passage, "Passage Reference" %><br />
			<%= f.text_field 	:passage %>
	  	</p>

	  	<!-- Entry form for MCQ -->
	  	<div id="mcq">

	  		<!-- Left side : Question and answers -->
		  	<div class="left-question">

			  	<p>
					<%= f.label 		:mc_question, "Question text" %><br />
					<%= f.text_area 	:mc_question, :size => "44x7" %>
				</p>

			  	<p>
					<%= f.label 		:mc_option_a, "Answer A" %><br />
					<%= f.text_field 	:mc_option_a, :size => 42 %>
					<%= f.radio_button  :mc_answer, "A" %>
				</p>

			  	<p>
					<%= f.label 		:mc_option_b, "Answer B" %><br />
					<%= f.text_field 	:mc_option_b, :size => 42 %>
					<%= f.radio_button  :mc_answer, "B" %>
				</p>

			  	<p>
					<%= f.label 		:mc_option_c, "Answer C" %><br />
					<%= f.text_field 	:mc_option_c, :size => 42 %>
					<%= f.radio_button  :mc_answer, "C" %>
				</p>

			  	<p>
					<%= f.label 		:mc_option_d, "Answer D" %><br />
					<%= f.text_field 	:mc_option_d, :size => 42 %>
					<%= f.radio_button  :mc_answer, "D" %>
				</p>

				<!-- Submit button -->
				<div class="quiz-submit">
					<%= f.submit 'Create' %>
				</div>

			</div>

			<!-- Right side : Other information -->
			<div class="right-other-info">

		  		<!-- MCQ category -->
			  	<p>
					<%= f.label 		:mcq_category, "Type of question" %><br />
					<%= f.select		:mcq_category, [ ['History',          'History'          ],
														 ['Quotations',	      'Quotations'       ],
														 ['Miracles',	      'Miracles'         ],
														 ['People',	          'People'           ],
														 ['Plants & Animals', 'Plants & Animals' ],
														 ['Geography',	      'Geography'        ],
														 ['Life of Christ',	  'Life of Christ'   ],
														 ['Prophecy',         'Prophecy'         ]] %>
			  	</p>

			  	<!-- Supporting reference -->
			  	<p>
					<%= f.label 		:supporting_ref, "Supporting Reference" %><br />
					<%= f.text_field 	:supporting_ref %>
				</p>

				<!-- Display supporting references -->
				<div class="supporting-ref-display">

				</div>

			</div>

		</div>

	<% end %> <!-- Form -->

</div>


<script language="JavaScript" type="text/javascript"><!--

	//------ Show either form to enter verse reference or form to enter MCQ  -------------------
	$passage = $("p#passage");
	$mcq = $("div#mcq");

	function questionType(qtype) {
		if (qtype == 'mcq') {
			$passage.hide();
			$mcq.show();
		} else {
			$passage.show();
			$mcq.hide();
		}
	};

	questionType($("select#quiz_question_question_type").val()); // called when the question type is changed

	$(document).ready(function() {

	    //------- Show verse in major translations ----------------
	    $("#quiz_question_supporting_ref").observe_field(0.2, function( ) {
	        // search and display results with callback function
	        multiTranslationSearch( this.value, displayMultiTranslationSearchResultsFn );
	    });

    });

--></script>