<% page_title "New Quiz Question" %>
<div class="white-box-with-margins">

	<h1>New Quiz Question</h1>

	<%= form_for(@question, :as => :quiz_question, :url => { :action => "create" }, :html => { :multipart => true }) do |f| %>

		<!-- Flag any errors -->
		<% if @question.errors.any? %>
		  <div id="errorExplanation">
			<h2><%= pluralize(@question.errors.count, "error") %> prohibited this quiz from being saved:</h2>
			<ul>
			<% @question.errors.full_messages.each do |msg| %>
			  <li><%= msg %></li>
			<% end %>
			</ul>
		  </div>
		<% end %>

		<!-- Associate with a quiz -->
		<p>
			<%= f.hidden_field  :quiz_id, :value => @quiz.id %>
	  	</p>

	  	<!-- Question number -->
	  	<p>
			<%= f.label 		:question_no, "Question number" %><br />
			<%= f.select 		:question_no, (1..20), :selected => params[:qno] %>
	  	</p>

	  	<!-- Question type -->
	  	<p>
			<%= f.label 		:question_type, "Type of question" %><br />
			<%= f.select		:question_type, [ ['Multiple Choice', 'mcq'        ],
												  ['Recite verse',	  'recitation' ],
												  ['Give reference',  'reference'  ]],
								{}, {:onchange => "questionType(this.value)"} %>
	  	</p>

	  	<p id="passage">
			<%= f.label 		:passage, "Passage Reference" %><br />
			<%= f.text_field 	:passage %>
	  	</p>

	  	<!-- Entry form for MCQ -->
	  	<div id="mcq">
		  	<p>
				<%= f.label 		:mc_question, "Question text" %><br />
				<%= f.text_area 	:mc_question, :size => "", :style => "height:40px;width:215px" %>
			</p>

		  	<p>
				<%= f.label 		:mc_option_a, "Answer A" %><br />
				<%= f.text_field 	:mc_option_a %>
				<%= f.radio_button  :mc_answer, "A" %>
			</p>

		  	<p>
				<%= f.label 		:mc_option_b, "Answer B" %><br />
				<%= f.text_field 	:mc_option_b %>
				<%= f.radio_button  :mc_answer, "B" %>
			</p>

		  	<p>
				<%= f.label 		:mc_option_c, "Answer C" %><br />
				<%= f.text_field 	:mc_option_c %>
				<%= f.radio_button  :mc_answer, "C" %>
			</p>

		  	<p>
				<%= f.label 		:mc_option_d, "Answer D" %><br />
				<%= f.text_field 	:mc_option_d %>
				<%= f.radio_button  :mc_answer, "D" %>
			</p>

		</div>

		<!-- Submit button -->
		<p>
			<%= f.submit 'Create' %>
		</p>

	<% end %> <!-- Form -->

</div>

<!-- Show either form to enter verse reference or form to enter MCQ -->
<script type="text/javascript">

	$passage = $("p#passage");
	$mcq = $("div#mcq");

	function questionType(qtype) {
		if (qtype == 'mcq') {
			$passage.hide();
			$mcq.show();
		} else {
			$passage.show();
			$mcq.hide();
		}
	}

	questionType($("select#quiz_question_question_type").val()); // called when the question type is changed

</script>