<% page_title @quiz_name %>
<div class="white-box-with-margins">
	<h1>Question <%= @question.question_no %> for <%= link_to @quiz.name, quiz_path(@quiz) %></h1>

	<p>
		<% if @question.question_type == "mcq" %>
		  A) <%= @question.mc_option_a %><br />
		  B) <%= @question.mc_option_b %><br />
		  C) <%= @question.mc_option_c %><br />
		  D) <%= @question.mc_option_d %><br />
		  Correct: <%= @question.mc_answer %>
		<% else %>
		  <%= @question.question_type %>: <%= @question.passage %>
		<% end %>
	</p>

	<% if current_user == @question.quiz.user %>
		<%= link_to 'Edit', edit_quizquestion_path(@question) %> | 
	<% end %>
	<%= link_to 'Back', quiz_path(@quiz) %>
	
</div>
