<!-- Search for a verse -->
<div class="quick-start-enter-verse">

	<div class="top-heading">
    	<h3><span>Select a Bible Verse</span></h3>
    </div>

    <!-- Reference entry box -->
    <div class="verse-field">
    	<div class="ui-widget">
    		<label class="tag">Verse:</label>
        	<%= text_field_tag(:verse, params[:verse], :class => "verse-search-by-tl-and-display", :placeholder => 'e.g. John 3:16' )%>
			<%= image_tag("indicator2.gif", alt: "Searching...", style: "display: none", class: "spinner", id: "ajax_spinner") %>
        </div>
    </div>

    <!-- Results of verse retrieval -->
    <div id="quick-start-verse-selection">
	    <!-- Show found verse -->
		<div id="existing-verse-add" class="quick-start-show-verse quick-start-add-section">
		    <div id="foundVerse"></div>
		    <div id="quick-start-add-verse" class="quick-start-add-verse"></div>
		</div>
	    <!-- Enter a new verse -->
		<div id="new-verse-entry" class="quick-start-new-section">
	    	<label class="tag">Enter Verse Text:</label>
			<%= text_area_tag(:versetext, params[:versetext], :overflow => "hidden", :class => "verse-entry-box" )%>
		    <div class="quick-start-add-verse">
		   		<div class="quick-start-add-button"></div>
		   	</div>
	    </div>
    </div>

    <!-- Start memorizing button -->
    <div id="start-memorizing" class="quick-start-selection">
		<ul>
			<li id="start-memorizing-button"><%= link_to 'Start Memorizing', test_verse_quick_path, :class => 'active' %></li>
		</ul>
    </div>

</div>


<!-- Popular verse selection -->
<div class="top-heading">
	<h3><span>Choose from Popular Verses</span></h3>
</div>

<div class="quick-start-popular-scroll quick-start-add-section">
	<%= render "verses/scroll" %>
</div>

