<h1>Instructions</h1>

<div class="instructions">
	
	<p>This page allows you to help check verses that have been entered by other Memverse users. Remember that any changes you make here will affect other people
	so please pay extremely close attention when making changes on this page.</p>
	
	<p>Please observe the following points:</p>
	
	<ul>
		<li><strong>'Lord' vs 'LORD': </strong>These two terms are translations of different words and have different meanings. Please ensure that you enter them correctly.</li>
		<li><strong>Quotation Marks: </strong>Do not omit any quotation marks. It is understandably tempting to omit the single sided quotation marks but they should be included 
			as they are part of the text</li>
		<li><strong>Periods and Fullstops: </strong>These are frequently left out at the end of verses. When you are copying and pasting from another website, please ensure
			that you capture the final punctuation.</li>
		<li><strong>Double dashes: </strong>Please convert all double dashes ('--') to single dashes with a space on either side (' - ')</li>
	</ul>	
	
	<p>To make changes, click on the text of the verse you'd like to correct and then make any changes in the edit box. Click 'Ok' to save the change and then
	click 'Ok' again in the right column to submit the change.</p>
</div>

<h1>Verses Requiring Checking</h1>

<div class="verse-list">

	<table cellpadding="6" cellspacing="0">
		<tr>					
			<th>Ver</th>	  	 
			<th>Ref</th>	  	 
			<th>Text</th>	  	 
		</tr>
		<% for vs in @need_verification %>
		<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">			
			<td align="center"><%= vs.translation		%></td>		 
			<td align="left"><%= vs.ref				%></td>			
			<td class="edit_area" id=<%= vs.id %>><%= vs.text %></td>	
			<td class="verify"><%= link_to_remote 'OK', :url => { :action => "check_verse", :id => vs.id },
												 :update => { :success => "Checked", :failure => "Error"} %></td>									
		</tr>
		<% end %>	
	</table>

</div>

<!-- http://www.appelsiini.net/projects/jeditable -->
<script type="text/javascript">
	 $(document).ready(function() {   
	     $('.edit').editable('/verses/set_verse_text', {
	         indicator : 'Saving...',
	         tooltip   : 'Click to edit...'
	     });
	     $('.edit_area').editable('/verses/set_verse_text', { 
	         type      : 'textarea',
	         cancel    : 'Cancel',
	         submit    : 'OK',
	         indicator : 'Saving...',
	         tooltip   : 'Click to edit...'
	     });
	 });
</script>

<!-- Highlight verse to be verified -->
<script>
  $(document).ready(function(){
    
    $('.verify').click(function () { 
      $(this).closest('tr').fadeOut("slow"); 
    });
    $('.verify').hover(function () {
      $(this).closest('tr').addClass("hilite");
    }, function () {
      $(this).closest('tr').removeClass("hilite");
    });

  });
</script>
