<h1>Listing sermons</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Summary</th>
    <th>Church</th>
    <th>Pastor</th>
    <th>User</th>
    <th>Uberverse</th>
  </tr>

<% @sermons.each do |sermon| %>
  <tr>
    <td><%=h sermon.title %></td>
    <td><%=h sermon.summary %></td>
    <td><%=h sermon.church_id %></td>
    <td><%=h sermon.pastor_id %></td>
    <td><%=h sermon.user_id %></td>
    <td><%=h sermon.uberverse_id %></td>
    <td><%= link_to 'Show', sermon %></td>
    <td><%= link_to 'Edit', edit_sermon_path(sermon) %></td>
    <td><%= link_to 'Destroy', sermon, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sermon', new_sermon_path %>