<h1>Sermons</h1>

<table class="memverse-standard">
  <tr>
    <th>Title</th>
    <th>Summary</th>
    <th>Church</th>
    <th>Pastor</th>
    <th>User</th>
    <th>Verse</th>
  </tr>

	<% @sermons.each do |sermon| %>
	  <tr>
	    <td><%=h sermon.title %></td>
	    <td><%=h sermon.summary %></td>
	    <td><%=h sermon.church.name %></td>
	    <td><%=h sermon.pastor.name %></td>
	    <td><%=h sermon.user.name_or_login %></td>
	    <td><%=h sermon.uberverse.ref %></td>
	    <td><%= link_to 'Listen', sermon %></td>
	    <td><%= link_to 'Edit', edit_sermon_path(sermon) %></td>
	    <td><%= link_to '[x]', sermon, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
</table>

<br />

<%= link_to 'New sermon', new_sermon_path %>