<h1><%=h @sermon.title %></h1>

<p>
  <b>Pastor:</b>
  <%=h @sermon.pastor.name %>
</p>

<p>
  <b>Key Verse:</b>
  <%=h @sermon.uberverse.ref %>
</p>
  
<p>
  <b>Church:</b>
  <%=h @sermon.church.name %>
</p>

<p>
  <%=h @sermon.summary %>
</p>

<p>
  <b>Mp3:</b>
  <%= link_to @sermon.mp3_file_name, @sermon.mp3.url %><br>
</p>

<audio src="<%= @sermon.mp3.url %>" controls="controls">
	Your browser does not support the audio element. You will need to upgrade to a modern browser.
</audio>

<p>
  Uploaded by: <%=h @sermon.user.name_or_login %>
</p>


<%= link_to 'Edit', edit_sermon_path(@sermon) %> |
<%= link_to 'Back', sermons_path %>
