<h1>New uberverse</h1>

<% form_for(@uberverse) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :book %><br />
    <%= f.text_field :book %>
  </p>
  <p>
    <%= f.label :chapter %><br />
    <%= f.text_field :chapter %>
  </p>
  <p>
    <%= f.label :versenum %><br />
    <%= f.text_field :versenum %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', uberverses_path %>