<p>
  <b>Book:</b>
  <%=h @uberverse.book %>
</p>

<p>
  <b>Chapter:</b>
  <%=h @uberverse.chapter %>
</p>

<p>
  <b>Versenum:</b>
  <%=h @uberverse.versenum %>
</p>


<%= link_to 'Edit', edit_uberverse_path(@uberverse) %> |
<%= link_to 'Back', uberverses_path %>