<%= error_messages_for 'verse' %>

<h2><%= @verse.book %> <%= @verse.chapter %>:<%= @verse.versenum %> [<%=@verse.translation%>] </h2>

<%= text_area 'verse', 'text', :class => 'verse_input' %></p>


