<h2><%= @verse.book %> <%= @verse.chapter %>:<%= @verse.versenum %> [<%=@verse.translation%>] </h2>

<% if @verse.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@verse.errors.count, "error") %> prevented the verse from being updated:</h2>

		<ul>
			<% @verse.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= text_area 'verse', 'text', :class => 'verse_input' %></p>


