<% page_title I18n.t :add_new_verses, :scope => 'page_titles' %>
<% page_description I18n.t :add_new_verses, :scope => 'page_descriptions' %>
<div class="white-box-bg">

	<!-- SEARCH ENTRY: LEFT COLUMN -->
	<div id="add-verse-enter-ref">

		<div class="top-heading">
	    	<h3><span>Add a New Memory Verse</span></h3>
	    </div>

		<%= content_tag "div", id: "translation", data: {tl: @translation } do %>
		<!-- Get translation -->
		<% end %>

		<!-- Reference entry box -->
		<div class="verse-field ui-widget">
			<label class="tag">Enter a reference or keyword</label>
			<%= image_tag("indicator2.gif", :alt => "Searching...", :style => "display: none", :class => "spinner spnner-add-verse", :id => "ajax_spinner") %>
			<%= text_field_tag(:verse, params[:verse], :class => "flex-verse-search", :id => "js_flex-verse-search" )%>
		</div>

		<!-- Add entire chapter -->
		<div class="add-chapter">
			<%= link_to 'Add Chapter', '#', :class => "add-chapter-button", :id => "add-chapter" %>
		</div>

	</div>

	<!-- SEARCH RESULTS: RIGHT COLUMN -->
	<div id="verse-search-results">
		<!-- Results of passage or multiple verse retrieval -->
		<!-- NOTE: The js_bible-version span in the partial is always visible, even when showing/adding a single verse -->
		<div class="verse-search-results-scroll quick-start-add-section">
			<%= render "verses/scroll" %>
		</div>

		<!-- Results of single verse retrieval -->
	    <div id="verse-search-single-result">

		    <!-- Display existing verse -->
			<div id="existing-verse-add" class="quick-start-show-verse quick-start-add-section">
			    <div id="foundVerse"></div>  							    <!-- Text of retrieved verse-->
			    <div id="add-verse-button" class="add-verse-button"></div>	<!-- Button to add verse -->
			</div>

		    <!-- Display box to enter a new verse -->
			<div id="new-verse-entry" class="create-and-add">
		    	<label class="tag">Enter Verse Text:</label>
				<%= text_area_tag(:versetext, params[:versetext], :overflow => "hidden", :class => "verse-entry-box" )%>
			    <div class="add-verse-button">
			   		<div class="quick-start-add-button"></div>
			   	</div>
		    </div>

	    </div>
	</div>

	<div class="clr"></div><!-- Clear floats -->
</div> <!-- white-box-bg -->

<script language="JavaScript" type="text/javascript"><!--
	$(document).ready(function() {

		// Get user's translation
		tl = $('#translation').data('tl'); // Get the users translation

		// initialize scrollable module
		$(".scrollable").scrollable({ vertical: true, mousewheel: true });

		// Setup jEditable for version changing
		$('.js_bible-version select').change(function() {
			tl = $( this ).val(); // change tl
			flexversesearch($("#js_flex-verse-search").val()); // refresh results
		});

		// Verse entry and retrieval
		$("#js_flex-verse-search").observe_field(0.2, function( ) {
			flexversesearch(this.value);
		});

		// User adds a new verse
		$('.create-and-add').on("click", ".quick-start-add-button", function() {      // Bind to DIV enclosing button to allow for event delegation
			$button   = $('.create-and-add .quick-start-add-button');
			ref       = parseVerseRef( $.trim($("#js_flex-verse-search").val()) );
			newVerse  = cleanseVerseText( $("#versetext").val() );
			if ( ref ) {
				createVerseAndAdd(ref, tl, newVerse, $button);
			} else {
				alert("The Bible reference you have entered is not valid.");
			};
			$("#js_flex-verse-search").focus();
		});

		// User adds entire passage
		$('.add-chapter').on("click", ".add-chapter-button", function() {
			ref = parsePassageRef( $.trim( $("#js_flex-verse-search").val() ) );
			$.post("/add_chapter.json", { bk: ref.bk, ch: ref.ch, tl: tl }, function(response) {
				$(".add-chapter-button").replaceWith("<div class='verse-added'></div>");
			});
		});

		// Focus on search box
		$("#js_flex-verse-search").focus();
	});
--></script>

<!-- Google Code for Memverse - Add Verse Conversion Page -->
<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 1055933402;
	var google_conversion_language = "en";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "sZWTCNjY5wIQ2ofB9wM";
	var google_conversion_value = 0;
	if (0.25) {
	  google_conversion_value = 0.25;
	}
	/* ]]> */
</script>

<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>

<noscript>
	<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1055933402/?value=0.25&amp;label=sZWTCNjY5wIQ2ofB9wM&amp;guid=ON&amp;script=0"/>
	</div>
</noscript>
