<% page_title I18n.t :memory_verse_practice, :scope => 'page_titles' %>

<div class="white-box-bg">

	<!-- Question-side : Entry box -->
	<div class="test-verse">
    	<div class="top-heading">
        	<h2><span>Verse: </span><span class="verse-ref"><%= @verse %></span><span class="verse-tl"> [<%=@mv.verse.translation %>]</span></h2>
            <div id="toggle-hint" class="toggle-hint">Show Verse</div>
        </div>
        <div id="mnemonic" class="mnemonic"><div id="mtext"><%= @mv.mnemonic_if_req %></div><div id="mclose">x</div></div>
        <div class="verse-test-area">
        	<%= form_tag mark_drill_path, :id => 'mark_drill' do %>
            	<div>
            		<%= text_area_tag(:verseguess, params[:verseguess], :class => "verseguess" )%>
                </div>

                <div class="tool-tip-nav"></div>
                <div id="test-buttons" class="score-test-buttons">
					<div align="left"><%= submit_tag "Next Verse", :class => "submit" %></div>
				</div>	<!-- end: scoreTestButtons -->

            <% end %> <!-- end: form -->
        </div> <!-- end: verse-test-area -->
	</div> <!-- end: test-verse -->

	<!-- Comparison section -->
    <div class="feedback verse-feedback">
    	<h2>Feedback</h2>

		<div class="priorVerse">
			<p>
				<!-- Prior verse, if available -->
				<span class="prior-versenum superscript">	<%=@prior_versenum if @prior_text%></span>
				<span class="prior-text">					<%=@prior_text if @prior_text%>	</span>
			</p>
		</div>

		<!-- Current verse -->
		<div id="currentVerse">
			<p>
				<span class="current-versenum superscript"><%=@mv.verse.versenum if @prior_text%></span>
				<span id="feedback"></span>
				<%= image_tag("indicator2.gif", alt: "Searching...", style: "display: none", class: "spinner center", id: "ajax_spinner") %>
			</p>
		</div>

		<!-- Current verse answer -->
		<div id="complete-hint">
			<p>
				<span class="current-versenum superscript"><%=@mv.verse.versenum if @prior_text%></span>
				<span class="current-text"><%= @mv.verse.text %></span>
			</p>
		</div>

    </div> <!-- end: Feedback -->

	<!-- Upcoming verses -->
    <div class="upcoming">
    	<h2>Upcoming Verses</h2>
		<%= render :partial => "upcoming_verses" %>
    </div>
    <div class="clr"></div>

</div> <!-- end: white-box-with-margins -->


<script language="JavaScript" type="text/javascript"><!--

	$(document).ready(function() {

		// cache frequent DOM objects in variables
		$completehint = $("#complete-hint");
		$currentVerse = $("#currentVerse");
		$togglehint   = $("#toggle-hint");
		$feedback     = $("#feedback");
		$verseguess   = $("#verseguess");

		<% if !@mv.needs_mnemonic? %>
			$('#mnemonic').hide();
		<% end %>

		// focus cursor on verse entry box
		$('#verseguess').focus();

		// Toggle verse function
		function toggleverse() {
			$completehint.toggle();
			$currentVerse.toggle();
			if ( $togglehint.text() == (I18n.t("memverses.test_verse_quick.show_verse")) ) {
				$togglehint.text(I18n.t("memverses.test_verse_quick.hide_verse"));
			} else {
				$togglehint.text(I18n.t("memverses.test_verse_quick.show_verse"));
			}
		}

		// show verse
		$togglehint.click( function () {
			toggleverse();
		});

		// Verse feedback
		var current		= {};
		var live		= {};
		current.text	= "<%= escape_javascript(@mv.verse.text.html_safe) %>";
		current.feedback = <%= @mv.show_feedback? %>;
		current.mnemonic = "<%= escape_javascript(@mv.mnemonic_if_req.html_safe) %>";

		function getverseFeedback(guess){
			allowFirstLetter = (current.mnemonic === null || current.mnemonic == "-" || current.mnemonic == "");

			live = verseFeedback(current.text, guess, current.feedback, allowFirstLetter);

			$feedback.html(live.feedtext);

			if (live.correct) {
				$togglehint.fadeOut(500);
			}
			else if ($togglehint.is(":hidden")) { // Verse is incorrect; if the toggle option was unavailable, make it available now
				$togglehint.text(I18n.t("memverses.test_verse_quick.show_verse")).fadeIn(500);
			}
			if ($completehint.is(":visible") && live.correct) {
				$completehint.toggle();
				$currentVerse.toggle();
			}
		}

		live = getverseFeedback($verseguess.val()); // Run this once when page first loads

		$("#verseguess").observe_field(0.2, function( ) {
			getverseFeedback(this.value);
        });

    	// ==== Show/Hide mnemonic ====
		function togglemnemonic(){
			if ( $('#mclose').is(':hidden') ) {
				$("#mtext").text(current.mnemonic);
				$('#mclose').show();
			}
			else {
				$('#mtext').html('<span>Show Prompts</span>');
				$("#mclose").hide();
			}
		}

		$('#mclose').click(function() {
			togglemnemonic();
		});

		$('#mtext').click(function() {
			if ( $('#mclose').is(':hidden') ) {
				togglemnemonic();
			}
		});

	});

--></script>

