<% page_title I18n.t :accuracy_results, :scope => 'page_titles' %>

<div class="white-box-with-margins">

	<h2>You scored <%=@correct%> out of <%=@answered%></h2>
	
	<h4>Your new accuracy score is <%=@new_accuracy%>%. Your previous accuracy score was <%=@old_accuracy%>%</h4>
	
	<% if !@perfect_score %>
		<p>These are the memory verses you got wrong:</p>
		
		<div>
			<table class="memverse-standard">
				<thead>
					<tr>		  	 
						<th>Reference</td>	
						<th>Correct Text</td>
						<th>Your Answer</td>
						<th>Interval</td>
					</tr>
				</thead>
		
				<tbody>
					<% for mistake in @incorrect %>
						<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
							<td>				<%= mistake['Ref'] %></td>
							<td>				<%= mistake['Text'] %></td>
							<td>				<%= mistake['Answer'].html_safe %></td>
							<td align="center">	<%= mistake['Interval'] %></td>			
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	<% end %>
</div>

