<div class="two-box"><!--two-box start-->
	
	<div class="votm">
    	<div class="yellow-icon"><img src="/images/icon3.png" width="49" height="49" alt="" /></div>
        <div class="votm-text">
          	<h3>Verse of the Minute</h3>
            <p><%= @votd_txt %></p>
            <span class="verse"><strong><%= @votd_ref %> (<%= @votd_tl %>)</strong></span>
        </div>
    </div>
    
    <div class="progress-info">
       	<div class="yellow-icon"><img src="/images/icon4.png" width="49" height="49" alt="" /></div>
       	<div class="progress-text">
           	<h3 class="nospace">Verses Memorized</h3>
            <p><span class="number"><%= number_with_delimiter(Memverse.memorized.count) %></span>&nbsp;&nbsp; verses memorized on <strong>Memverse</strong>.</p>
            <span class="verse"><%= link_to "Go To Your Verses", manage_verses_path %></span>
        </div>
    </div>

</div><!--two-box end-->
    
<div><img src="/images/trans.png" width="1" height="10" alt="" />&nbsp;</div>
    
<div class="home-page-tabs">
	<div class="tab-top">
	   	<div class="tab-nav">
	      	<ul class="tabs">
	           	<li class="dashboard active"><a href="#dashboard">Dashboard</a></li>
	            <li class="devotions"><a href="#devotion">Spurgeon's Daily Devotions</a></li>
	            <li class="dashboard"><a href="#verse">Verse of the Day</a></li>
	        </ul>
	    </div>
	</div>
    
	<div class="tab-bottom">
		<div class="tab-content">
	       	<div id="dashboard" class="tab_content"><h3><%= link_to 'Recently on Memverse', tweets_path %></h3>
			<%= render "tweets/tweets_for_main" %>
			</div>
	        <div id="devotion" class="tab_content"><h3>Spurgeon's Devotional</h3>
	        <h4><%=@dev_ref%></h4>
	        <%=@devotion.html_safe%>
			</div>
			<div id="verse" class="tab_content"><h3>Verse</h3>
			</div>
			<div class="clr"></div>
	    </div>
	</div>
</div> <!-- home-page-tabs-->
<script>
$(document).ready(function() {

	//When page loads...
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content

	//On Click Event
	$("ul.tabs li").click(function() {

		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content

		var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active ID content
		return false;
	});

});
</script>
<div class="clr"></div>


