<div class="two-box"><!--two-box start-->
	
	<div class="votm">
    	<div class="yellow-icon"><img src="/images/icon3.png" width="49" height="49" alt="" /></div>
        <div class="votm-text">
          	<h3>Verse of the Minute</h3>
            <p><%= @votd_txt %></p>
            <span class="verse"><strong><%= @votd_ref %> (<%= @votd_tl %>)</strong></span>
        </div>
    </div>
    
    <div class="progress-info">
       	<div class="yellow-icon"><img src="/images/icon4.png" width="49" height="49" alt="" /></div>
       	<div class="progress-text">
           	<h3 class="nospace">Verses Memorized</h3>
            <p><span class="number"><%= number_with_delimiter(Memverse.memorized.count) %></span>&nbsp;&nbsp; verses memorized on <strong>Memverse</strong>.</p>
            <span class="verse"><%= link_to "Go To Your Verses", manage_verses_path %></span>
        </div>
    </div>

</div><!--two-box end-->
    
<div><img src="/images/trans.png" width="1" height="10" alt="" />&nbsp;</div>
    
<div class="home-page-tabs">
	<div class="tab-top">
	   	<div class="tab-nav">
	      	<ul>
	           	<li class="dashboard active"><a href="#tabs-1">Dashboard</a></li>
	            <li class="devotions"><a href="#tabs-2">Spurgeons Daily Devotions</a></li>
	            <li class="dashboard"><a href="#tabs-3">Verse of the Day</a></li>
	        </ul>
	    </div>
	</div>
    
	<div class="tab-bottom">
		<div class="tab-content">
	       	<div id="tabs-1"><h3><%= link_to 'Recently on Memverse', tweets_path %></h3>
			<%= render "tweets/tweets_for_main" %>
	        <div class="clr"></div></div>
			<div id="tabs-2"><h3>Devotional</h3>
			<div class="clr"></div></div>
			<div id="tabs-3"><h3>Verse</h3>
			<div class="clr"></div></div>
	    </div>
	</div>
</div> <!-- home-page-tabs-->
<script>
	$(function() {
		$( ".home-page-tabs" ).tabs();
	});
</script>
<style type="text/css">
	.home-page-tabs {}
.tab-top {width:1080px; background: #767575; border-style: solid solid none solid; border-width: 1px; border-color: #555555; -moz-border-radius-topright: 10px; -webkit-border-radius-topright: 10px; border-top-right-radius: 10px; -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px; border-top-left-radius: 10px}
.tab-bottom {width:1080px; background: #FFFFFF; border-style: none solid solid solid; border-width: 1px; border-color: #555555; -moz-border-radius-bottomright: 10px; -webkit-border-radius-bottomright: 10px; border-bottom-right-radius: 10px; -moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px; border-bottom-left-radius: 10px}
.tab-nav {width:1080px; height:51px}
.tab-nav ul {list-style:none; padding:0px; margin:0px; padding:13px 0 0 18px}
.tab-nav ul li {height:51px; float:left; font-size:12px; font-weight:bold; float:left}
.tab-nav ul li.dashboard {background:url(../images/tab3.png?1301602188) no-repeat left top; width:158px; height:29px; text-align:center; line-height:29px; color:#666}
.tab-nav ul li.dashboard a {width:158px; height:38px; display:block; color:#666; text-decoration:none}
.tab-nav ul li.dashboard a:hover, .tab-nav ul li.active a {background:url(../images/active-tab.png?1301602188) no-repeat left top; color:#983626; text-decoration:none}
.tab-nav ul li.devotions {background:url(../images/tab2.png?1301602188) no-repeat left top; width:206px; height:29px; text-align:center; line-height:29px; color:#666}
.tab-nav ul li.devotions a {width:206px; height:38px; display:block; color:#666; text-decoration:none}
.tab-nav ul li.devotions a:hover {background:url(../images/active-tab2.png?1301602188) no-repeat left top; color:#983626; text-decoration:none}
.tab-content {width:1040px; padding:25px 20px}
.tab-content h3 {margin: 0 0 15px; padding: 0 0 10px; font-size:18px; color:#6b9620; font-weight:bold; padding-bottom:10px; border-bottom:1px solid #a6a4a4; margin-bottom:15px}
.tab-content-left {width:430px; float:left}
.tab-content-right {width:460px; float:left}
.tab-content ul {list-style:none; padding:0px; margin:0px}
.tab-content ul li {background:url(../images/tab-list-icon.png?1301602188) no-repeat left 2px; font-size:12px; color:#666; padding:0 0 15px 17px}
.tab-content ul li span {color:#6b9620}
.tab-content ul li a {color:#666; text-decoration:none}
.tab-content ul li a:hover {color:#000; text-decoration:none}

</style>
<div class="clr"></div>


