<div class="current">
  <%- if true -%>  <!-- Set optional title 'if show_title?' -->
  <div class="toolbar">
    <%= link_to "Back", nil, :class => "back" unless current_page? root_path %>
    <h1><%=h yield(:title) || "Memverse" %></h1>
    <%= link_to "Full Site", root_url(:mobile => 0), :class => "button", :rel => "external" %>
    <%= yield(:toolbar) %>
  </div>
  <%- end -%>
  
  <% unless flash.empty? %>
    <div class="info">
    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <%- end -%>
    </div>
  <% end %>


<% title "Memverse" %>

<ul class="rounded">
	<li class="arrow"><%= link_to t('home_menu.Add Verse'), 			add_verse_path %></li>
	<li class="arrow"><%= link_to t('memorize_menu.Memorize'),			test_verse_path %></li>
	<li class="arrow"><%= link_to t('memorize_menu.Reference Recall'), 	start_ref_test_path %></li>
	<li class="arrow"><%= link_to t('leader_menu.Leaderboard'),			leaderboard_path %></li>
</ul>