<% if @user_has_no_verses %>

	<div id="getting_started" class="start-page-actions">
		<h1>Getting started</h1>
		<ol>
			<li><%= link_to 'Read the tutorial', 					tutorial_path 		%></li>				
			<li><%= link_to 'Read about the SuperMemo Algorithm',	supermemo_path		%> - (only if you're interested)</li>
			<li><%= link_to 'Update your profile',					update_profile_path	%> - (set email reminders etc.)</li>			
			<li><%= link_to 'Add your first memory verse', 			add_verse_path		%> - (feel free to jump straight to this step!)</li>	
		</ol>

		<h1>In a Rush?</h1>

		<p>Get started quickly by selecting from the most popular verses in the translation of your choice</p>
		
		<ul>
			<li><%= link_to 'New International Version', 	:action => 'starter_pack', :translation => 'NIV' %></li>
			<li><%= link_to 'English Standard Version',		:action => 'starter_pack', :translation => 'ESV' %></li>
			<li><%= link_to 'King James Version', 			:action => 'starter_pack', :translation => 'KJV' %></li>
			<li><%= link_to 'New King James Version',		:action => 'starter_pack', :translation => 'NKJ' %></li>
			<li><%= link_to 'New American Standard', 		:action => 'starter_pack', :translation => 'NAS' %></li>
			<li><%= link_to 'Revisted Standard Version', 	:action => 'starter_pack', :translation => 'RSV' %></li>
		</ul>


	</div>

<% elsif @user_has_too_few_verses %>

	<div id="getting_started" class="start-page-actions">
		<h1>Recommendations</h1>
		<ol>
			<li><%= link_to 'Add another memory verse',				:action => 'add_verse'%></li>	
			<% if @user_has_test_today %>
			<li><%= link_to 'Memorize!', 							:action => 'test_verse' %></li>			
			<% end %>
		</ol>
	</div>

<% else %>

<div id="news-feed" class="front-page-segment">
	<h2>Recently on Memverse</h2>
	<%= render :partial => @tweets %>	
</div>

<!--
<div id="news-feed" class="front-page-segment">
	<h2>Latest News</h2>
	<ul>
		<% if @posts %>
			<% @posts.each do |post| %>
				<li>
					<%= link_to post.title, post.link %>
					<br>
					<div id="post-description"><%=post.description%></div>
				</li>
			<% end %>
		<% end %>
	</ul>	
</div>
-->

<div id="column-mid">
	<div id="verse-of-the-day" class="front-page-segment">
		<h2>Verse of the day</h2>
		<p id="votd-txt"><%= @votd_txt %></p>
		<p id="votd-ref"><%= @votd_ref %>, <%= @votd_tl %></p>					
	</div>
	
	<div id="memverse-actions" class="front-page-segment">
		<h2><%= t '.memverse_today' %></h2>	
		<p><%= t '.review_a' %> <%=@due_today%> <%= t '.review_b' %></p>
		<p><%= t '.time_req_a' %> <%=current_user.work_load%> <%= t '.time_req_b' %></p>		
	</div>
</div>

<div id="devotional" class="front-page-segment">
	<h2>Spurgeon's Daily Devotion</h2>
	<h4><%=@dev_ref%></h4>
	<%=@devotion%>
</div>
	

<% end %>

<script language="JavaScript" type="text/javascript">

$.PeriodicalUpdater('tweets/update', {
    method: 'get',          // method; get or post
    data: '',          		// array of values to be passed to the page - e.g. {name: "John", greeting: "hello"}
    minTimeout: 15*1000,    // starting value for the timeout in milliseconds
    maxTimeout: 30*60*1000, // maximum length of time between requests is 10 mins
    multiplier: 2,          // if set to 2, timerInterval will double each time the response hasn't changed (up to maxTimeout)
    type: 'html',           // response type - text, xml, json, etc.  See $.ajax config options
    maxCalls: 0,            // maximum number of calls. 0 = no limit.
    autoStop: 0             // automatically stop requests after this many returns of the same data. 0 = disabled.
}, function(data) {
	
	// Insert the new data (only called when there was a change)
	if ( $('.tweet:first > .news-event').html() != $(data).find('.news-event').html() ) {
		$('.tweet:last').remove()
		$('.tweet:first').before(data);
		$('.tweet:first').effect("highlight", {}, 3000);
	}
});

</script>
