<% page_title I18n.t :memory_verse_review, :scope => 'page_titles' %>

<div class="white-box-bg">

    <div class="verse-selection">

        <!-- Reference entry box -->
        <div class="verse-field ui-widget">
            <label class="tag">Enter a reference or tag</label>
            <img class="spinner spinner-add-verse" id="ajax_spinner" src="/assets/indicator2.gif" alt="Searching ..." style="display: none" />
            <%= text_field_tag(:verse, params[:verse], :class => "flex-verse-search", :id => "js_flex-verse-search", :placeholder => "e.g. Romans 3:2-5 or 'creation'" )%> 
        </div>        

        <!-- Search Results -->
        <div class="mv-search-results-compact">
            <%= render "verses/scroll" %>
        </div>


        <!-- Action buttons -->
        <div class="verse-list-actions">

        </div>

    </div> 

    <!-- Center Panel -->
    <div class="verse-learning">
        

        <div class="top-heading">
            <h2><span><%= t('.verse') %>: </span><span class="verse-ref"><%=@mv.verse.ref%></span><span class="verse-tl"> [<%=@mv.verse.translation %>]</span></h2>
            <div id="toggle-hint" class="toggle-hint"><%= t('.show_verse') %></div>
        </div>

        <div class="assistance">

            <div id="mtext"><%= @mv.mnemonic_if_req %></div><div id="mclose">x</div>

        </div>

        <div class="verse-entry">
            <textarea class="verse-practice-box"></textarea>
        </div>

        <div class="progression-control">
            <div class="dec-level"><%= image_tag( "left_arrow.png",  :width => 48, :height => 48 ) %></div>
            <div class="cur-level">Level 4</div>        
            <div class="inc-level"><%= image_tag( "right_arrow.png", :width => 48, :height => 48 ) %></div>
        </div>

    </div>

    <!-- Right Panel -->
    <div class="right-panel">
        <div class="verse-ref-list">
            <h3>Practice List</h3>
            <ul id="upcoming-verses">
            </ul>   
        </div>  
    </div>

</div>

<script language="JavaScript" type="text/javascript"><!--
    
    $(document).ready(function() {

        //------- State variables ---------------------
        var practiceState = {
            // verse being learned
            ref: null,
            // current level
            level: 1,
            // update status of current verse
            startReview: function () {

            },
            nextVerse: function () {

            },
            levelUp: function () {
                this.level = this.level + 1;
                return this.level;
            },
            levelDown: function () {
                this.level = this.level - 1;
                return this.level;
            }

        };


        //------- Initial setup -----------------------
        // initialize scrollable module
        $(".scrollable").scrollable({ vertical: true, mousewheel: true });

        //------- Searching for a verse----------------
        $("#js_flex-verse-search").observe_field(0.2, function( ) { 
            // clear prior search results
            clearSearchResults();
            // search and display results with callback function
            mv_search(this.value, displayMvSearchResultsFn );
        });

        //------- Selecting verses to practice -------
        $( ".mv-search-results-compact" ).on( "click", ".select-verse-button", function( e ) {

            var $verseToAdd    = $(this).siblings(".ref-and-details");
            var $verseForQueue = $verseToAdd.clone()

            // Hide first words
            $verseForQueue.find(".first-words").hide();

            // Build HTML for each verse
            var $queued_vs = $('<li/>').addClass('upcoming-verse-ref')
                // verse
                .append( $verseForQueue )
                // remove button
                .append('<div class="remove-verse-button"><a data-remote="true" href="/add/' + '" class="compact-remove-button"></a></div>');

            // Move verse from search results to verse queue
            $("#upcoming-verses").append( $queued_vs );

            $verseToAdd.parent().fadeOut("fast");
        }); 

        //------- Typing a verse ----------------------

        //------- Changing a level --------------------



    }); // End of jQuery document ready

--></script>        