<% page_title I18n.t :my_memory_verses, :scope => 'page_titles' %>

<div class="white-box-with-margins">

	<% if @my_verses.blank? # No verses in account %>

		<p>You do not have any verses in your account. <%= link_to 'Please add some verses by clicking here.', :action => 'add_verse' %></p>

	<% else # There are verses in account %>

		<div id="scontainer"><div id="searchico"><%= image_tag("search.png", :alt => "") %></div><div id="vsfilter"><input type="text" name="filter" id="filter" value="Filter verses" style="width:150px;height:20px;padding:4px;" class="idleField" /></div></div>
		<div class="verse-list">
		<%= form_tag( {:action => 'show'}, :method => :post, :name => "manage_verses" ) do %>
		  	<table class="memverse-standard">
			    <thead>
				    <tr>
					<th><input type="checkbox" onclick="checkAllFields(1);" id="checkAll" /></th>
					<th><%= link_to 'Verse',		{:action => 'manage_verses'}, 									{:title => "Click to sort by verse reference"} 	%></th>
					<th>Version</th>
					<th><%= link_to 'eFactor',		{:action => 'manage_verses', :sort_order => 'efactor'},			{:title => "Click to sort by eFactor"} %></th>
					<th><%= link_to 'Status',		{:action => 'manage_verses', :sort_order => 'status'},			{:title => "Click to sort by status"} %></th>
					<th><%= link_to 'Last Tested',	{:action => 'manage_verses', :sort_order => 'last_tested'}, 	{:title => "Click to sort by last test date"} %></th>
					<th><%= link_to 'Next Test',	{:action => 'manage_verses', :sort_order => 'next_test'},		{:title => "Click to sort by next test date"} %></th>
					<th><%= link_to 'Interval',		{:action => 'manage_verses', :sort_order => 'test_interval'},	{:title => "Click to sort by test interval"} %></th>
					<th><%= link_to 'Attempts',		{:action => 'manage_verses', :sort_order => 'attempts'},		{:title => "Click to sort by attempts"} %></th>
					<th><%= link_to 'Ref Int',		{:action => 'manage_verses', :sort_order => 'ref_interval'},	{:title => "Click to sort by reference test interval"} %></th>
					<th><%= link_to 'Ref Test',		{:action => 'manage_verses', :sort_order => 'next_ref_test'},	{:title => "Click to sort by next reference test date"} %></th>
					<th>Tags</th>
					<th>Verse Status</th>
				    </tr>
			    </thead>

			    <tbody>
					<% for mv in @my_verses %>
					<tr valign="top" class=<%= cycle("gray2", "white2") %>>
					<td align="center"><input class="boxes" id="mv_" name="mv[]" type="checkbox" value="<%= mv.id %>" /></td>
					<td align="left">  <%= link_to mv.verse.ref, {:action => 'show', :id => mv.id } %></td>
					<td align="center"><%= mv.verse.translation	%></td>
					<td align="center"><%= number_with_precision( mv.efactor, :precision => 1 ) %></td>
					<td align="center" class="mv-status"><%= link_to mv.status, toggle_mv_status_path(mv.id, format: 'json'), remote: true %></td>
					<td align="center"><%= mv.last_tested		%></td>
					<td align="center"><%= mv.status == "Pending" ? "N/A" : mv.next_test %></td>
					<td align="center"><%= mv.test_interval		%></td>
					<td align="center"><%= mv.attempts			%></td>
					<td align="center"><%= mv.ref_interval		%></td>
					<td align="center"><%= mv.status == "Pending" ? "N/A" : mv.next_ref_test %></td>
					<td align="left">  <%= mv.all_tags_list     %></td>

					<td align="center" class="flag_verse" id="<%= mv.verse.id %>"><%=
								if mv.verified?
									link_to mv.verse.error_flag ? "Error Reported" : "Verified",
													toggle_error_flag_path(mv.verse.id, :format	=> 'html'),
													:update => mv.verse.id,
													:confirm => mv.verse.error_flag ? "Cancel reported error?" : "You are reporting an error in this verse. Are you sure?",
													:remote	=> true
								elsif !mv.locked?
									link_to '[Editable]', edit_verse_path(mv.verse)
								else
									'Pending Verification'
								end
							%></td>
				      </tr>
				     <% end %>
				    </tbody>
		  	</table>

			<br />

			<div class="buttons">
				<%= submit_tag t('.show_selected'), :onclick => "return checkAllFields(4);", :name => "Show" %>
				<%= submit_tag t('.show_prompt'), :onclick => "return checkAllFields(5);", :name => "Prompt" %>
				<%= select_tag :format, options_for_select([["Screen", "html"], ["Print", "pdf"]], "html") %>
				<%= submit_tag t('.delete_selected'), :onclick => "return checkAllFields(3);", :name => "Delete" %>
			</div>

		<% end %> <!-- form: manage_verses -->
		</div><!-- verse list -->
	<% end %> <!-- if -->

</div> <!-- white-box-with-margins -->

<script type="text/javascript">
$(document).ready(function(){

    $('.flag_verse')
	    .on('ajax:success', function (event) {
	    	var data = event.detail[0]
			$(this).html(data);
		});

	$('.mv-status a	')
		.click( function() {
			$(this).parent().effect("highlight", {color: "#ffcc00"}, 2000);
		})

		.on('ajax:success', function (event) {
  			var data = event.detail[0]
			$(this).html(data.mv_status);
		});

	$("table.memverse-standard").on("click", "td input.boxes", function() {
		checkAllFields(2);
	});

	filtersetup(); // setup the verse filtering

});
</script>



document.body.addEventListener('ajax:success', function(event) {
  var detail = event.detail;
  var data = detail[0], status = detail[1],  xhr = detail[2];
})
