<% page_title I18n.t :reftest_results, :scope => 'page_titles' %>
<div class="white-box-with-margins">
	<div>
		<h2>You got <%=@correct%> out of <%=@answered%> verses correct and scored <%=@grade%>/100. Your current reference accuracy is now <%= @new_ref_grade %>%. Your previous reference accuracy score score was <%= @old_ref_grade %>%.</h2>
	</div>
	
	<% if @incorrect.length > 0 %>
		<p>These are the references you got wrong:</p>
		
		<div>
			<table cellpadding="6" cellspacing="1" border="1">
				<tr>		  	 
					<th>Reference</td>	
					<th>Memory Verse</td>
				</tr>
		
				<% for mistake in @incorrect %>
					<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
						<td><%=session[:ref_soln][mistake][0]%> <%=session[:ref_soln][mistake][1]%>:<%=session[:ref_soln][mistake][2]%></td>
						<td><%= session[:ref_test][mistake] %></td>				
					</tr>
				<% end %>
			</table>
		</div>
	<% end %>	
</div>
