<% page_title I18n.t :progress, :scope => 'page_titles' %>
<% page_description I18n.t :progress, :scope => 'page_descriptions' %>

<div class="white-box-with-margins">
	<% if current_user.memverses.length == 0 %>

		<h2>
			You first need to <%= link_to 'add some memory verses', :action => 'add_verse' %>.
		</h2>

	<% elsif !current_user.finished_a_mem_session? %>

		You need to complete a <%= link_to 'memorization session', :action => 'test_verse_quick' %> before your progress is monitored.

	<% else %>

		<div>
			<p>
				You have completed <%= current_user.completed_sessions(:year) %> memorization sessions over the past year
				and have memorized <%= current_user.memorized %> of your <%= current_user.memverses.count %> memory verses.
			</p>
		</div>

		<div id="container" style="width: 100%; height: 500px"></div>

		<div>
			<p>You currently need about <span class=text-highlight><%=current_user.work_load%> minutes per day</span> on average to review your memory verses. If this
			is less time than you would like to spend, we recommend
			<span class=text-highlight><%= link_to 'adding one or two more verses', add_verse_path %></span>. Remember that
			as you memorize your verses, the required time will go down.</p>

			<p>Verses are classified as "Memorized" once the interval between review has grown to more than 30 days. The interval starts at 1 day
			and increases as you correctly recall the verse.</p>

			<p>If you have extra time, it's a good idea to occasionally
			<span class=text-highlight><%= link_to 'review the references for your memory verses', start_ref_test_path %></span>,
			particularly if you know the text of the verse but have difficulty matching verses with the correct reference.</p>
		</div>

		<div id="container" style="width: 100%; height; 500px"></div>

	<% end %>
</div>

<script type="text/javascript">

var chart; // globally available

$(document).ready(function() {

	Highcharts.setOptions({
	    colors: ['#6b9620', '#3c5313', '#e17329', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
	});

	var options = {
	    credits: {
	        text: 'Memverse.com',
	        href: 'http://www.memverse.com'
	    },
		chart: {
			renderTo: 'container',
			defaultSeriesType: 'area'
		},

		title: {
			text: 'My Progress',
	        style: {
	            color: '#333333',
	            fontWeight: 'bold'
	        }
		},
		xAxis: {
	        labels: {
	            enabled: false
	        }
		},
		yAxis: [{
			title: {
				text: 'Verses',
		        style: {
		            color: '#333333',
		            fontWeight: 'bold'
		        }
			},
		}, {
			title: {
				text: 'Time Required [mins]',
		        style: {
		            color: '#333333',
		            fontWeight: 'bold'
		        }
			},
			opposite: true,
		}],
	    legend: {
	        itemStyle: {
	            color: '#333333',
	            fontWeight: 'bold'
	        }
	    },
		plotOptions: {
			series: {
				lineWidth: 2,
				fillOpacity: 0.1,
				marker: {
					enabled: false,
					states: {
						hover: {
							enabled: true,
							radius: 4
						}
					}
				},
				shadow: false,
				states: {
					hover: {
						lineWidth: 1,
					}
				}
			},
		   	area: {
		    	fillColor: {
		        	linearGradient: [0, 0, 0, 450],
		        	stops: [[0, '#6b9620'],
		            		[1, 'rgba(0,0,0,0)']],
		    	},
		    	lineColor: '#6b9620',
		    },
			line: {
			}
		},
		series: []
	};


	// ========== Get badges =========================
	mvCheckBadgeCompletion();

});

</script>


<% if current_user.progress_reports.count >= 2 %>
	<!-- Google Code for Memverse - Returning User Conversion Page -->
	<script type="text/javascript">
		/* <![CDATA[ */
		var google_conversion_id = 1055933402;
		var google_conversion_language = "en";
		var google_conversion_format = "3";
		var google_conversion_color = "ffffff";
		var google_conversion_label = "dcmtCMja5wIQ2ofB9wM";
		var google_conversion_value = 0;
		if (1.0) {
	  google_conversion_value = 1.0;
		}
		/* ]]> */
	</script>
	<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1055933402/?value=1.0&amp;label=dcmtCMja5wIQ2ofB9wM&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>
<% end %>

