<% page_title I18n.t :progress, :scope => 'page_titles' %>
<% page_description I18n.t :progress, :scope => 'page_descriptions' %>
<div class="white-box-with-margins">
<% if current_user.memverses.length == 0 %>

	You first need to <%= link_to 'add a memory verse', :action => 'add_verse' %>

<% elsif !current_user.finished_a_mem_session? %>

	You need to complete a <%= link_to 'memorization session', :action => 'test_verse' %> before your progress is monitored.

<% else %>

	<div>
		<%= ziya_chart load_progress_url(current_user, :xml), :size => "1050x500" -%>
	</div>

<% end %>

<div>
	<p>You currently need about <span class=text-highlight><%=current_user.work_load%> mins per day</span> on average to review your memory verses. If this 
	is less time than you would like to spend, we recommend 
	<span class=text-highlight><%= link_to 'adding one or two more verses', add_verse_path %></span>. Remember that 
	as you memorize your verses, the required time will go down.</p>
	
	<p>Verses are classified as "Memorized" once the interval between review has grown to more than 30 days. The interval starts at 1 day 
	and increases as you correctly recall the verse.</p>
	
	<p>If you have extra time, it's a good idea to occasionally 
	<span class=text-highlight><%= link_to 'review the references for your memory verses', start_ref_test_path %></span>, 
	particularly if you know the text of the verse but have difficulty matching verses with the correct reference.</p>
</div> 
</div>
