<div class="verse-list">
<% form_tag({:action => 'manage_verses'}, :method => :post, :name => "manage_verses") do %>
	<table class="memverse-standard">
	  <tr>		  	 
		  <th><input type="checkbox" onclick="checkAllFields(1);" id="checkAll" /></th>
		  <th><%= link_to 'Verse',			:action => 'show_all_my_verses'									%></th>
		  <th>Version</th>
		  <th><%= link_to 'eFactor',		:action => 'show_all_my_verses', :sort_order => 'efactor'		%></th>
		  <th><%= link_to 'Status', 		:action => 'show_all_my_verses', :sort_order => 'status'		%></th>		  				  	  		  		  		  
		  <th><%= link_to 'Last Tested',	:action => 'show_all_my_verses', :sort_order => 'last_tested'	%></th>	
		  <th><%= link_to 'Next Test',		:action => 'show_all_my_verses', :sort_order => 'next_test'		%></th>
		  <th><%= link_to 'Interval', 		:action => 'show_all_my_verses', :sort_order => 'test_interval'	%></th>
		  <th><%= link_to 'Attempts', 		:action => 'show_all_my_verses', :sort_order => 'attempts'		%></th>
		  <th><%= link_to 'Ref Int', 		:action => 'show_all_my_verses', :sort_order => 'ref_interval'	%></th>		  	  		  
		  <th><%= link_to 'Ref Test', 		:action => 'show_all_my_verses', :sort_order => 'next_ref_test'	%></th>		  	  		  
		  <th>Tags</th>
		  <th>Verse Status</th>
	  </tr>
		<% for mv in @my_verses %>
		  <tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
			<td align="center"><%= check_box_tag("mv[]", mv.id, false, :onclick => "checkAllFields(2);", :class => "boxes") %></td>
			<td align="left">  <%= link_to mv.verse.ref, {:action => 'show', :id => mv.id } %></td>		 
			<td align="center"><%= mv.verse.translation		%></td>		
		 	<td align="center"><%= mv.efactor				%></td>	
		 	<td align="center"><%= mv.status				%></td>			
		 	<td align="center"><%= mv.last_tested			%></td>
		 	<td align="center"><%= mv.next_test				%></td>	
		 	<td align="center"><%= mv.test_interval			%></td>	
			<td align="center"><%= mv.attempts				%></td>
		 	<td align="center"><%= mv.ref_interval			%></td>
		 	<td align="center"><%= mv.next_ref_test			%></td>
		 	<td align="left">  <%= mv.tag_list.to_s			%></td>
		 	<td align="center" class="flag_verse" id=<%= mv.verse.id %>><%= 			
				if mv.verified?
					link_to mv.verse.error_flag ? "Error Reported" : "Verified", 
									:url 		=> { :action => "toggle_verse_flag", :id => mv.verse.id },
									:update 	=> mv.verse.id,
									:remote		=> true
				elsif !mv.locked?
					link_to '[Editable]', edit_verse_path(mv)
				else
					'Pending Verification'
				end
			%></td>
		  </tr>
		<% end %>

	</table>
	
	<br>
	
	<%= submit_tag t('.print_selected'), :onclick => "return checkAllFields(4);", :remote => true, :format => :pdf %> <%= submit_tag t('.delete_selected'), :onclick => "return checkAllFields(3);", :remote => true %>
		
<% end %>

</div>

<br>

<div>
	<%= link_to 'Print All Verses (PDF)', {:controller => :memverses, :action => :show_all_my_verses, :format => :pdf}%>
</div>

<!-- Highlight verse to be verified -->
<script>
  $(document).ready(function(){    
    $('.flag_verse').click(function () { 
      $(this).closest('tr').toggleClass("hilite"); 
    });
  });
</script>
