<!-- Focus cursor on verse entry box -->
<body onload="document.getElementById('verseguess').focus()">

<!-- Question-side : Entry box -->	
<fieldset id="question-side">
	<legend> <%=@verse%> </legend>
		<% form_tag :action => 'mark_test' do %>
			
			<div id="answerbox">
		  		<%= text_area_tag(:verseguess, params[:verseguess] )%>			
		  	</div>
		
		<div id="scoreTestButtons">								
		  <div align="left"><%= submit_tag "5 Remembered - Perfect", 	 	:class => "submit", :q => 5 %></div>								
		  <div align="left"><%= submit_tag "4 Remembered - Hesitation", 	:class => "submit", :q => 4 %></div>	
		  <div align="left"><%= submit_tag "3 Remembered - Difficult",  	:class => "submit", :q => 3 %></div>	
		  <div align="left"><%= submit_tag "2 Don't Know - Familiar",		:class => "submit", :q => 2 %></div>	
		  <div align="left"><%= submit_tag "1 Don't Know - No Idea", 		:class => "submit", :q => 1 %></div>	
		</div>			  
		
		<% end %>	
</fieldset>	

<!-- Comparison section -->		
<fieldset id="comparison">
	<legend>Feedback</legend>
	<div id="verseFeedback">
		
		<!-- Prior verse, if available -->
		<% if !@prior_text.nil? %>
			<div id="priorVerse">
				<span class="superscript"><%=@prior_versenum%></span><span><%=@prior_text%></span>
			</div>
		<% end %>
		
		<!-- Current verse -->
		<div id="currentVerse">
			<% if !@prior_text.nil? %>			
				<span class="superscript"><%=@current_versenum%></span>
			<% end %>
			<span id="ajaxWrapper">
				<%= render :partial=>'feedback' %>
			</span>
		</div>
	</div>
</fieldset>	

<!-- Flashcard -->	
<div id="flashcard">
	<div class="quickFlip">
	    <div class="quickFlipPanel refPanel">
	        <p><%=@verse%></p>
	        <p class="quickFlipCta">Show Verse</p>
	    </div>
	
	    <div class="quickFlipPanel textPanel">
	    	<div id="flashcard-back-text">
		        <p><%=@verse%></p>
				<% if !@prior_text.nil? %>
					<p><span class="superscript"><%= @prior_versenum   %></span><%=@prior_text%></p>
				<% end %>				   	
		        <p> 
					<% if !@prior_text.nil? %>
						<span class="superscript"><%= @current_versenum %></span>
					<% end %>
					<%=@text%>
				</p>
		        <p class="quickFlipCta">Back to test</p>
			</div>			
	    </div>
	</div> <!-- end of quickFlip -->
</div> <!-- end of flashcard -->


<!-- Upcoming verses -->	
<div id="upcoming-list">
	<fieldset>
		<legend>Upcoming</legend>
			<%= render :partial => "upcoming_verses" %>						
	</fieldset>		
</div>
		
<%= observe_field :verseguess,
	:frequency	=> 0.6,
	:update		=> 'ajaxWrapper',
	:url		=> {:action => 'feedback', :only_path => false},
	:with		=> "'correct=#{escape_verse(@text)}&verseguess='+encodeURIComponent(value)"
%>

<script language="JavaScript" type="text/javascript">
	$(document).ready(function() {
	    $('.quickFlip').quickFlip();
	});
</script>


<!-- Google Code for Memverse - Login Conversion Page -->
<script language="JavaScript" type="text/javascript">
<!--
	var google_conversion_id = 1055933402;
	var google_conversion_language = "en_US";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "9GgaCKqlhwEQ2ofB9wM";
	if (0.5) {
	var google_conversion_value = 0.5;
}
//-->

</script>
	<script language="JavaScript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>

<noscript>
	<img height="1" width="1" border="0" src="http://www.googleadservices.com/pagead/conversion/1055933402/?value=0.5&amp;label=9GgaCKqlhwEQ2ofB9wM&amp;guid=ON&amp;script=0"/>
</noscript>