<% page_title I18n.t :memory_verse_review, :scope => 'page_titles' %>

<div class="white-box-bg">
	<div class="test-verse">
		<div class="top-heading">
			<h2><span><%= t('.verse') %>: </span><span class="verse-ref"><%=@mv.verse.ref%></span><span class="verse-tl"> [<%=@mv.verse.translation %>]</span></h2>
			<div id="toggle-hint" class="toggle-hint"><%= t('.show_verse') %></div>
		</div>
		<div id="mnemonic" class="mnemonic"><div id="mtext"><%= @mv.mnemonic_if_req %></div><div id="mclose">x</div></div>
		<div class="verse-test-area">
			<%= form_tag mark_test_quick_path, :id => 'test-verse-quick' do %>
				<div>
				<%= text_area_tag(:verseguess, params[:verseguess], :class => "verseguess" )%>
				</div>

				<div class="tool-tip-nav">Rate Your Performance:</div>
				<div id="test-buttons" class="score-test-buttons">

					<!-- Rating buttons -->
					<span class="submit" q="1">1</span> <div class="tooltip"><%= I18n.t "memverses.test_verse_quick.b1" %></div>
					<span class="submit" q="2">2</span> <div class="tooltip"><%= I18n.t "memverses.test_verse_quick.b2" %></div>
					<span class="submit" q="3">3</span> <div class="tooltip"><%= I18n.t "memverses.test_verse_quick.b3" %></div>
					<span class="submit" q="4">4</span> <div class="tooltip"><%= I18n.t "memverses.test_verse_quick.b4" %></div>
					<span class="submit" q="5">5</span> <div class="tooltip"><%= I18n.t "memverses.test_verse_quick.b5" %></div>

					<!-- Skip button -->
					<span class="test-button" id="ff-button">&gt;&gt;</span> <div class="tooltip">Skip to <strong id="next-verse-due"><%= @mv.next_verse_due(true).verse.ref unless @mv.due? %></strong></div>

					<!-- Rating information -->
					<span class="info-button flt_rht">
						<%= link_to (image_tag("blue-icon.png", :width=>"16", :height=>"16")), "#info", :id => "inline" %>
					</span>
					<div class="tooltip">Learn about rating your verses and keyboard shortcuts</div>
					<div style="display:none">
						<div id="info">
							<%= render "memverses/rating_explanation" %>
						</div> <!-- end: info -->
					</div>

				</div>	<!-- end: scoreTestButtons -->

			<% end %> <!-- end: form -->
		</div> <!-- end: verse-test-area -->

	</div> <!-- end: test-verse -->

	<div class="feedback verse-feedback">
		<h2><%= t('.feedback') %></h2>

		<div class="priorVerse">
			<p>
				<!-- Prior verse, if available -->
				<span class="prior-versenum superscript">	<%=@prior_versenum if @prior_text%></span>
				<span class="prior-text">					<%=@prior_text if @prior_text%>	</span>
			</p>
		</div>

		<!-- Current verse -->
		<div id="currentVerse">
			<p>
				<span class="current-versenum superscript"><%=@mv.verse.versenum if @prior_text%></span>
				<span id="feedback"></span>
				<%= image_tag("indicator2.gif", alt: "Comparing...", style: "display: none", class: "center spinner", id: "ajax_spinner") %>
			</p>
		</div>

		<!-- Current verse answer -->
		<div id="complete-hint">
			<p>
				<span class="current-versenum superscript"><%=@mv.verse.versenum if @prior_text%></span>
				<span class="current-text"><%= @mv.verse.text %></span>
				<%= image_tag("indicator2.gif", alt: "Comparing...", style: "display: none", class: "center spinner", id: "ajax_spinner") %>
			</p>
		</div>

	</div> <!-- end: Feedback -->

	<div class="upcoming">
		<h2><%= t('.upcoming_verses') %></h2>
		<%= render :partial => "upcoming_verses" %>
	</div>
	<div class="clr"></div>
</div> <!-- end: white-box-bg -->

<!--  Feature Tour -->
<ol id="joyRideTipContent">

  	<li>
  		<h3>Welcome to Your 1st Review Session</h3>
  		<p>Since this is your first review session, let's go through a quick tour that will explain how to use this page. This is the main memorization
  			page that you will use each day.</p>
  	</li>

	<li data-id="mnemonic"   data-text="Next" data-options="tipLocation:right">
		<h4>The Mnemonic</h4>
		<p>The mnemonic helps you learn a verse by showing the first letter of each word in the verse.</p>
	</li>

	<li data-id="verseguess" data-text="Next" data-options="tipLocation:right">
		<h4>Verse Entry</h4>
		<p>
			Type the verse into this box. You do not need to pay attention to capitalization and punctuation (unless you want to).
		</p>
	</li>

	<li data-id="feedback" data-text="Next">
		<h4>Real-time Feedback</h4>

		<p>As you type, Memverse will show you whether you are getting the verse correct by giving feedback in this box.</p>
	</li>

	<li data-id="test-buttons" data-button="Next" data-options="tipLocation:top">
		<h4>Rating your Recall</h4>

		<p>
			After reviewing a verse, tell Memverse how well you remembered it. We will calculate when next you should review each verse. Click the blue information button next to the ratings for a full explanation of the system.
		</p>
	</li>

	<li data-id="toggle-hint" data-text="Next" data-options="tipLocation:bottom">
		<h4>Forgotten Verses</h4>

		<p>
			Click the magnifying glass to display the verse if you get stuck. Clicking it again will hide the verse once more. Be sure
			to rate the verse with a 1 or a 2 rating if you can't remember it so that you can review it again the next day.
		</p>
	</li>

	<li data-class="upcoming" data-button="Next" data-options="tipLocation:bottom">
		<h4>Upcoming Verses</h4>
		<p>
			This section shows the rest of your memory verses that are due for review today. Try to work through all the verses that are due for
		    review each day.
		</p>
	</li>

	<li data-id="verseguess" data-text="Close" data-options="tipLocation:right">
		<h4>Let's Get Started</h4>
		<p>
			Type your first memory verse into this box.
		</p>
	</li>

</ol>

<% if current_user.progression <= 4 %>
	<!-- Launch joyride when to page is loaded -->
	<script language="JavaScript" type="text/javascript"><!--
		$(window).load(function() {
			$('#joyRideTipContent').joyride({
				autoStart : true,
				modal     : true,
				expose    : true   // highlight element, requires modal=true
			});
		});
	--></script>
<% end %>

<!-- Handling of tooltips -->
<script type="text/javascript">

	$(function() {
		$( document ).tooltip({
			tooltipClass: "mv-rating",
			items: ".submit, #ff-button, .info-button",
			content: function() {
				var element = $( this );
				return element.next(".tooltip").html();
			},
			position: {
				my: "center-20% bottom+15%",
				at: "center top",
				using: function( position, feedback ) {
					$( this ).css( position );
					$( "<div>" )
					.appendTo( this );
				}
			}
		});
	});

</script>

<script language="JavaScript" type="text/javascript"><!--

	$(document).ready(function() {

		// cache frequent DOM objects in variables
		$completehint = $("#complete-hint");
		$currentVerse = $("#currentVerse");
		$togglehint   = $("#toggle-hint");
		$feedback     = $("#feedback");
		$verseguess   = $("#verseguess");

		<% if !@mv.needs_mnemonic? %>
			$('#mnemonic').hide();
		<% end %>

		// focus cursor on verse entry box
		$verseguess.focus();

		//fancybox info
		$("a#inline").fancybox({
			padding        : 20
		});

		// Toggle verse function
		function toggleverse() {
			$completehint.toggle();
			$currentVerse.toggle();
			if ( $togglehint.text() == (I18n.t("memverses.test_verse_quick.show_verse")) ) {
				$togglehint.text(I18n.t("memverses.test_verse_quick.hide_verse"));
			} else {
				$togglehint.text(I18n.t("memverses.test_verse_quick.show_verse"));
			}
		}

		// show verse
		$togglehint.click( function () {
			toggleverse();
		});

		var ondeck 				= {};
		var prior				= {};
		var current				= {};
		var live				= {};
		var user_id				= "<%= current_user.id %>";

		$("table#upcoming-verses .upcoming-verse-ref:contains('<%=@mv.verse.ref%>')").remove()

		current.id		 = "<%= @mv.id %>";
		current.text   	 = "<%= escape_javascript(@mv.verse.text.html_safe) %>";
		current.feedback = <%= @mv.show_feedback? %>;
		current.mnemonic = "<%= escape_javascript(@mv.mnemonic_if_req.html_safe) %>";
		live.correct     = false; // Can currently toggle verse (show/hide)
		live.feedtext    = "Waiting for you to begin typing..."; // Live Feedback text

		// Load next verse
		$('#ff-button').toggle(<%= !@mv.due? %>);					// Hide/Show fast forward button
		ondeck = stageverses(current.id);

		function getverseFeedback(guess){
			allowFirstLetter = (current.mnemonic === null || current.mnemonic == "-" || current.mnemonic == "");

			live = verseFeedback(current.text, guess, current.feedback, allowFirstLetter);

			$feedback.html(live.feedtext);

			if (live.correct) {
				$togglehint.fadeOut(500);
			} else if ($togglehint.is(":hidden")) { // Verse is incorrect; if the toggle option was unavailable, make it available now
				$togglehint.text(I18n.t("memverses.test_verse_quick.show_verse")).fadeIn(500);
			}
			if ($completehint.is(":visible") && live.correct) {
				$completehint.toggle();
				$currentVerse.toggle();
			}
		}

		live = getverseFeedback($verseguess.val()); // Run this once when page first loads

		// Verse feedback
		$verseguess.observe_field(0.2, function( ) {
			getverseFeedback(this.value);
		});

		// ==== Fastforward function ====
		function fastforward() {
			// Check whether we're done for the day
			if (ondeck.finished || typeof(ondeck.mv_skip) == 'undefined' || ondeck.mv_skip == null ) {
				log_progress(user_id);
				window.location="/progress";
			}
			else {
				success = insertondeck(ondeck.mv_skip, ondeck.mv_prior_skip);	// Update page with ondeck verses
				current = ondeck.mv_skip										// Update current verse
				var upcomingRef = $("ul#upcoming-verses .upcoming-verse-ref:contains(" + current.ref + ")");
					upcomingRef.fadeOut(500);		// fade out reference (makes invisible) 
					upcomingRef.remove();			// completely remove reference

				if($("ul#upcoming-verses .upcoming-verse-ref:visible").not(":contains(" + current.ref + ")").length == 0) {
					$("ul#upcoming-verses").html("<li>(None)</li>");
				}

				live = getverseFeedback($verseguess.val());						// Update verse feedback
				ondeck = stageverses(current.id);								// Get new ondeck verses
			}
		}

		// ==== User clicks on fastforward button ====
		$('#ff-button').click(function() {
			fastforward();
		});

		// ==== Show/Hide mnemonic ====
		function togglemnemonic(){
			if ( $('#mclose').is(':hidden') ) {
				$("#mtext").text(current.mnemonic);
				$('#mclose').show();
			}
			else {
				$('#mtext').html('<span>Show Prompts</span>');
				$("#mclose").hide();
			}
		}

		$('#mclose').click(function() {
			togglemnemonic();
		});

		$('#mtext').click(function() {
			if ( $('#mclose').is(':hidden') ) {
				togglemnemonic();
			}
		});

		// ==== Verse rating function ====
		function rateverse() {
			// == Remove this verse from list of upcoming verses
			$("ul#upcoming-verses .upcoming-verse-ref:contains(" + current.ref + ")").fadeOut(500);
			// == Remove next verse from list of upcoming verses
			$("ul#upcoming-verses .upcoming-verse-ref:contains(" + ondeck.mv.ref + ")").fadeOut(500);

			// Check whether we're done for the day
			if (ondeck.finished) {
				$.getJSON("/mark_test_quick", { mv: current.id, q: q  }, 			// Score verse
					function(data) {
						if (data.msg) {	alert(data.msg); }							// Give user a nice response
						log_progress(user_id);									    // Log progress
						window.location="/progress";							    // Navigate to progress
				});
			} else {
				success = insertondeck(ondeck.mv, ondeck.mv_prior);					// Update page with Ondeck verse
				prior   = current;
				current = ondeck.mv;												// data for the verse we're now testing
				live = getverseFeedback($verseguess.val());							// Update verse feedback
				$.getJSON("/mark_test_quick", { mv: prior.id, q: q  }, 				// Score verse
					function(data) {
						if (data.msg) {  setTimeout(function() {alert(data.msg);}, 1); }  // Give user a nice response that doesn't hinder other requests
						update_upcoming(20, ondeck.mv.id);							// Req successful callback from mark_test_quick: Update upcoming verses
						ondeck = stageverses(current.id);							// Req successful callback from mark_test_quick: Get next verses
				});
			}
		}

		// ==== User clicks 1-5 button ====
		$('.submit').click( function() {

			// == Set key press
			q = $(this).attr("q");
			rateverse();

		});

		// Shortcuts
		isShift = false;
		isPlus = false;
		pluskeys = [61, 107, 187];

		$(document).keyup(function (e) {
			if(e.which == 16) {
				isShift=false;
			}
			if(jQuery.inArray(e.which,pluskeys) > -1) {
				isPlus=false;
			}
		})
		.keydown(function (e) {
			if(e.which == 16) {
				isShift=true;
			}
			if((jQuery.inArray(e.which,pluskeys) > -1) && (isShift == true)) { // FF on Windows 107, IE 187, Opera 61
				isPlus=true;
				return false;
			}
			if(isPlus == true && isShift == true){
				if(e.which >= 49 && e.which <= 53) { // User must be rating verse
					$verseguess.blur();
					switch (e.which) { // Now set the "q" variable
						case 49:
							q = 1;
							break;
						case 50:
							q = 2;
							break;
						case 51:
							q = 3;
							break;
						case 52:
							q = 4;
							break;
						case 53:
							q = 5;
							break;
					}
					isShift=false;isPlus=false; // Set isShift and isPlus to false before interface locks (during "async" ajax calls) and keyups aren't detected
					rateverse();
					return false;
				}
				if(e.which == 86) {
					toggleverse();
 					return false;
				}
				if(e.which == 80 || e.which == 72) {
					togglemnemonic();
					return false;
				}
				if(e.which == 190) {
					if ($("#ff-button").is(":visible")){
						fastforward();
					}
					else {
						alert("You cannot skip this verse. It is due for review today.");
					}
					return false;
				}
			} // end of if(isPlus == true && isShift == true)

		})
		.keypress(function (e) {
			if(e.which == 62 || e.which == 43) {
				// Prevent ">" and "+" from going into textarea
				e.preventDefault();
				return false;
			}
			if((e.which == (33 || 64 || 35 || 36 || 37 || 80 || 86)) && isPlus == true) {
				// All we're trying to do is prevent the shifted rating numbers or other symbols/characters for shortcuts from going into textarea
				e.preventDefault();
				return false;
			}
		})
		;

	}); // End of jQuery document ready

--></script>

<!-- Google Code for Memverse - Login Conversion Page -->
<script language="JavaScript" type="text/javascript">
<!--
	var google_conversion_id = 1055933402;
	var google_conversion_language = "en_US";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "9GgaCKqlhwEQ2ofB9wM";
	if (0.5) {
	var google_conversion_value = 0.5;
}
//-->

</script>
<script language="JavaScript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>

<noscript>
	<img height="1" width="1" border="0" src="https://www.googleadservices.com/pagead/conversion/1055933402/?value=0.5&amp;label=9GgaCKqlhwEQ2ofB9wM&amp;guid=ON&amp;script=0"/>
</noscript>
<!-- END: Google Code for Memverse - Login Conversion Page -->
