<% page_title I18n.t :memory_verse_review, :scope => 'page_titles' %>
<!-- Focus cursor on verse entry box -->
<body onload="document.getElementById('verseguess').focus()"></body>

<div class="white-box-bg">
	<div class="test-verse">
    	<div class="top-heading">
        	<h2><span>Verse: </span><span class="verse-ref"><%=@mv.verse.ref%></span><span class="verse-tl"> [<%=@mv.verse.translation %>]</span></h2>
            <div class="toggle-hint">Show Hint</div>
        </div>
        <div class="mnemonic"><%= @mv.mnemonic_if_req %></div>
        <div class="verse-test-area">
        	<% form_tag mark_test_quick_path, :id => 'test-verse-quick' do %>
            	<div>
            		<%= text_area_tag(:verseguess, params[:verseguess], :class => "verseguess" )%>	
                </div>
                
                <div class="tool-tip-nav">Rate Your Performance Level:</div>
                <div class="score-test-buttons">								
					<%= link_to 1, {:q => 1}, {:class => "test-button", :class => "submit", :remote => true} %> <div class="tooltip">Don't Know - No Idea</div>							
					<%= link_to 2, {:q => 2}, {:class => "test-button", :class => "submit", :remote => true} %> <div class="tooltip">Don't Know - Familiar</div>							
					<%= link_to 3, {:q => 3}, {:class => "test-button", :class => "submit", :remote => true} %> <div class="tooltip">Remembered - Difficult</div>							
					<%= link_to 4, {:q => 4}, {:class => "test-button", :class => "submit", :remote => true} %> <div class="tooltip">Remembered - Hesitation</div>							
					<%= link_to 5, {:q => 5}, {:class => "test-button", :class => "submit", :remote => true} %> <div class="tooltip">Remembered - Perfect</div>	
					
					<%= link_to '>>', {}, {:class => "test-button", :id => "ff-button", :remote => true} %> <div class="tooltip">Skip this verse for today</div>	
				</div>	
                
            <% end %> <!-- end: form -->
        </div> <!-- end: verse-test-area -->

   </div> <!-- end: test-verse -->
    
    <div class="feedback">
    	<h2>Live Feedback</h2>

		<div class="priorVerse">
			<p>
				<!-- Prior verse, if available -->
				<span class="prior-versenum superscript">	<%=@prior_versenum if @prior_text%></span>
				<span class="prior-text">					<%=@prior_text if @prior_text%>	</span>
			</p>
		</div>
		
		<!-- Current verse -->
		<div id="currentVerse">
			<p>		
				<span class="current-versenum superscript"><%=@mv.verse.versenum if @prior_text%></span>
				<span id="ajaxWrapper">
					<%= render :partial=>'feedback', :locals => {:show_feedback => @show_feedback} %>
				</span>
				<img class="center spinner" id="ajax_spinner" src="/images/indicator2.gif" alt="Comparing..." style="display: none" />
			</p>					
		</div>
		
		<!-- Current verse answer -->
		<div id="complete-hint">
			<p>		
				<span class="current-versenum superscript"><%=@mv.verse.versenum if @prior_text%></span>
				<span class="current-text"><%= @mv.verse.text %></span>
			</p>			
		</div>


    </div>
    
    <div class="upcoming">
    	<h2>Upcoming Verses</h2>
        <ul>
        	<li class="gray2"><a href="#">Jn 15:7</a></li>
            <li class="white2"><a href="#">Jn 15:7</a></li>
            <li class="gray2"><a href="#">Jn 15:7</a></li>
            <li class="white2"><a href="#">Jn 15:7</a></li>
            <li class="gray2"><a href="#">Jn 15:7</a></li>
            <li class="white2"><a href="#">Jn 15:7</a></li>
            <li class="gray2"><a href="#">Jn 15:7</a></li>
        </ul>
        <div class="upcoming-button">
        	<%= link_to image_tag("add-more.png", :width=>"192", :height=>"25", :alt=>"Add More Verses"), add_verse_path %>
            <%= link_to image_tag("modify.png", :width=>"192", :height=>"25", :alt=>"Modify Bible Version"), update_profile_path %>
        </div>
    </div>
    <div class="clr"></div>
</div>



<script language="JavaScript" type="text/javascript"><!--

    // unblock when ajax activity stops 
    $(document).ajaxStart($('#scoreTestButtons').block()).ajaxStop($('#scoreTestButtons').unblock());
		
	$(document).ready(function() {
		
		// tooltips for test buttons ... not working yet
		$("a .test-button").tooltip();
			
		// show verse
		$(".toggle-hint").click( function () {
			$("#complete-hint").toggle();
			$("#currentVerse").toggle();
			if ($(this).text() == "Show Hint") {
				$(".toggle-hint").text("Hide Hint");
			} else {
				$(".toggle-hint").text("Show Hint");
			}
			
		});
				
		$(".toggle-hint").hover(
			function () {
				$(this).addClass("hover1");
			},
			function () {
				$(this).removeClass("hover1");
			}
		);
			
		var ondeck 				= {};
		var prior               = {};
		var current				= {};
		var user_id				= "<%= current_user.id %>";		

		$("table#upcoming-verses .upcoming-verse-ref:contains('<%=@mv.verse.ref%>')").remove()				
			 
		current.id		 = "<%= @mv.id %>";
		current.text	 = "<%= escape_verse(@mv.verse.text.html_safe) %>";
		current.feedback = "<%= @mv.show_feedback? %>"
		
		// Load next verse
		$('#ff-button').toggle(<%= !@mv.due? %>);					// Hide/Show fast forward button
		ondeck = stageverses(current.id);	

		// Verse feedback	
		$("#verseguess").observe_field(0.4, function( ) { 
			$.get("/feedback", { correct: current.text, verseguess: encodeURIComponent(this.value), echo: current.feedback },
				function(data){	
					$("#ajaxWrapper").html(data);
			});
        });
        
        $('.spinner')
			.ajaxStart(function() {
		        $(this).show();
		    })
			.ajaxStop(function() {
		        $(this).hide();
    	});
			
		// ==== User clicks on fastforward button ====				
		$('#ff-button').click(function() {
			
			// Check whether we're done for the day
			if (ondeck.finished || typeof(ondeck.mv_skip) == 'undefined' || ondeck.mv_skip == null ) {
				log_progress(user_id)
				window.location="./progress";
				return (false);
			}
			else {
				success = insertondeck(ondeck.mv_skip, ondeck.mv_prior_skip);	// Update page with ondeck verses
				current = ondeck.mv_skip										// Update current verse
				update_upcoming(12, ondeck.mv_skip.id);							// Update upcoming verses
				ondeck = stageverses(current.id);								// Get new ondeck verses						
				return (false);	
			}			
		});
		
		// ==== User clicks 1-5 button ====			
		$('.submit').click( function() {
						 						
			// == Set key press
			q = $(this).attr("q");
				
			// == Remove verse from list of upcoming verses
			$("table#upcoming-verses .upcoming-verse-ref:contains(" + ondeck.mv.ref + ")").remove()				
				
			// Check whether we're done for the day
			if (ondeck.finished) {
				$.getJSON("/mark_test_quick", { mv: current.id, q: q  }, 			// Score verse
					function(data) {
						if (data.msg) {
							alert(data.msg); 										// Give user a nice response												
						}						
				});								
				log_progress(user_id)												// TODO: this will execute before final verse is scored
				window.location="./progress";
				return (false);
			}
			else {
				success = insertondeck(ondeck.mv, ondeck.mv_prior);					// Update page with Ondeck verse
				prior   = current
				current = ondeck.mv													// data for the verse we're now testing															
				$.getJSON("/mark_test_quick", { mv: prior.id, q: q  }, 			    // Score verse
					function(data) {
						if (data.msg) {	alert(data.msg); }							// Give user a nice response												
						update_upcoming(12, ondeck.mv.id);							// Req successful callback from mark_test_quick: Update upcoming verses
						ondeck = stageverses(current.id);							// Req successful callback from mark_test_quick: Get next verses				
				});					
				return (false);	
			}
										
		})			
	});
--></script>



<!-- Google Code for Memverse - Login Conversion Page -->
<script language="JavaScript" type="text/javascript">
<!--
	var google_conversion_id = 1055933402;
	var google_conversion_language = "en_US";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "9GgaCKqlhwEQ2ofB9wM";
	if (0.5) {
	var google_conversion_value = 0.5;
}
//-->

</script>
	<script language="JavaScript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>

<noscript>
	<img height="1" width="1" border="0" src="http://www.googleadservices.com/pagead/conversion/1055933402/?value=0.5&amp;label=9GgaCKqlhwEQ2ofB9wM&amp;guid=ON&amp;script=0"/>
</noscript> <!-- END: Google Code for Memverse - Login Conversion Page -->

