<!-- Flashcard -->	
<div id="flashcard-front-text" class="current">
	
    <div class="toolbar">
		<%= yield(:toolbar) %>    	
	    <%= link_to "Back", nil, :class => "back" unless current_page? root_path %>	
    	<h1><%=@verse%></h1>
    	<a class="button flip" href="#flashcard-back-text">Show Verse</a>
	</div>
	
	<p class="mnemonic"><%=@mnemonic%></p>

	<% form_tag mark_test_path do %>			
		<ul class="rounded">
			<li>
				<select id="commit">
				        <option value ="5">Remembered - Perfect</option>
				        <option value ="4">Remembered - Hesitation</option>
				        <option value ="3">Remembered - Difficult</option>			
				        <option value ="2">Forgotten - Familiar</option>
				        <option value ="1">Forgotten - No Idea</option>
				</select>
			</li>			
		</ul>
		  
		<%= submit_tag 'Rate Recall', :class => "whiteButton submit" %>
		  
	<% end %>
			
</div>


<div id="flashcard-back-text">
	
    <div class="toolbar">
    	<h1><%=@verse%></h1>
    	<a class="button flip" href="#flashcard-front-text">Back to Test</a>
	</div>
	
	<% if !@prior_text.nil? %>
		<p><span class="superscript"><%= @prior_versenum   %></span><%=@prior_text%></p>
	<% end %>				   	
    <p> 
		<% if !@prior_text.nil? %>
			<span class="superscript"><%= @current_versenum %></span>
		<% end %>
		<%=@text%>
	</p>

</div>			

