<!-- Focus cursor on verse entry box -->
<body onload="document.getElementById('verseguess').focus()">
	
<div id="test-chapter">
	<!-- Question-side : Entry box -->	
	<fieldset id="question-side">
		<legend> <%=@verse%> </legend>
			<% form_tag :action => 'mark_test' do %>
				
				<div id="answerbox">
			  		<%= text_area_tag(:verseguess, params[:verseguess] )%>			
			  	</div>
			
			<div id="scoreTestButtons">								
			  <span><%= submit_tag 5, 	:class => "submit", :q => 5 %>
			  		<%= submit_tag 4, 	:class => "submit", :q => 4 %>	
			  		<%= submit_tag 3,  	:class => "submit", :q => 3 %>	
			  		<%= submit_tag 2,	:class => "submit", :q => 2 %>	
			  		<%= submit_tag 1, 	:class => "submit", :q => 1 %></span>	
			</div>			  
			
			<% end %>	
	</fieldset>	
	
	<!-- Comparison section -->		
	<fieldset id="comparison">
		<legend><%= t('memverses.test_verse.feedback') %></legend>
		<div id="verseFeedback">		
			<!-- Current verse -->
			<span id="ajaxWrapper">
				<%= render :partial=>'feedback', :locals => {:show_feedback => @show_feedback} %>
			</span>					
		</div>
	</fieldset>	
	
	<!-- Flashcard -->	
	<div id="flashcard">
		<div class="quickFlip">
		    <div class="quickFlipPanel refPanel">
		        <p><%=@verse%></p>
				<p class="mnemonic"><%=@mnemonic%></p>
		        <p class="quickFlipCta"><%= t('memverses.test_verse.show_verse') %></p>
		    </div>
		
		    <div class="quickFlipPanel textPanel">
		    	<div id="flashcard-back-text">
			        <p><%=@verse%></p>				   	
			        <p><%=@text%></p>
			        <p class="quickFlipCta"><%= t('memverses.test_verse.back_to_test') %></p>
				</div>			
		    </div>
		</div> <!-- end of quickFlip -->
	</div> <!-- end of flashcard -->
</div>


<div id="chapter-prior-verses">
<p>
1 Paul, an apostle of Christ Jesus by the will of God,

2 Grace and peace to you from God our Father and the Lord Jesus Christ.
Spiritual Blessings in Christ

3 Praise be to the God and Father of our Lord Jesus Christ, who has blessed us in the heavenly realms with every spiritual blessing in Christ.4 For he chose us in him before the creation of the world to be holy and blameless in his sight. In love5 he predestined us to be adopted as his sons through Jesus Christ, in accordance with his pleasure and will–6 to the praise of his glorious grace, which he has freely given us in the One he loves.7 In him we have redemption through his blood, the forgiveness of sins, in accordance with the riches of God's grace8 that he lavished on us with all wisdom and understanding.9 And he made known to us the mystery of his will according to his good pleasure, which he purposed in Christ,

10 to be put into effect when the times will have reached their fulfillment–to bring all things in heaven and on earth together under one head, even Christ.
11 In him we were also chosen, having been predestined according to the plan of him who works out everything in conformity with the purpose of his will,12 in order that we, who were the first to hope in Christ, might be for the praise of his glory.13 And you also were included in Christ when you heard the word of truth, the gospel of your salvation. Having believed, you were marked in him with a seal, the promised Holy Spirit,

14 who is a deposit guaranteeing our inheritance until the redemption of those who are God's possession–to the praise of his glory.
Thanksgiving and Prayer

15 For this reason, ever since I heard about your faith in the Lord Jesus and your love for all the saints,16 I have not stopped giving thanks for you, remembering you in my prayers.17 I keep asking that the God of our Lord Jesus Christ, the glorious Father, may give you the Spirit of wisdom and revelation, so that you may know him better.18 I pray also that the eyes of your heart may be enlightened in order that you may know the hope to which he has called you, the riches of his glorious inheritance in the saints,19 and his incomparably great power for us who believe. That power is like the working of his mighty strength,20 which he exerted in Christ when he raised him from the dead and seated him at his right hand in the heavenly realms,21 far above all rule and authority, power and dominion, and every title that can be given, not only in the present age but also in the one to come.22 And God placed all things under his feet and appointed him to be head over everything for the church,

23 which is his body, the fullness of him who fills everything in every way. 
</p>
</div>
	
<%= observe_field :verseguess,
	:frequency	=> 0.6,
	:update		=> 'ajaxWrapper',
	:url		=> {:action => 'feedback', :only_path => false},
	:with		=> "'echo=#{@show_feedback}&correct=#{escape_verse(@text)}&verseguess='+encodeURIComponent(value)"
%>

<script language="JavaScript" type="text/javascript">
	$(document).ready(function() {
	    $('.quickFlip').quickFlip();
	});
</script>