<!-- Focus cursor on verse entry box -->
<body onload="document.getElementById('verseguess').focus()">
	
<div id="test-chapter">
	<!-- Question-side : Entry box -->	
	<fieldset id="question-side">
		<legend> <%=@verse%> </legend>
			<% form_tag :action => 'test_chapter' do %>
				
				<div id="answerbox">
			  		<%= text_area_tag(:verseguess, params[:verseguess] )%>			
			  	</div>
			
			<div id="scoreTestButtons">								
			  <span><%= submit_tag 5, 	:class => "submit", :q => 5 %>
			  		<%= submit_tag 4, 	:class => "submit", :q => 4 %>	
			  		<%= submit_tag 3,  	:class => "submit", :q => 3 %>	
			  		<%= submit_tag 2,	:class => "submit", :q => 2 %>	
			  		<%= submit_tag 1, 	:class => "submit", :q => 1 %></span>	
			</div>			  
			
			<% end %>	
	</fieldset>	
	
	<!-- Comparison section -->		
	<fieldset id="comparison">
		<legend><%= t('memverses.test_verse.feedback') %></legend>
		<div id="verseFeedback">		
			<!-- Current verse -->
			<span id="ajaxWrapper">
				<%= render :partial=>'feedback', :locals => {:show_feedback => @show_feedback} %>
			</span>					
		</div>
	</fieldset>	
	
	<!-- Flashcard -->	
	<div id="flashcard">
		<div class="quickFlip">
		    <div class="quickFlipPanel refPanel">
		        <p><%=@verse%></p>
				<p class="mnemonic"><%=@mnemonic%></p>
		        <p class="quickFlipCta"><%= t('memverses.test_verse.show_verse') %></p>
		    </div>
		
		    <div class="quickFlipPanel textPanel">
		    	<div id="flashcard-back-text">
			        <p><%=@verse%></p>				   	
			        <p><%=@text%></p>
			        <p class="quickFlipCta"><%= t('memverses.test_verse.back_to_test') %></p>
				</div>			
		    </div>
		</div> <!-- end of quickFlip -->
	</div> <!-- end of flashcard -->
</div>

<fieldset id="chapter-prior-verses">
	<legend><%= @bk_ch %></legend>	
	<div>
		<% for mv in @chapter %>
			<span class="superscript"><%= mv.verse.versenum %></span><span><%= mv.verse.text %></span>
		<% end %>
	</div>
</fieldset>	

	
<%= observe_field :verseguess,
	:frequency	=> 0.6,
	:update		=> 'ajaxWrapper',
	:url		=> {:action => 'feedback', :only_path => false},
	:with		=> "'echo=#{@show_feedback}&correct=#{escape_verse(@text)}&verseguess='+encodeURIComponent(value)"
%>

<script language="JavaScript" type="text/javascript">
	$(document).ready(function() {
	    $('.quickFlip').quickFlip();
	});
</script>