<!-- Flashcard -->	
<div id="flashcard-front-text" class="current">
	
    <p><%=@verse%></p>
	<p class="mnemonic"><%=@mnemonic%></p>

	<% form_tag :action => 'mark_test' do %>			
		<div id="scoreTestButtons">								
		  <div align="left"><%= submit_tag t('.b5'), 	:class => "submit", :q => 5 %></div>								
		  <div align="left"><%= submit_tag t('.b4'), 	:class => "submit", :q => 4 %></div>	
		  <div align="left"><%= submit_tag t('.b3'),  	:class => "submit", :q => 3 %></div>	
		  <div align="left"><%= submit_tag t('.b2'),	:class => "submit", :q => 2 %></div>	
		  <div align="left"><%= submit_tag t('.b1'), 	:class => "submit", :q => 1 %></div>	
		</div>			  
	<% end %>

    <p class="flip"><a href="#flashcard-back-text">Show Verse</a></p>
</div>



<div id="flashcard-back-text">
    <p><%=@verse%></p>
	<% if !@prior_text.nil? %>
		<p><span class="superscript"><%= @prior_versenum   %></span><%=@prior_text%></p>
	<% end %>				   	
    <p> 
		<% if !@prior_text.nil? %>
			<span class="superscript"><%= @current_versenum %></span>
		<% end %>
		<%=@text%>
	</p>
    <p class="flip"><a href="#flashcard-front-text">Back to Test</a></p>
</div>			

