<% page_title I18n.t :memory_verse_review, :scope => 'page_titles' %>
<% page_banner I18n.t :memory_verse_review, :scope => 'page_titles' %>
<!-- Focus cursor on verse entry box -->
<body onload="document.getElementById('verseguess').focus()">

<!-- Question-side : Entry box -->	
<fieldset id="question-side">
	<legend> <%=@verse%> </legend>
		<% form_tag :action => 'mark_test' do %>
			
			<div id="answerbox">
		  		<%= text_area_tag(:verseguess, params[:verseguess] )%>			
		  	</div>
		
		<div id="scoreTestButtons">								
		  <div align="left"><%= submit_tag t('.b5'), 	:class => "submit", :q => 5 %></div>								
		  <div align="left"><%= submit_tag t('.b4'), 	:class => "submit", :q => 4 %></div>	
		  <div align="left"><%= submit_tag t('.b3'),  	:class => "submit", :q => 3 %></div>	
		  <div align="left"><%= submit_tag t('.b2'),	:class => "submit", :q => 2 %></div>	
		  <div align="left"><%= submit_tag t('.b1'), 	:class => "submit", :q => 1 %></div>	
		</div>			  
		
		<% end %>	
</fieldset>	

<!-- Comparison section -->		
<fieldset id="comparison">
	<legend><%= t('.feedback') %></legend>
	<div id="verseFeedback">
		
		<!-- Prior verse, if available -->
		<% if !@prior_text.nil? %>
			<div id="priorVerse">
				<span class="superscript"><%=@prior_versenum%></span><span><%=@prior_text%></span>
			</div>
		<% end %>
		
		<!-- Current verse -->
		<div id="currentVerse">
			<% if !@prior_text.nil? %>			
				<span class="superscript"><%=@current_versenum%></span>
			<% end %>

			<span id="ajaxWrapper">
				<%= render :partial=>'feedback', :locals => {:show_feedback => @show_feedback} %>
			</span>					
		</div>
	</div>
</fieldset>	

<!-- Flashcard -->	
<div id="flashcard">
	<div class="quickFlip">
	    <div class="quickFlipPanel refPanel">
	        <p><%=@verse%></p>
			<p class="mnemonic"><%=@mnemonic%></p>
	        <p class="quickFlipCta"><%= t('.show_verse') %></p>
	    </div>
	
	    <div class="quickFlipPanel textPanel">
	    	<div id="flashcard-back-text">
		        <p><%=@verse%></p>
				<% if !@prior_text.nil? %>
					<p><span class="superscript"><%= @prior_versenum   %></span><%=@prior_text%></p>
				<% end %>				   	
		        <p> 
					<% if !@prior_text.nil? %>
						<span class="superscript"><%= @current_versenum %></span>
					<% end %>
					<%=@text%>
				</p>
		        <p class="quickFlipCta"><%= t('.back_to_test') %></p>
			</div>			
	    </div>
	</div> <!-- end of quickFlip -->
</div> <!-- end of flashcard -->


<!-- Upcoming verses -->	
<div id="upcoming-list">
	<fieldset>
		<legend><%= t('.upcoming') %></legend>
			<%= render :partial => "upcoming_verses" %>						
	</fieldset>		
</div>
	
<%= observe_field :verseguess,
	:frequency	=> 0.6,
	:update		=> 'ajaxWrapper',
	:url		=> {:action => 'feedback', :only_path => false},
	:with		=> "'echo=#{@show_feedback}&correct=#{escape_verse(@text)}&verseguess='+encodeURIComponent(value)"
%>

<script language="JavaScript" type="text/javascript">
	$(document).ready(function() {
	    $('.quickFlip').quickFlip();
	});
</script>


<!-- Google Code for Memverse - Login Conversion Page -->
<script language="JavaScript" type="text/javascript">
<!--
	var google_conversion_id = 1055933402;
	var google_conversion_language = "en_US";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "9GgaCKqlhwEQ2ofB9wM";
	if (0.5) {
	var google_conversion_value = 0.5;
}
//-->

</script>
	<script language="JavaScript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>

<noscript>
	<img height="1" width="1" border="0" src="http://www.googleadservices.com/pagead/conversion/1055933402/?value=0.5&amp;label=9GgaCKqlhwEQ2ofB9wM&amp;guid=ON&amp;script=0"/>
</noscript> <!-- END: Google Code for Memverse - Login Conversion Page -->


<!-- Clickable Code for Memverse - Login Conversion Page -->
<script type="text/javascript">
	document.write(unescape("%3Cscript src='" + (location.protocol=="https:" ? "https://" : "http://") + "cn.clickable.net/js/cct.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
	document.cookie=cct.CookieCheck(document.cookie);
	cct.conversion_value = '<%= current_user.login %>';
	cct.cct_log('0420-4Lee0a3df925a9524bfab41177e692c4e0df');
</script> <!-- END: Clickable Code for Memverse - Login Conversion Page -->
