<% page_title I18n.t :reftest, :scope => 'page_titles' %>
<!-- Focus cursor on verse entry box -->
<body onload="document.getElementById('answer').focus()">

<div class="white-box-with-margins">
	
	<div class="top-heading">
    	<h2><span>Question: </span><span class="verse-ref"><%=@question_num+1%></span></h2>
    </div>	
	
	<!-- Verse Text -->
	<div id="reftestVerse">
		<%= @ref%>
	</div>
	
	<div id=reftest-answer>
		
		<div class="top-heading">
	    	<h2><span>Reference: </span></h2>
	    </div>	
	    
		<% form_tag :action => 'mark_reftest' do %>
	
			<%= text_field_tag(:answer, params[:answer], :autocomplete => "off" )%>
			<%= submit_tag "Submit", :class => "submit" %>								
			<%= submit_tag "Done", 	 :class => "submit" %>
	
		<% end %>					
	</div>	
</div>

<!-- http://www.devbridge.com/projects/autocomplete/jquery/ -->
<script type="text/javascript">
	$(document).ready(function() {
		$('#answer').autocomplete({ lookup: ['Genesis', 'Exodus', 'Leviticus', 'Numbers', 'Deuteronomy', 'Joshua', 'Judges', 'Ruth', '1 Samuel', '2 Samuel',
		            '1 Kings', '2 Kings','1 Chronicles', '2 Chronicles', 'Ezra', 'Nehemiah', 'Esther', 'Job', 'Psalm', 'Proverbs',
		            'Ecclesiastes', 'Song of Songs', 'Isaiah', 'Jeremiah', 'Lamentations', 'Ezekiel', 'Daniel', 'Hosea', 'Joel', 
		            'Amos', 'Obadiah', 'Jonah', 'Micah', 'Nahum', 'Habakkuk', 'Zephaniah', 'Haggai', 'Zechariah', 'Malachi', 'Matthew',
		            'Mark', 'Luke', 'John', 'Acts', 'Romans', '1 Corinthians', '2 Corinthians', 'Galatians', 'Ephesians', 'Philippians',
		            'Colossians', '1 Thessalonians', '2 Thessalonians', '1 Timothy', '2 Timothy', 'Titus', 'Philemon', 'Hebrews', 'James',
		            '1 Peter', '2 Peter', '1 John', '2 John', '3 John', 'Jude', 'Revelation']						
		});
		
		// Verify verse format	
		$("#answer").observe_field(0.3, function( ) { 
			$.get('/verify_vs_format', { vs_str: this.value },
				function(data){	
					if (data == true) {
						$("#answer").css({ borderColor: '#4C586E', backgroundColor: '#687284' });
					}
					else {
						$("#answer").removeAttr("style");
					}	
			}, "json" );
        });
		
		
   });
</script>




