<!-- Focus cursor on verse entry box -->
<body onload="document.getElementById('verseguess').focus()"></body>

<!-- Question-side : Entry box -->	
<fieldset id="question-side">
	<legend><span class="verse-ref"><%=@mv.verse.ref%></span><span class="verse-tl"> [<%=@mv.verse.translation %>]</span></legend> 
		<% form_tag :action => 'mark_test_quick' do %>
			
			<div id="answerbox">
		  		<%= text_area_tag(:verseguess, params[:verseguess] )%>			
		  	</div>
		
			<div id="scoreTestButtons">								
				<div align="left"><%= submit_tag t('.b5'),	:class => "submit", :q => 5 %></div>								
				<div align="left"><%= submit_tag t('.b4'),	:class => "submit", :q => 4 %></div>	
				<div align="left"><%= submit_tag t('.b3'), 	:class => "submit", :q => 3 %>
								
					<div id="ff-button" align="right">
						<img alt="FastForward" border="0" src="images/fast_forward.png" width="48" height="48">
					</div>
					
				</div>	
				<div align="left"><%= submit_tag t('.b2'),	:class => "submit", :q => 2 %></div>	
				<div align="left"><%= submit_tag t('.b1'), 	:class => "submit", :q => 1 %></div>	  	
			</div>			
			  
		
		
		<% end %>	
</fieldset>	

<!-- Comparison section -->		
<fieldset id="comparison">
	<legend><%= t('.feedback') %></legend>
	<div id="verseFeedback">
		
		<div class="priorVerse">
			<p>
				<!-- Prior verse, if available -->
				<span class="prior-versenum superscript">	<%=@prior_versenum if @prior_text%></span>
				<span class="prior-text">					<%=@prior_text if @prior_text%>	</span>
			</p>
		</div>
		
		<!-- Current verse -->
		<div id="currentVerse">
			<p>		
				<span class="current-versenum superscript"><%=@mv.verse.versenum if @prior_text%></span>
				<span id="ajaxWrapper">
					<%= render :partial=>'feedback', :locals => {:show_feedback => @show_feedback} %>
				</span>
			</p>					
		</div>
	</div>
</fieldset>	

<!-- Flashcard -->	
<div id="flashcard">
	<div class="quickFlip">
		
		<!-- Front Panel -->
	    <div class="quickFlipPanel refPanel">
	        <p class="verse-ref"><%= @mv.verse.ref %></p>
			<p class="mnemonic"><%= @mv.mnemonic_if_req %></p>
	        <p class="quickFlipCta"><%= t('.show_verse') %></p>
	    </div>
	
		<!-- Back Panel -->
	    <div class="quickFlipPanel textPanel">
	    	<div id="flashcard-back-text">
		        <p class="verse-ref"><%=@mv.verse.ref%></p>
				
				<div class="priorVerse">
					<p>
						<span class="prior-versenum superscript">			<%= @prior_versenum if @prior_text %>	</span>
						<span class="prior-text">							<%= @prior_text if @prior_text %>		</span>
					</p>
				</div>
			   	
		        <p> 
					<span class="current-versenum superscript">			<%= @mv.verse.versenum if @prior_text %></span>
					<span id="current-text">							<%= @mv.verse.text%>					</span>
				</p>
		        <p class="quickFlipCta"><%= t('.back_to_test') %></p>
			</div>			
	    </div>
	</div> <!-- end of quickFlip -->
</div> <!-- end of flashcard -->


<!-- Upcoming verses -->	
<div id="upcoming-list">
	<fieldset>
		<legend><%= t('.upcoming') %></legend>
			<%= render :partial => "upcoming_verses" %>						
	</fieldset>		
</div>

<!--	
<%= observe_field :verseguess,
	:frequency	=> 0.6,
	:update		=> 'ajaxWrapper',
	:url		=> {:action => 'feedback', :only_path => false},
	:with		=> "'echo=#{@show_feedback}&correct=#{escape_verse(@mv.verse.text)}&verseguess='+encodeURIComponent(value)"
%>
-->


<script language="JavaScript" type="text/javascript"><!--

    // unblock when ajax activity stops 
    $(document).ajaxStop($.unblockUI);
		
	$(document).ready(function() {
			
		var ondeck 				= {};
		var current				= {};
		var user_id				= "<%= current_user.id %>";		

	    $('.quickFlip').quickFlip();

		$("table#upcoming-verses .upcoming-verse-ref:contains('<%=@mv.verse.ref%>')").remove()				
			 
		current.id		= "<%= @mv.id %>";
		current.text	= "<%= escape_verse(@mv.verse.text) %>";
		
		// Load next verse
		$.blockUI({ message: null });
		ondeck = stageverses(current.id);	
		$('#ff-button').toggle(<%= !@mv.due? %>);					// Hide/Show fast forward button

			
		$("#verseguess").observe_field(0.5, function( ) { 
			$.get("/memverses/feedback", { correct: current.text, verseguess: encodeURIComponent(this.value), echo: true  },
				function(data){	$("#ajaxWrapper").html(data);
			});	
        });
			
		// ==== User clicks on fastforward button ====				
		$('#ff-button').click(function() {
			
			// Check whether we're done for the day
			if (ondeck.finished) {
				log_progress(user_id)
				window.location="./progress";
				return (false);
			}
			else {
				success = insertondeck(ondeck.mv_skip, ondeck.mv_prior_skip);	// Update page with ondeck verses
				current = ondeck.mv_skip										// Update current verse
				update_upcoming(12, ondeck.mv_skip.id);							// Update upcoming verses
				$.blockUI({ message: null });									// Block UI while new verses are loaded
				ondeck = stageverses(current.id);								// Get new ondeck verses						
				return (false);	
			}			
		});
		
		// ==== User clicks 1-5 button ====			
		$('.submit').click( function() {
						 						
			// == Set key press
			q = $(this).attr("q");
				
			// == Remove verse from list of upcoming verses
			$("table#upcoming-verses .upcoming-verse-ref:contains(" + ondeck.mv.ref + ")").remove()				
				
			// Check whether we're done for the day
			if (ondeck.finished) {
				$.getJSON("/memverses/mark_test_quick", { mv: current.id, q: q  }, 	// Score verse
					function(data) {
						if (data.msg) {
							alert(data.msg); 										// Give user a nice response												
						}						
				});								
				log_progress(user_id)												// TODO: this will execute before final verse is scored
				window.location="./progress";
				return (false);
			}
			else {
				success = insertondeck(ondeck.mv, ondeck.mv_prior);					// Update page with Ondeck verse
				$.blockUI({ message: null });
				$.getJSON("/memverses/mark_test_quick", { mv: current.id, q: q  }, 	// Score verse
					function(data) {
						if (data.msg) {
							alert(data.msg); 										// Give user a nice response												
						}
						current = ondeck.mv											// data for the verse we're now testing															
						ondeck = stageverses(current.id);							// Runs only on successful callback from mark test call above
						
				});	
				update_upcoming(12, ondeck.mv.id);				
				return (false);	
			}
										
		})	
		
	});
--></script>



<!-- Google Code for Memverse - Login Conversion Page -->
<script language="JavaScript" type="text/javascript">
<!--
	var google_conversion_id = 1055933402;
	var google_conversion_language = "en_US";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "9GgaCKqlhwEQ2ofB9wM";
	if (0.5) {
	var google_conversion_value = 0.5;
}
//-->

</script>
	<script language="JavaScript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>

<noscript>
	<img height="1" width="1" border="0" src="http://www.googleadservices.com/pagead/conversion/1055933402/?value=0.5&amp;label=9GgaCKqlhwEQ2ofB9wM&amp;guid=ON&amp;script=0"/>
</noscript> <!-- END: Google Code for Memverse - Login Conversion Page -->

