<% page_title I18n.t :chapter_review, :scope => 'page_titles' %>
<!-- Focus cursor on verse entry box -->
<body onload="document.getElementById('verseguess').focus()">

<div class="white-box-with-margins">
<div class="test-verse">
	
    <div class="top-heading">
		<h2><span class="current-ref"><%=@bk_ch%>:<span class="current_verse"><%=@verse.to_s%></span></span></h2>
        <div class="toggle-hint">Show Hint</div>
    </div>
	
	<div class="mnemonic"></div>

	<!-- Question-side : Entry box -->	
	<div class="verse-test-area">
		<% form_tag test_chapter_path do %>

			<div id="answerbox">
        		<%= text_area_tag(:verseguess, params[:verseguess], :class => "verseguess" )%>	
            </div>			  	
	  			
            <div class="tool-tip-nav">Rate Your Performance Level:</div>
            <div class="score-test-buttons">								
				<%= link_to 1, {:q => 1}, {:class => "test-button", :class => "submit", :remote => true, :q => 1} %> <div class="tooltip">Don't Know - No Idea</div>							
				<%= link_to 2, {:q => 2}, {:class => "test-button", :class => "submit", :remote => true, :q => 2} %> <div class="tooltip">Don't Know - Familiar</div>							
				<%= link_to 3, {:q => 3}, {:class => "test-button", :class => "submit", :remote => true, :q => 3} %> <div class="tooltip">Remembered - Difficult</div>							
				<%= link_to 4, {:q => 4}, {:class => "test-button", :class => "submit", :remote => true, :q => 4} %> <div class="tooltip">Remembered - Hesitation</div>							
				<%= link_to 5, {:q => 5}, {:class => "test-button", :class => "submit", :remote => true, :q => 5} %> <div class="tooltip">Remembered - Perfect</div>		
			</div>	<!-- end: scoreTestButtons -->			
					
		<% end %>	
	</div>	
		
	<!-- Flashcard -->	
	<div id="flashcard">			
		<!--- FrontSide --->
    	<div id="flashcard-front-text">		    	
	        <p><span class="current-ref"><%=@bk_ch%>:<span class="current_verse"><%=@verse.to_s%></span></span></p>
			<!-- <p class="mnemonic"><%=@chapter[0].verse.mnemonic%></p> -->
			<div id="verseFeedback">		
				<!-- Current verse -->
				<span id="ajaxWrapper">
					<%= render :partial=>'feedback', :locals => {:show_feedback => @show_feedback} %>
				</span>	
				<img class="center spinner" id="ajax_spinner" src="/images/indicator2.gif" alt="Comparing..." style="display: none" />				
			</div>
		</div>	<!-- end of flashcard-front-text -->			
	
		<!--- BackSide --->
    	<div id="flashcard-back-text">
	        <p><%=@bk_ch%>:<span class="current_verse"><%=@verse.to_s%></span></p>				   	
			<% for mv in @chapter %>
				<span class="verse-text" id="<%=mv.verse.versenum%>">
					<%= mv.verse.text %>
				</span>	
			<% end %>
		</div>	<!-- end of flashcard-back-text -->	
	</div> <!-- end of flashcard -->	
</div>

<div id="chapter-prior-verses">
	<h2><%= @bk_ch %></h2>	
	<div id="chapter-text">
		<% for mv in @chapter %>
			<span class="verse-text" id="<%=mv.verse.versenum%>" mvid="<%=mv.id%>">
				<span class="superscript"><%= mv.verse.versenum %></span><span><%= mv.verse.text %></span>
			</span>	
		<% end %>
	</div>
</fieldset>	

</div> <!-- End: white-box-with-margins -->

<!-- Script for updating current verse, clearing input etc -->
<script language="JavaScript" type="text/javascript">
	
	var current_verse 	= 1
	var final_verse	  	= '<%= @final_verse %>'
	var current_text  	= $("#" + current_verse).html()
	var mv_id			= '<%= @chapter.first.id %>'

	$(document).ready(function() {
	    // $('.quickFlip').quickFlip();
		
		// Display the first verse on the back of the flash card
		$("#flashcard-back-text > .verse-text:hidden:first").fadeIn(10);	
				
		// Verse feedback	
		$("#verseguess").observe_field(0.5, function( ) { 
			$.get("/feedback.html", { correct: current_text, verseguess: encodeURIComponent(this.value), echo: <%= @show_feedback %>  },
				function(data){	
					$("#ajaxWrapper").html(data);
			});
        });
                
        $('.spinner')
			.ajaxStart(function() {
		        $(this).show();
		    })
			.ajaxStop(function() {
		        $(this).hide();
    	});		
		
		// Handle scoring of verse
		$('.submit').click( function() {
			
			// == Set key press
			q = $(this).attr("q");
			
			// Score the memory verse
			$.getJSON("/mark_test_quick", { mv: mv_id, q: q  },
				function(data) {
					if (data.msg) {
						// Give user a nice response
						alert(data.msg);												
					}
					
			});	
			
			
			if (current_verse == final_verse) {
				
				// Display the next verse on the right
				$("#chapter-text > .verse-text:hidden:first").fadeIn(2000);
				
				// Scroll to bottom of chapter
				nDiv = document.getElementById('chapter-text');
				setTimeout("nDiv.scrollTop = nDiv.scrollHeight",1);

				// Clear the input box and the feedback
				$("#verseguess").val('');
				$("#ajaxWrapper").text('');					

				// Replace submit buttons with something else
				$("#scoreTestButtons").remove()
				$("#answerbox").remove()
				$(".current-ref").text("End");
				
				return (false)
				
			}
			else {
				
				// Display the next verse
				$("#chapter-text > .verse-text:hidden:first").fadeIn(2000);
				mv_id = $("#chapter-text > .verse-text:hidden:first").attr('mvid')
				
				// Scroll to bottom of chapter
				nDiv = document.getElementById('chapter-text');
				setTimeout("nDiv.scrollTop = nDiv.scrollHeight",1);
	
				// Remove the currently displayed verse and reveal the next verse
				$("#flashcard-back-text > .verse-text:first").remove();			
				$("#flashcard-back-text > .verse-text:hidden:first").fadeIn(10);
				
				// Clear the input box and the feedback and put cursor in input box
				$("#verseguess").val('');
				$("#ajaxWrapper").text('');
				$("#verseguess").focus();
							
				// Increment the verse counter, update the labels, and get the new text
				current_verse++;
				$(".current_verse").text(current_verse);
				current_text  = $("#" + current_verse).html()
				
				// Reset the flashcard
				// $('.quickFlip').quickFlipper( {}, 0 );
				
				return(false)				
			}

			
		})
	});
</script>

