<!-- Focus cursor on verse entry box -->
<body onload="document.getElementById('verseguess').focus()">
	
<div id="test-chapter">
	<!-- Question-side : Entry box -->	
	<fieldset id="question-side">
		<legend><%=@bk_ch%>:<span class="current_verse"><%=@verse.to_s%></span></legend>
			<% form_tag :action => 'test_chapter' do %>
				
				<div id="answerbox">
			  		<%= text_area_tag(:verseguess, params[:verseguess] )%>			
			  	</div>
			
			<div id="scoreTestButtons">								
			  <span><%= submit_tag 5, 	:class => "submit", :q => 5 %>
			  		<%= submit_tag 4, 	:class => "submit", :q => 4 %>	
			  		<%= submit_tag 3,  	:class => "submit", :q => 3 %>	
			  		<%= submit_tag 2,	:class => "submit", :q => 2 %>	
			  		<%= submit_tag 1, 	:class => "submit", :q => 1 %></span>	
			</div>			  
			
			<% end %>	
	</fieldset>	
		
	<!-- Flashcard -->	
	<div id="flashcard">
		<div class="quickFlip">
			
			<!--- FrontSide --->
		    <div class="quickFlipPanel refPanel">
		    	<div id="flashcard-front-text">		    	
			        <p><%=@bk_ch%>:<span class="current_verse"><%=@verse.to_s%></span></p>
					<!-- <p class="mnemonic"><%=@chapter[0].verse.mnemonic%></p> -->
					<div id="verseFeedback">		
						<!-- Current verse -->
						<span id="ajaxWrapper">
							<%= render :partial=>'feedback', :locals => {:show_feedback => @show_feedback} %>
						</span>					
					</div>
			        <p class="quickFlipCta"><%= t('memverses.test_verse.show_verse') %></p>
				</div>	<!-- end of flashcard-front-text -->			
		    </div>
		
			<!--- BackSide --->
		    <div class="quickFlipPanel textPanel">
		    	<div id="flashcard-back-text">
			        <p><%=@bk_ch%>:<span class="current_verse"><%=@verse.to_s%></span></p>				   	
					<% for mv in @chapter %>
						<span class="verse-text" id="<%=mv.verse.versenum%>">
							<%= mv.verse.text %>
						</span>	
					<% end %>
				</div>	<!-- end of flashcard-back-text -->	
			    <p class="quickFlipCta"><%= t('memverses.test_verse.back_to_test') %></p>
		    </div>
		</div> <!-- end of quickFlip -->
	</div> <!-- end of flashcard -->
</div>

<fieldset id="chapter-prior-verses">
	<legend><%= @bk_ch %></legend>	
	<div id="chapter-text">
		<% for mv in @chapter %>
			<span class="verse-text" id="<%=mv.verse.versenum%>">
				<span class="superscript"><%= mv.verse.versenum %></span><span><%= mv.verse.text %></span>
			</span>	
		<% end %>
	</div>
</fieldset>	

	
<%= observe_field :verseguess,
	:frequency	=> 0.6,
	:update		=> 'ajaxWrapper',
	:url		=> {:action => 'feedback', :only_path => false},
	:with		=> "'echo=#{@show_feedback}&correct='+current_text+'&verseguess='+encodeURIComponent(value)+'&vsnum='+current_verse"
%>

<!-- Script for updating current verse, clearing input etc -->
<script language="JavaScript" type="text/javascript">
	
	var current_verse = 1
	var final_verse	  = '<%= @final_verse %>'
	var current_text  = $("#" + current_verse).html()

	$(document).ready(function() {
	    $('.quickFlip').quickFlip();
		
		// Display the first verse on the back of the flash card
		$("#flashcard-back-text > .verse-text:hidden:first").fadeIn(10);	
		
		$('.submit').click( function() {
			
			if (current_verse == final_verse) {
				// Display the next verse
				$("#chapter-text > .verse-text:hidden:first").fadeIn(2000);
				// Scroll to bottom of chapter
				nDiv = document.getElementById('chapter-text');
				setTimeout("nDiv.scrollTop = nDiv.scrollHeight",1);

				// Clear the input box and the feedback
				$("#verseguess").val('');
				$("#ajaxWrapper").text('End of Chapter');					

				// Replace submit buttons with something else
				
				return (false)
				
			}
			else {
				// Display the next verse
				$("#chapter-text > .verse-text:hidden:first").fadeIn(2000);
				// Scroll to bottom of chapter
				nDiv = document.getElementById('chapter-text');
				setTimeout("nDiv.scrollTop = nDiv.scrollHeight",1);
	
				// Remove the currently displayed verse and reveal the next verse
				$("#flashcard-back-text > .verse-text:first").remove();			
				$("#flashcard-back-text > .verse-text:hidden:first").fadeIn(10);
				
				// Clear the input box and the feedback
				$("#verseguess").val('');
				$("#ajaxWrapper").text('');
				
				// Increment the verse counter, update the labels, and get the new text
				current_verse++;
				$(".current_verse").text(current_verse);
				current_text  = $("#" + current_verse).html()
				
				// Reset the flashcard
				$('.quickFlip').quickFlipper( {}, 0 );
				
				return(false)				
			}

			
		})
	});
</script>

