<!-- Flashcard -->	
<div id="flashcard-front-text" class="current">
	
    <div class="toolbar">
		<%= yield(:toolbar) %>    	
	    <%= link_to "Back", nil, :class => "back" unless current_page? root_path %>	
    	<h1><%=@verse%></h1>
    	<a class="button flip" href="#flashcard-back-text">Show Verse</a>
	</div>
	
	<p class="mnemonic"><%=@mnemonic%></p>

	<% form_tag :action => 'mark_test' do %>			
		<div id="scoreTestButtons">								
		  <div align="left"><%= submit_tag t('.b5'), 	:class => "submit", :q => 5 %></div>								
		  <div align="left"><%= submit_tag t('.b4'), 	:class => "submit", :q => 4 %></div>	
		  <div align="left"><%= submit_tag t('.b3'),  	:class => "submit", :q => 3 %></div>	
		  <div align="left"><%= submit_tag t('.b2'),	:class => "submit", :q => 2 %></div>	
		  <div align="left"><%= submit_tag t('.b1'), 	:class => "submit", :q => 1 %></div>	
		</div>			  
	<% end %>
	
</div>



<div id="flashcard-back-text">
	
    <div class="toolbar">
    	<h1><%=@verse%></h1>
    	<a class="button flip" href="#flashcard-front-text">Back to Test</a>
	</div>
	
	<% if !@prior_text.nil? %>
		<p><span class="superscript"><%= @prior_versenum   %></span><%=@prior_text%></p>
	<% end %>				   	
    <p> 
		<% if !@prior_text.nil? %>
			<span class="superscript"><%= @current_versenum %></span>
		<% end %>
		<%=@text%>
	</p>

</div>			

