<% page_title I18n.t :memory_verse_review, :scope => 'page_titles' %>

<div class="white-box-bg">
	<div class="test-verse">
    	<div class="top-heading">
        	<h2><span><%= t('.verse') %>: </span><span class="verse-ref"><%=@mv.verse.ref%></span><span class="verse-tl"> [<%=@mv.verse.translation %>]</span></h2>
            <div class="toggle-hint">Show Hint</div>
        </div>
        <div class="mnemonic"><%= @mv.mnemonic_if_req %></div>
        <div class="verse-test-area">
        	<% form_tag mark_test_quick_path, :id => 'test-verse-quick' do %>
            	<div>
            		<%= text_area_tag(:verseguess, params[:verseguess], :class => "verseguess" )%>	
                </div>
                
                <div class="tool-tip-nav">Rate Your Performance Level:</div>
                <div class="score-test-buttons">								
					<%= link_to 1, {:q => 1}, {:class => "test-button", :class => "submit", :remote => true, :q => 1} %> <div class="tooltip">Don't Know - No Idea</div>							
					<%= link_to 2, {:q => 2}, {:class => "test-button", :class => "submit", :remote => true, :q => 2} %> <div class="tooltip">Don't Know - Familiar</div>							
					<%= link_to 3, {:q => 3}, {:class => "test-button", :class => "submit", :remote => true, :q => 3} %> <div class="tooltip">Remembered - Difficult</div>							
					<%= link_to 4, {:q => 4}, {:class => "test-button", :class => "submit", :remote => true, :q => 4} %> <div class="tooltip">Remembered - Hesitation</div>							
					<%= link_to 5, {:q => 5}, {:class => "test-button", :class => "submit", :remote => true, :q => 5} %> <div class="tooltip">Remembered - Perfect</div>	
					
					<%= link_to '>>', {}, {:class => "test-button", :id => "ff-button", :remote => true} %> <div class="tooltip">Skip this verse for today</div>
					<%= link_to (image_tag("blue-icon.png", :width=>"16", :height=>"16")), "#info", :id => "inline" %>
					<div style="display:none"><div id="info">
					<h2>Reviewing your verses</h2>
					<p>Welcome to the verse memorization page. This is where you will spend most of your time.</p>
					<h3>Learning by typing</h3>
					<p>When Memverse gives you a verse, you will use the tools on this page to learn or review it. 
					To begin, type the text of the verse as you remember it into the grey box. 
					As you type, Memverse will give you live feedback. When Memverse gives you the "Correct" message,
					it is time to rate your review. 
					If a verse is new to you or you cannot remember it, you should use the "Show Hint" feature to view the verse text.
					Then hide the hint and see how much you can remember by typing the text in the grey box. You should continue 
					using the hint when you need it until you have typed the verse perfectly.
					</p>
					<p>Please note that if a verse is not due for review today, Memverse gives you the option to skip it with a  
					fast-forward symbol (&gt;&gt;) next to the rating numbers. Clicking this will skip the verse for now, 
					but Memverse will still bring it back to you another day.</p>
					<h3>Rating your recall</h3>
					<p>Having reviewed a verse, it is important to tell the software how well you remembered it. 
					This allows Memverse to bring it back to you for review at an optimal time. There are five possible ratings:</p>
					<h4>5. Remembered - Perfect</h4>
					<p>Only select this option when you feel that you are reviewing a memory verse too frequently. Selecting this option will increase the review interval fairly dramatically. As tempting as it is to get the verse memorized as quickly as possible, you will find that you will have an increasingly difficult time recalling the verse if you select this option too frequently. It is best selected when you recall a verse instantly and can recite it perfectly without any hesitation whatsoever.</p>
					<h4>4. Remembered - Hesitation</h4>
					<p>We have had difficulty coming up with a suitable label for this option but it is intended to be used when you feel that you have recalled a memory verse to your satisfaction and with only slight hesitation. This is the option to select when everything feels just right. If you think to yourself: &quot;It's a good thing I reviewed this verse now otherwise I might have forgotten it,&quot; then you should select this option.</p>
					<h4>3. Remembered - Difficult</h4>
					<p>We recommend making frequent use of this option. If you struggle to recall a passage of scripture but can eventually <em>get it correct without flipping over the flash card</em> then you should select this option. If you have any doubt about rating yourself with option 4 or 5 then this is the selection for you. You will get to review the verse more frequently than the two options above but the interval will still continue to increase.</p>
					<h4>2. Don't Know - Familiar</h4>
					<p>Either of these next two options will reset the interval to one day and the verse will revert to 'learning' status. Don't worry, bible memorization is a long term effort and starting again sooner, rather than later, will be profitable in the long run. Select this option if you can't associate the bible reference with the memory verse or if you cannot recite or type the verse without using the flash card.</p>
					<h4>1. Don't Know - No Idea</h4>
					<p>Select this when you can't remember anything. Memverse will adjust the review of the verse to be more frequent. This is a good option to select when you are starting a new verse as it will start the verse on a more frequent review schedule.</p>
					<p>You shouldn't think of the five options as though you are grading yourself on a test. Rather, think of them as you giving feedback to the Memverse system to allow it to adjust the review schedule optimally. It is designed to be a flexible system: if you are the type of person who would like to know each verse backwards and forwards with perfect punctuation, then you can use the five memory assessment options to achieve that goal. If it's not critical to you whether you occasionally substitute the word 'for' in place of 'because' or swap 'Jesus Christ' with 'Christ Jesus' then you can adjust your feedback accordingly.</p>
					<p>Finally, don't agonize too much over which rating you choose. If you remembered the verse select one in the 3 - 5 range. If you can't remember it select 1 or 2. The Memverse algorithm will gradually adjust over time.</p>
					</div></div>	
				</div>	<!-- end: scoreTestButtons -->
                
            <% end %> <!-- end: form -->
        </div> <!-- end: verse-test-area -->

   </div> <!-- end: test-verse -->
    
    <div class="feedback">
    	<h2><%= t('.feedback') %></h2>

		<div class="priorVerse">
			<p>
				<!-- Prior verse, if available -->
				<span class="prior-versenum superscript">	<%=@prior_versenum if @prior_text%></span>
				<span class="prior-text">					<%=@prior_text if @prior_text%>	</span>
			</p>
		</div>
		
		<!-- Current verse -->
		<div id="currentVerse">
			<p>		
				<span class="current-versenum superscript"><%=@mv.verse.versenum if @prior_text%></span>
				<span id="waiting">Waiting for you to begin typing...</span>
				<span id="ajaxWrapper">
					<%= render :partial=>'feedback', :locals => {:show_feedback => @show_feedback} %>
				</span>
				<img class="center spinner" id="ajax_spinner" src="/images/indicator2.gif" alt="Comparing..." style="display: none" />
			</p>					
		</div>
		
		<!-- Current verse answer -->
		<div id="complete-hint">
			<p>		
				<span class="current-versenum superscript"><%=@mv.verse.versenum if @prior_text%></span>
				<span class="current-text"><%= @mv.verse.text %></span>
			</p>			
		</div>

    </div>
    
    <div class="upcoming">
    	<h2><%= t('.upcoming_verses') %></h2>
		<%= render :partial => "upcoming_verses" %>						
        <div class="upcoming-button">
            <%= link_to image_tag("modify.png", :width=>"192", :height=>"25", :alt=>"Modify Bible Version"), update_profile_path %>
        </div>
    </div>
    <div class="clr"></div>
</div>



<script language="JavaScript" type="text/javascript"><!--

    // unblock when ajax activity stops 
    $(document).ajaxStart($('.score-test-buttons').block({ message: 'Please wait...', css: {width: '75%', border: '1px solid black', font: 'bold 13px/normal Arial,Helvetica,sans-serif'} })).ajaxStop($('.score-test-buttons').unblock());
		
	$(document).ready(function() {
		<%= "$('.mnemonic').hide();" if !@mv.needs_mnemonic? %>
		// focus cursor on verse entry box
		$('#verseguess').focus();
		
		//fancybox info
		$("a#inline").fancybox({
			'autoDimensions' : false,
			'width'          : 800,
			'height'         : 400
		});
		
		// tooltips for test buttons ... not working yet
		$("a .test-button").tooltip();
			
		// show verse
		$(".toggle-hint").click( function () {
			$("#complete-hint").toggle();
			$("#currentVerse").toggle();
			if ($(this).text() == "Show Hint") {
				$(".toggle-hint").text("Hide Hint");
			} else {
				$(".toggle-hint").text("Show Hint");
			}
			
		});
				
		$(".toggle-hint").hover(
			function () {
				$(this).addClass("hover1");
			},
			function () {
				$(this).removeClass("hover1");
			}
		);
			
		var ondeck 				= {};
		var prior               = {};
		var current				= {};
		var user_id				= "<%= current_user.id %>";		

		$("table#upcoming-verses .upcoming-verse-ref:contains('<%=@mv.verse.ref%>')").remove()				
			 
		current.id		 = "<%= @mv.id %>";
		current.text	 = "<%= escape_verse(@mv.verse.text.html_safe) %>";
		current.feedback = "<%= @mv.show_feedback? %>"
		
		// Load next verse
		$('#ff-button').toggle(<%= !@mv.due? %>);					// Hide/Show fast forward button
		ondeck = stageverses(current.id);	

		// Verse feedback	
		$("#verseguess").observe_field(0.4, function( ) { 
			$('#waiting').hide();
			$.get("/feedback.html", { correct: current.text, verseguess: encodeURIComponent(this.value), echo: current.feedback },
				function(data){	
					$("#ajaxWrapper").html(data);
			});
        });
        
        $('.spinner')
			.ajaxStart(function() {
		        $(this).show();
		    })
			.ajaxStop(function() {
		        $(this).hide();
    	});
			
		// ==== User clicks on fastforward button ====				
		$('#ff-button').click(function() {
			
			// Check whether we're done for the day
			if (ondeck.finished || typeof(ondeck.mv_skip) == 'undefined' || ondeck.mv_skip == null ) {
				log_progress(user_id)
				window.location="./progress";
				return (false);
			}
			else {
				success = insertondeck(ondeck.mv_skip, ondeck.mv_prior_skip);	// Update page with ondeck verses
				current = ondeck.mv_skip										// Update current verse
				update_upcoming(12, ondeck.mv_skip.id);							// Update upcoming verses
				ondeck = stageverses(current.id);								// Get new ondeck verses						
				return (false);	
			}			
		});
		
		// ==== User clicks 1-5 button ====			
		$('.submit').click( function() {
						 						
			// == Set key press
			q = $(this).attr("q");
				
			// == Remove verse from list of upcoming verses
			$("ul#upcoming-verses .upcoming-verse-ref:contains(" + ondeck.mv.ref + ")").remove()				
				
			// Check whether we're done for the day
			if (ondeck.finished) {
				$.getJSON("/mark_test_quick", { mv: current.id, q: q  }, 			// Score verse
					function(data) {
						if (data.msg) {
							alert(data.msg); 										// Give user a nice response												
						}						
				});								
				log_progress(user_id)												// TODO: this will execute before final verse is scored
				window.location="./progress";
				return (false);
			}
			else {
				success = insertondeck(ondeck.mv, ondeck.mv_prior);					// Update page with Ondeck verse
				prior   = current
				current = ondeck.mv													// data for the verse we're now testing															
				$.getJSON("/mark_test_quick", { mv: prior.id, q: q  }, 	    		// Score verse
					function(data) {
						if (data.msg) {	alert(data.msg); }							// Give user a nice response												
						update_upcoming(20, ondeck.mv.id);							// Req successful callback from mark_test_quick: Update upcoming verses
						ondeck = stageverses(current.id);							// Req successful callback from mark_test_quick: Get next verses				
				});					
				return (false);	
			}
										
		})			
	});
--></script>



<!-- Google Code for Memverse - Login Conversion Page -->
<script language="JavaScript" type="text/javascript">
<!--
	var google_conversion_id = 1055933402;
	var google_conversion_language = "en_US";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "9GgaCKqlhwEQ2ofB9wM";
	if (0.5) {
	var google_conversion_value = 0.5;
}
//-->

</script>
<script language="JavaScript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>

<noscript>
	<img height="1" width="1" border="0" src="http://www.googleadservices.com/pagead/conversion/1055933402/?value=0.5&amp;label=9GgaCKqlhwEQ2ofB9wM&amp;guid=ON&amp;script=0"/>
</noscript> <!-- END: Google Code for Memverse - Login Conversion Page -->

