<!-- Focus cursor on verse entry box -->
<body onload="document.getElementById('verseguess').focus()"></body>

<!-- Question-side : Entry box -->	
<fieldset id="question-side">
	<legend class="verse-ref"><%=@mv.verse.ref%> </legend>
		<% form_tag :action => 'mark_test' do %>
			
			<div id="answerbox">
		  		<%= text_area_tag(:verseguess, params[:verseguess] )%>			
		  	</div>
		
		<div id="scoreTestButtons">								
		  <div align="left"><%= submit_tag t('.b5'),	:class => "submit", :q => 5 %></div>								
		  <div align="left"><%= submit_tag t('.b4'),	:class => "submit", :q => 4 %></div>	
		  <div align="left"><%= submit_tag t('.b3'), 	:class => "submit", :q => 3 %></div>	
		  <div align="left"><%= submit_tag t('.b2'),	:class => "submit", :q => 2 %></div>	
		  <div align="left"><%= submit_tag t('.b1'), 	:class => "submit", :q => 1 %></div>	
		</div>			  
		
		<% end %>	
</fieldset>	

<!-- Comparison section -->		
<fieldset id="comparison">
	<legend><%= t('.feedback') %></legend>
	<div id="verseFeedback">
		
		<!-- Prior verse, if available -->
		<% if !@prior_text.nil? %>
			<div id="priorVerse">
				<span class="prior-versenum superscript">	<%=@prior_versenum%></span>
				<span class="prior-text">					<%=@prior_text%>	</span>
			</div>
		<% end %>
		
		<!-- Current verse -->
		<div id="currentVerse">
			<% if !@prior_text.nil? %>			
				<span class="current-versenum superscript"><%=@mv.verse.versenum%></span>
			<% end %>

			<span id="ajaxWrapper">
				<%= render :partial=>'feedback', :locals => {:show_feedback => @show_feedback} %>
			</span>					
		</div>
	</div>
</fieldset>	

<!-- Flashcard -->	
<div id="flashcard">
	<div class="quickFlip">
		
		<!-- Front Panel -->
	    <div class="quickFlipPanel refPanel">
	        <p class="verse-ref"><%= @mv.verse.ref %></p>
			<p class="mnemonic"><%=@mnemonic%></p>
	        <p class="quickFlipCta"><%= t('.show_verse') %></p>
	    </div>
	
		<!-- Back Panel -->
	    <div class="quickFlipPanel textPanel">
	    	<div id="flashcard-back-text">
		        <p class="verse-ref"><%=@mv.verse.ref%></p>				
				<p>
					<span class="prior-versenum superscript">			<%= @prior_versenum if @prior_text %>	</span>
					<span class="prior-text">							<%= @prior_text if @prior_text %>		</span>
				</p>
			   	
		        <p> 
					<span class="current-versenum superscript">			<%= @mv.verse.versenum if @prior_text %></span>
					<span id="current-text">							<%= @mv.verse.text%>					</span>
				</p>
		        <p class="quickFlipCta"><%= t('.back_to_test') %></p>
			</div>			
	    </div>
	</div> <!-- end of quickFlip -->
</div> <!-- end of flashcard -->


<!-- Upcoming verses -->	
<div id="upcoming-list">
	<fieldset>
		<legend><%= t('.upcoming') %></legend>
			<%= render :partial => "upcoming_verses" %>						
	</fieldset>		
</div>

<!--	
<%= observe_field :verseguess,
	:frequency	=> 0.6,
	:update		=> 'ajaxWrapper',
	:url		=> {:action => 'feedback', :only_path => false},
	:with		=> "'echo=#{@show_feedback}&correct=#{escape_verse(@mv.verse.text)}&verseguess='+encodeURIComponent(value)"
%>
-->

<script language="JavaScript" type="text/javascript">
		
	$(document).ready(function() {
	    $('.quickFlip').quickFlip();
		
		// Load next verse
		$.getJSON("/memverses/test_next_verse", { skip: false, mv: "<%=@mv.id%>" },
		   function(data){

			 finished	= data.finished
			 
			 mv_testing = "<%= @mv.id %>"
			 mv_verse	= "<%=@mv.verse.text%>"
			 
			 if (!finished)
			 {
			 	
				 ref 		= data.next.verse.book + " " + data.next.verse.chapter + ":" + data.next.verse.versenum
				 mv_id		= data.mv_id		 
				 txt 		= data.next.verse.text
				 versenum	= data.next.verse.versenum
				 
				 priortxt	= data.next_prior.verse.text
				 priornum	= data.next_prior.verse.versenum			 	
			 }

		   });
		
		$("#verseguess").observe_field(0.5, function( ) {			
            //Get feedback
			$.get("/memverses/feedback", { correct: mv_verse, verseguess: this.value, echo: true  },
				function(data){
					$("#ajaxWrapper").html(data);
				});	
        });
		
			
		$('.submit').click( function() {
			
			// == Set key press
			q = $(this).attr("q");

			// == Score verse
			$.getJSON("/memverses/mark_test_quick", { mv: mv_testing, q: q  },
				function(data){
					// Give user a nice response
					alert(data.msg)
				});	
				
			// Check whether we're done for the day
			if (finished)
			{
			  window.location="./progress";
			  return (false)
			}
					
			
			// == Update references on testing box
			$(".verse-ref").text(ref);
						
			// == Clear the input box and put cursor in input box
			$("#verseguess").val('');
			$("#verseguess").focus();
			
			// == Clear the feedback 
			$("#ajaxWrapper").text('');
								
			// == Update prior verse and reference		
			$(".prior-text").text(priortxt);   		// TODO: if previous verse didn't have a prior text then it won't be there
			$(".prior-versenum").text(priornum);	// TODO: if previous verse didn't have a prior text then it won't be there
											
			// == Reset the flashcard 
			$('.quickFlip').quickFlipper( {}, 0 );
			
			// == Update front of flash card with Mnemonic (if necessary)
						
			// == Update current verse on back of flash card
			$("#flashcard-back-text #current-text").text(txt);
			$(".current-versenum").text(versenum);
			
			
			// == Remove verse from list of upcoming verses
					
			
			// == Load next verse Note: this runs concurrently with verse scoring above.
			$.getJSON("/memverses/test_next_verse", { skip: false, mv: mv_id },
				function(data){
				
					finished	= data.finished
		
					// data for the verse we're currently testing
					mv_testing 	= mv_id
					mv_verse	= txt
					mv_versenum = versenum

					if (!finished)
					{
						// data for the next verse ...
						ref 		= data.next.verse.book + " " + data.next.verse.chapter + ":" + data.next.verse.versenum					
						txt 		= data.next.verse.text
						versenum	= data.next.verse.versenum
						mv_id		= data.mv_id
						// ... and its prior verse
						priortxt	= data.next_prior.verse.text
						priornum	= data.next_prior.verse.versenum						
					}
														
			   });
			
			// == Return false
			return (false)	
		})	
		
	});
</script>






<!-- Google Code for Memverse - Login Conversion Page -->
<script language="JavaScript" type="text/javascript">
<!--
	var google_conversion_id = 1055933402;
	var google_conversion_language = "en_US";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "9GgaCKqlhwEQ2ofB9wM";
	if (0.5) {
	var google_conversion_value = 0.5;
}
//-->

</script>
	<script language="JavaScript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>

<noscript>
	<img height="1" width="1" border="0" src="http://www.googleadservices.com/pagead/conversion/1055933402/?value=0.5&amp;label=9GgaCKqlhwEQ2ofB9wM&amp;guid=ON&amp;script=0"/>
</noscript> <!-- END: Google Code for Memverse - Login Conversion Page -->

