<h1>Listing passages</h1>

<table>
  <tr>
    <th>User</th>
    <th>Length</th>
    <th>Reference</th>
    <th>Efactor</th>
    <th>Test interval</th>
    <th>Rep n</th>
    <th>Next test</th>
    <th>Last tested</th>
    <th>First verse</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @passages.each do |passage| %>
  <tr>
    <td><%= passage.user %></td>
    <td><%= passage.length %></td>
    <td><%= passage.reference %></td>
    <td><%= passage.efactor %></td>
    <td><%= passage.test_interval %></td>
    <td><%= passage.rep_n %></td>
    <td><%= passage.next_test %></td>
    <td><%= passage.last_tested %></td>
    <td><%= passage.first_verse %></td>
    <td><%= link_to 'Show', passage %></td>
    <td><%= link_to 'Edit', edit_passage_path(passage) %></td>
    <td><%= link_to 'Destroy', passage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Passage', new_passage_path %>
