<h1>Referrals</h1>

<% if @user == current_user %>
	<% if @referrer %>
		<p>You were referred by <%= @referrer.name_or_login %>.  <%= link_to "[Change this]", :controller => "profile", :action => "set_referrer" %></p>
	<% else %>
		<%= link_to "Who referred you?", :controller => "profile", :action => "set_referrer" %>
	<% end %>	
<% else %>
	<% if @referrer %>
		<p><%= @user.name_or_login %> was referred by <%= @referrer.name_or_login %>.</p>
	<% else %>
		<p>No one referred <%= @user.name_or_login %>.</p>
	<% end %>		
<% end %>


<% if @user == current_user %>
	<h2>People You Have Referred</h2>
	
	<% if @referees.empty? %>
		<%= render :partial => "profile/refer"%>
	<% else %>
		<table class="memverse-standard">
			<%= render :partial => "users/user_headings" %>
			<%= render :partial => "users/user", :collection => @referees  %>
		</table>
	<% end %>
	
	<h2>People Your Referees Have Referred</h2>
	<% if @level_two.empty? %>
		<p>No referrals yet. You should encourage them.</p>
	<% else %>	
		<table class="memverse-standard">
			<%= render :partial => "users/user_headings" %>
			<%= render :partial => "users/user", :collection => @level_two %>
		</table>	
	<% end %>	
	
	<p>If you'd like to refer a friend or family member, include this link in your email and when they register
   		at Memverse you'll automatically be added as the person who referred them.</p>

	<p><%= @user.referral_link %></p>
	
<% else %>
	<h2>People <%= @user.name_or_login %> has referred</h2>
	<% if @referees.empty? %>
		<p>No referrals yet.</p>
	<% else %>
		<table class="memverse-standard">
			<%= render :partial => "users/user_headings" %>
			<%= render :partial=> "users/user", :collection => @referees %>
		</table>	
	<% end %>
	
	<h2>People <%= @user.name_or_login %>'s Referees Have Referred</h2>
	<% if @level_two.empty? %>
		<p>No referrals yet.</p>
	<% else %>	
		<table class="memverse-standard">
			<%= render :partial => "users/user_headings" %>
			<%= render :partial => "users/user", :collection => @level_two %>
		</table>	
	<% end %>	
	
<% end %>
	
