<h1><%=t('.Update profile')%></h1>

<%= form_tag :action => 'update_profile', :id => @user do %>
	<div class="entry-form" id="edit-profile-form">
	
		<%= form_for @user do |f| %>
			<%= f.error_messages %>
			<fieldset>
				<legend><%=t('.Your profile')%></legend>
				<ol>
					<li>
						<%= f.label 			:name, t('.Name') %>
						<%= f.text_field 		:name %>
					</li>
					<li>
						<%= f.label 			:email, t('.Email') %>
						<%= f.text_field 		:email %>
					</li>
					<li>
						<%= f.label 			:gender, t('.Gender') %>
						<%= f.select			:gender, [["Male", 'Male'],	["Female", 'Female']]  %>
					</li>
					<li>
						<%= f.label 			:translation, t('.Translation') %>
						<%= f.select			:translation,
														[["New International Version (1984)",	'NIV' ],
														["New International Version (2010)",	'NNV' ],
														["New American Standard Bible", 		'NAS' ], 
														["New King James Version",				'NKJ' ], 
														["King James Version",					'KJV' ], 
														["Revised Standard Version",  			'RSV' ], 
														["New Revised Standard Version",  		'NRS' ], 														
														["English Standard Version",          	'ESV' ],
                            							["New Living Translation",        		'NLT' ],
                            							["Holman Christian Standard Bible",		'HCS' ],
                            							["Darby Translation",					'DTL' ],
                            							["The Message",                   		'MSG' ],
                            							["Amplified Bible",                		'AMP' ],                            							
														["New International Reader's Version",	'IRV' ],
														["Updated King James Version",		 	'UKJ' ],
														["Geneva Bible",					 	'GEN' ],
														["Biblical Greek", 						'GRK' ],
														["Nueva Version Internacional",			'NVI' ],
														["Reina-Valera 1960",					'RVR' ],
														["Louis Segond 1910",					'LSV' ],
														["Afrikaans 1983 Translation",			'AFR' ],
														["Herziene Statenvertaling",			'HSV' ],
														["De Nieuwe Bijbelvertaling",			'NBV' ],
														["Terjemahan Baru",						'TMB' ],
														["Svenska Folkbibeln",					'SPB' ]]    
									 %>
					</li>					



					<li>
						<%= f.label 			:country, t('.Country') %>
						<%= f.text_field 		:country, :value => @user_country %>
					</li>
					<li id="state-entry">
						<%= f.label 			:american_state, t('.State') %>
						<%= f.text_field 		:american_state, :value => @user_state %>
					</li>
					<li>
						<%= f.label 			:church, t('.Church') %>
						<%= f.text_field 		:church, :value => @user_church %>
					</li>					
					<li>
						<%= f.label 			:newsletters, t('.Receive newsletters') %>
						<%= f.check_box 		:newsletters %>
					</li>
					<li>
						<%= f.label 			:reminder_freq, t('.Reminder frequency') %>
						<%= f.select			:reminder_freq,
									[["Daily", 		'Daily'		],
									["Weekly",		'Weekly'	], 
									["Monthly", 	'Monthly'	], 
									["Quarterly", 	'Quarterly'	],
									["Never", 		'Never'		]]      
									 %>
					</li>
					<li>
						<%= f.label 			:language, t('.Language') %>
						<%= f.select			:language,
									   [["English", 	      	'English'			],
                   						["Spanish",           	'Spanish' 			], 
                   						["French",           	'French' 			], 
                   						["Bahasa Indonesia",  	'Bahasa Indonesia'	], 
									 	["Dutch",		      	'Dutch'				], 
									 	["Swedish",				'Swedish'			], 
									 	["Afrikaans", 	       	'Afrikaans'			]]      
									 %>
					</li>	
					<li>
						<%= f.label 			:time_allocation, t('.Target Time') %>
						<%= f.select			:time_allocation,
									[[" 3 Minutes per Day",  3	],
									 [" 5 Minutes per Day",  5	],
									 ["10 Minutes per Day", 10	], 
									 ["15 Minutes per Day", 15	],
									 ["20 Minutes per Day", 20	]]      
									 %>
					</li>														
					<li>
						<%= f.label 			:max_interval, t('.Max Repetition Interval') %>
						<%= f.select			:max_interval,
									[["1 Month", 	 31	],
									 ["3 Months", 	 91	],
									 ["6 Months",	183	], 
									 ["9 Months", 	273	],
									 ["1 Year",		366 ]]     
									 %>
					</li>					
					<li>
						<%= f.label 			:mnemonic_use, t('.1st Letter Prompts') %>
						<%= f.select			:mnemonic_use,
									[["Always", 	'Always'	],
									 ["Learning",	'Learning'	], 
									 ["Never", 		'Never'		]]     
									 %>
					</li>
					<li>
						<%= f.label 			:all_refs, t('.Test all references') %>
						<%= f.check_box 		:all_refs %>
					</li>						
					<li>
						<%= f.label 			:show_echo, t('.Always show feedback') %>
						<%= f.check_box 		:show_echo %>
					</li>										
					<li>
						<%= f.label 			:show_toolbar, t('.Show social toolbar') %>
						<%= f.check_box 		:show_toolbar %>
					</li>										
				</ol>
				 
				<div class="buttons">				
					<%= submit_tag t('.Update profile') %>	
				</div>
					
			</fieldset>	
		<% end %> <!-- End: Error Messages -->
	</div>
<% end %> <!-- End: Form Tag -->

<p><%= t('.Photo Upload A') %> <b><%= link_to 'Gravatar', 'http://www.gravatar.com', {:target => '_blank'} %></b> <%= t('.Photo Upload B')%></p>


<!-- http://www.devbridge.com/projects/autocomplete/jquery/ -->
<script type="text/javascript">
	$(document).ready(function() {	
		a = $('#user_country').autocomplete({ serviceUrl:'profile/country_autocomplete'  								   
		});

		c = $('#user_american_state').autocomplete({ serviceUrl:'profile/state_autocomplete'  								   
		});
	
		b = $('#user_church').autocomplete({ serviceUrl:'profile/church_autocomplete'  								   
		});
	});
</script>

<!-- Hide state entry field if not US -->
<script type="text/javascript">
	$(document).ready(function() {
			
		if ($('#user_country').val() == "United States") {
			$('#state-entry').show();		
		}
		else {
			$('#state-entry').hide();
		}
		
		$('#user_country').blur(function() {
			if (this.value == "United States") {
				$('#state-entry').show();		
			}
			else {
				$('#state-entry').hide();
			}
		});
		
	});
</script>

