<% page_title t('.Update profile') %>
<div class="white-box-with-margins">
<h1><%=t('.Update profile')%></h1>

<div class="entry-form" id="edit-profile-form">

	<%= form_for @user, :url => { :action => "update", :id => @user.id } do |f| %>

		<% if @user.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@user.errors.count, "error") %> prevented your profile from being updated:</h2>

				<ul>
					<% @user.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %> <!-- End: Error Messages -->

		<ul>
			<li>
				<%= f.label 			:name, t('.Name') %>
				<%= f.text_field 		:name %>
			</li>
			<li>
				<%= f.label 			:email, t('.Email') %>
				<%= f.text_field 		:email %>
			</li>
			<li>
				<%= f.label 			:gender, t('.Gender') %>
				<%= f.select			:gender, [["Male", 'Male'],	["Female", 'Female']]  %>
			</li>
			<li>
				<%= f.label 			:translation, t('.Translation') %>
				<%= f.select			:translation, TRANSLATIONS.invert %>
			</li>					

			<li>
				<div class="ui-widget">
					<%= f.label 			:country, t('.Country') %>
					<%= f.text_field 		:country, :value => @user_country %>
				</div>			
			</li>
			
	
			<li id="state-entry">
				<div class="ui-widget">	
					<%= f.label 			:american_state, t('.State') %>
					<%= f.text_field 		:american_state, :value => @user_state %>
				</div>
			</li>

			<li>
				<div class="ui-widget">
					<%= f.label 			:church, t('.Church') %>
					<%= f.text_field 		:church, :value => @user_church %>
				</div>
			</li>		

			<li>
				<div class="ui-widget">
					<%= f.label 			:group, t('.Group') %>
					<%= f.text_field 		:group, :value => @user_group %>
				</div>
			</li>	

			<li>
				<%= f.label 			:newsletters, t('.Receive newsletters') %>
				<%= f.check_box 		:newsletters %>
			</li>
			<li>
				<%= f.label 			:reminder_freq, t('.Reminder frequency') %>
				<%= f.select			:reminder_freq,
							[["Daily", 		'Daily'		],
							["Weekly",		'Weekly'	], 
							["Monthly", 	'Monthly'	], 
							["Quarterly", 	'Quarterly'	],
							["Annually", 	'Annually'	],
							["Never", 		'Never'		]]      
							 %>
			</li>
			<li>
				<%= f.label 			:language, t('.Language') %>
				<%= f.select			:language,
							   [["English", 	      	'English'			],
								["Spanish",           	'Spanish' 			], 
								["French",           	'French' 			], 
								["Bahasa Indonesia",  	'Bahasa Indonesia'	], 
								["Dutch",		      	'Dutch'				], 
								["Swedish",				'Swedish'			], 
								["Afrikaans", 	       	'Afrikaans'			]]      
							 %>
			</li>	
			<li>
				<%= f.label 			:time_allocation, t('.Target Time') %>
				<%= f.select			:time_allocation,
							[[" 3 Minutes per Day",  3	],
							 [" 5 Minutes per Day",  5	],
							 [" 7 Minutes per Day",  7	],
							 ["10 Minutes per Day", 10	], 
							 ["15 Minutes per Day", 15	],
							 ["20 Minutes per Day", 20	],
							 ["30 Minutes per Day", 30	],
							 ["45 Minutes per Day", 45	],
							 ["60 Minutes per Day", 60	]]      
							 %>
			</li>														
			<li>
				<%= f.label 			:max_interval, t('.Max Repetition Interval') %>
				<%= f.select			:max_interval,
							[["1 Month", 	 31	],
							 ["3 Months", 	 91	],
							 ["6 Months",	183	], 
							 ["9 Months", 	273	],
							 ["1 Year",		366 ]]     
							 %>
			</li>
			<li>
				<%= f.label 			:mnemonic_use, t('.1st Letter Prompts') %>
				<%= f.select			:mnemonic_use,
							[["Always", 	'Always'	],
							 ["Learning",	'Learning'	],
							 ["Never", 		'Never'		]]
							 %>
			</li>
			<li>
				<%= f.label 			:auto_work_load, t('.Add verses as needed') %>
				<%= f.check_box 		:auto_work_load %>
			</li>
			<li>
				<%= f.label 			:all_refs, t('.Test all references') %>
				<%= f.check_box 		:all_refs %>
			</li>
			<li>
				<%= f.label 			:show_echo, t('.Always show feedback') %>
				<%= f.check_box 		:show_echo %>
			</li>
			<li>
				<%= f.label 			:show_email, t('.Show email') %>
				<%= f.check_box 		:show_email %>
			</li>
		</ul>
		
		<div class="buttons">				
			<%= submit_tag t('.Update profile') %>	
		</div>
	
	<% end %> <!-- End: User form -->

</div>

<p><%= t('.Photo Upload A') %> <b><%= link_to 'Gravatar', 'http://www.gravatar.com', {:target => '_blank'} %></b> <%= t('.Photo Upload B')%></p>

</div> <!-- End: White Box with Margins -->



<!-- http://www.devbridge.com/projects/autocomplete/jquery/ -->
<script type="text/javascript">

	$(document).ready(function() {
		
		$country = $('#user_country');
		$state = $('#state-entry'); 
		
		var togglestate = function(){
			if ($country.val() == "United States") {
				$state.show();		
			} else {
				$state.hide();
			}
		}
		
		togglestate(); // run on page load
		
		$country.keyup(function() {
			togglestate();
		});
		
		a = $('#user_country').focus().autocomplete({ source:'profile/country_autocomplete', change: function(event, ui) { togglestate(); }
		});

		c = $('#user_american_state').focus().autocomplete({ source:'profile/state_autocomplete'
		});
	
		b = $('#user_church').focus().autocomplete({ source:'profile/church_autocomplete'
		});
			
		d = $('#user_group').focus().autocomplete({ source:'profile/group_autocomplete'
		});
	});
</script>

