<% page_title I18n.t :church_leaderboard, :scope => 'page_titles' %>
<% page_banner I18n.t :church_leaderboard, :scope => 'page_titles' %>
<h2>Group Leaderboard</h2>

<p>The following table shows the groups and churches with the most verses memorized. For your group to be included on the leaderboard you
   have to have at least 3 active members. Only members who have completed a memorization session in the past month count towards your 
   group score.</p>

<div class="user-list">
	<table class="memverse-standard">  	
		<tr>
			<th>Rank</th>	  
			<th>Group</th>
			<th>Members</th>
			<th>MemScore</th>
		</tr>
		
		<% for church in @churchboard %>
			<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
				<td align="center"> <%= @churchboard.index(church)+1%></td>			
				<td align="left">   <%= link_to( church[0].name, { :controller => "church", :action => "show", :id => church[0] })		%></td>	
				<td align="center"> <%= number_with_delimiter(church[0].users_count)	%></td>	
				<td align="center"> <%= number_with_delimiter(church[1])				%></td>				
			</tr>
		<% end %>

	</table>
</div>
