<% page_title I18n.t :demo_memory_verse_review, :scope => 'page_titles' %>
<% page_description I18n.t :demo_memory_verse_review, :scope => 'page_descriptions' %>
<div class="white-box-bg">
	<div id="instructions">
		<div id="instr-1">
			<p>This is a demo of the main memorization section of Memverse. For now, we will use the New International Version of the Bible but
			you will be able to select one of the many available translations in which to memorize your verses. Type Romans 12:2 into the text box
			below.</p>

			<p>Hint: It begins <span class="text-highlight">"Do not conform any longer to the pattern of this world, but be ..."</span></p>
		</div>

		<div id="instr-2">
			<p>As you type, the feedback box will echo the verse and will alert you to any errors. Should you get stuck, you can click
			on "Show Verse" to view the verse. Once you have completed the review, you would grade yourself with one of the
			five self-assessment options according to how well you remembered the verse. This determines when next you would review
			that memory verse.</p>
		</div>
	</div>

	<div class="test-verse">
		<div class="top-heading">
			<h2><span><%= t('memverses.test_verse_quick.verse') %>: </span><span class="verse-ref"><%=@verse%></span><span class="verse-tl"> [NIV]</span></h2>
			<div id="toggle-hint" class="toggle-hint"><%= t('memverses.test_verse_quick.show_verse') %></div>
		</div>
		<div id="mnemonic" class="mnemonic"><div id="mtext"><%= @mnemonic %></div><div id="mclose">x</div></div>
		<div class="verse-test-area">
			<%= form_tag mark_test_quick_path, :id => 'test-verse-quick' do %>
				<div>
				<%= text_area_tag(:verseguess, params[:verseguess], :class => "verseguess" )%>
				</div>

				<div class="tool-tip-nav">Rate Your Performance:</div>
				<div id="test-buttons" class="score-test-buttons">
					<span class="submit" q="1">1</span> <div class="tooltip"><%= I18n.t "memverses.test_verse_quick.b1" %></div>
					<span class="submit" q="2">2</span> <div class="tooltip"><%= I18n.t "memverses.test_verse_quick.b2" %></div>
					<span class="submit" q="3">3</span> <div class="tooltip"><%= I18n.t "memverses.test_verse_quick.b3" %></div>
					<span class="submit" q="4">4</span> <div class="tooltip"><%= I18n.t "memverses.test_verse_quick.b4" %></div>
					<span class="submit" q="5">5</span> <div class="tooltip"><%= I18n.t "memverses.test_verse_quick.b5" %></div>

					<span><%= link_to (image_tag("blue-icon.png", :width=>"16", :height=>"16")), "#info", :id => "inline" %></span> <div class="tooltip">Learn about rating your verses and keyboard shortcuts</div>
					<div style="display:none">
						<div id="info">
							<%= render "memverses/rating_explanation" %>
						</div> <!-- end: info -->
					</div>
				</div>	<!-- end: scoreTestButtons -->

			<% end %> <!-- end: form -->
		</div> <!-- end: verse-test-area -->

	</div> <!-- end: test-verse -->

	<div class="feedback verse-feedback">
		<h2><%= t('memverses.test_verse_quick.feedback') %></h2>

		<div class="priorVerse">
			<p>
				<!-- Prior verse, if available -->
				<span class="prior-versenum superscript">	<%=@prior_versenum if @prior_text%></span>
				<span class="prior-text">					<%=@prior_text if @prior_text%>	</span>
			</p>
		</div>

		<!-- Current verse -->
		<div id="currentVerse">
			<p>
				<span class="current-versenum superscript"><%=@current_versenum if @prior_text%></span>
				<span id="feedback"></span>
				<%= image_tag("indicator2.gif", alt: "Comparing...", style: "display: none", class: "center spinner", id: "ajax_spinner") %>
			</p>
		</div>

		<!-- Current verse answer -->
		<div id="complete-hint">
			<p>
				<span class="current-versenum superscript"><%=@current_versenum if @prior_text%></span>
				<span class="current-text"><%= @text %></span>
				<img class="center spinner" id="ajax_spinner" src="/assets/indicator2.gif" alt="Comparing..." style="display: none" />
			</p>
		</div>

	</div> <!-- end: Feedback -->

	<div class="upcoming">
		<h2><%= t('memverses.test_verse_quick.upcoming_verses') %></h2>
		None
	</div>
	<div class="clr"></div>
</div>



<script language="JavaScript" type="text/javascript"><!--


	$(document).ready(function() {

		// cache frequent DOM objects in variables
		$completehint = $("#complete-hint");
		$currentVerse = $("#currentVerse");
		$togglehint   = $("#toggle-hint");
		$feedback     = $("#feedback");
		$verseguess   = $("#verseguess");

		var current				= {};
		var live				= {};

		current.text   	 = "<%= @text.html_safe %>";
		current.feedback = true;
		current.mnemonic = "<%= @mnemonic %>";

		live.correct     = false; // Can currently toggle verse (show/hide)
		live.feedtext    = "Waiting for you to begin typing..."; // Live Feedback text

		live = getverseFeedback($verseguess.val()); // Run this once when page first loads

		function getverseFeedback(guess){
			live = verseFeedback(current.text, guess, current.feedback);

			$feedback.html(live.feedtext);

			if (live.correct) {
				$togglehint.fadeOut(500);
			}
			else if ($togglehint.is(":hidden")) { // Verse is incorrect; if the toggle option was unavailable, make it available now
				$togglehint.text(I18n.t("memverses.test_verse_quick.show_verse")).fadeIn(500);
			}
			if ($completehint.is(":visible") && live.correct) {
				$completehint.toggle();
				$currentVerse.toggle();
			}
		}

		// focus cursor on verse entry box
		$verseguess.focus();

		//fancybox info
		$("a#inline").fancybox({
			'autoDimensions' : false,
			'width'          : '80%',
			'height'         : '90%'
		});

		// ==== Show/Hide mnemonic ====
		function togglemnemonic(){
			if ( $('#mclose').is(':hidden') ) {
				$("#mtext").text(current.mnemonic);
				$('#mclose').show();
			}
			else {
				$('#mtext').html('<span>Show Prompts</span>');
				$("#mclose").hide();
			}
		}

		$('#mclose').click(function() {
			togglemnemonic();
		});

		$('#mtext').click(function() {
			if ( $('#mclose').is(':hidden') ) {
				togglemnemonic();
			}
		});

		// Toggle verse function
		function toggleverse() {
			$completehint.toggle();
			$currentVerse.toggle();
			if ( $togglehint.text() == (I18n.t("memverses.test_verse_quick.show_verse")) ) {
				$togglehint.text(I18n.t("memverses.test_verse_quick.hide_verse"));
			} else {
				$togglehint.text(I18n.t("memverses.test_verse_quick.show_verse"));
			}
		}

		// show verse
		$(".toggle-hint").click( function () {
			toggleverse();
		});

		// Verse feedback
		$("#verseguess").observe_field(0.2, function( ) {
			getverseFeedback(this.value);
        });

		// ==== Mock "rateverse" function
		function rateverse(){
			window.location="./tutorial";
			return (false);
		}

		// ==== User clicks 1-5 button ====
		$('.submit').click( function() {
			rateverse();
		});

		// Shortcuts
		isShift = false;
		isPlus = false;
		pluskeys = [61, 107, 187];

		$(document).keyup(function (e) {
			if(e.which == 16) {
				isShift=false;
			}
			if(jQuery.inArray(e.which,pluskeys) > -1) {
				isPlus=false;
			}
		})
		.keydown(function (e) {
			if(e.which == 16) {
				isShift=true;
			}
			if((jQuery.inArray(e.which,pluskeys) > -1) && (isShift == true)) { // FF on Windows 107, IE 187, Opera 61
				isPlus=true;
				return false;
			}
			if(isPlus == true && isShift == true){
				if(e.which >= 49 && e.which <= 53) { // User must be rating verse
					$verseguess.blur();
					switch (e.which) { // Now set the "q" variable
						case 49:
							q = 1;
							break;
						case 50:
							q = 2;
							break;
						case 51:
							q = 3;
							break;
						case 52:
							q = 4;
							break;
						case 53:
							q = 5;
							break;
					}
					rateverse();
					return false;
				}
				if(e.which == 86) {
					toggleverse();
 					return false;
				}
				if(e.which == 80 || e.which == 72) {
					togglemnemonic();
					return false;
				}
				if(e.which == 190) {
					alert("You cannot skip this verse. It is due for review today.");
					return false;
				}
			} // end of if(isPlus == true && isShift == true)

		})
		.keypress(function (e) {
			if(e.which == 62 || e.which == 43) {
				// Prevent ">" and "+" from going into textarea
				e.preventDefault();
				return false;
			}
			if((e.which == (33 || 64 || 35 || 36 || 37 || 80 || 86)) && isPlus == true) {
				// All we're trying to do is prevent the shifted rating numbers or other symbols/characters for shortcuts from going into textarea
				e.preventDefault();
				return false;
			}
		})
		;
	});
--></script>
<script language="JavaScript" type="text/javascript">
	$(document).ready(function() {
	    $('#verseguess').click( function() {
			$('#instr-1').fadeOut(1000, function () { $('#instr-2').fadeIn(2000) } )
		});
	});
</script>