<% page_title I18n.t :leaderboard, :scope => 'page_titles' %>
<div class="white-box-with-margins">
	<h2>Leaderboard</h2>

	<p>
		The following table shows the top 250 users with the most verses
		memorized, but to appear on this leaderboard, you must have completed
		a memorization session in the past month.
	</p>

	<div class="user-list">
		<table id="leaderboard" class="memverse-standard">
			<thead>
				<tr>
					<th>Rank</th>
					<th>Level</th>
					<th>Name</th>
					<th>Memorized</th>
					<th>Learning</th>
		      		<th><%= link_to 'Accuracy', main_app.test_accuracy_path %></th>
		      		<th>RefRecall</th>
					<th>Affiliation</th>
					<th>Country</th>
					<th>Joined</th>
				</tr>
			</thead>

			<tbody>
				<% for user in @leaderboard %>
					<tr valign="top" <%=css_current_user_check(user[0])%> >
						<td align="center"> <%= @leaderboard.index(user)+1%></td>
						<td align="center"> <%= user.level ? user.level : "" %></td>
						<td align="left">   <%= user.name.empty? ? "[" + user.login + "]" : user.name	%></td>
						<td align="center"> <%= number_with_delimiter(user.memorized)	%></td>
						<td align="center"> <%= number_with_delimiter(user.learning) 	%></td>
		        		<td align="center"> <%= user.accuracy  %>%</td>
		        		<td align="center"> <%= user.ref_grade  %>%</td>
						<td align="left"> 	<%= user.church ? link_to(user.church.name, { :controller => "church", :action => "show", :id => user.church.id }) : "" %></td>
						<td align="left"> 	<%= user.country ? user.country.printable_name : "" %></td>
						<td align="center"> <%= user.created_at.to_date %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
