<h2>Leaderboard</h2>

<p>The following table shows the users with the most verses memorized. To appear on the leaderboard you must have completed a memorization
   session in the past month.</p>

<div class="user-list">
	<table id="leaderboard" class="memverse-standard">  	
		<tr>
			<th>Rank</th>
			<th>Level</th>
			<th>Name</th>	
			<th>Memorized</th>
			<th>Learning</th>
      		<th><%= link_to 'Accuracy', pre_exam_path%></th> 
      		<th>RefRecall</th>
			<th>Affiliation</th>
			<th>Country</th>
			<th>Joined</th>
		</tr>
		
		<% for user in @leaderboard %>
			<tr valign="top" <%=css_current_user_check(user[0])%> >
				<td align="center"> <%= @leaderboard.index(user)+1%></td>
				<td align="center"> <%= user[0].level ? user[0].level : "" %></td>
				<td align="left">   <%= user[0].name.empty? ? "[" + user[0].login + "]" : user[0].name	%></td>
				<td align="center"> <%= number_with_delimiter(user[1])				%></td>	
				<td align="center"> <%= number_with_delimiter(user[0].learning) 	%></td>
        		<td align="center"> <%= user[0].accuracy  %>%</td>
        		<td align="center"> <%= user[0].ref_grade  %>%</td>
				<td align="left"> 	<%= user[0].church ? link_to(user[0].church.name, { :controller => "profile", :action => "show_church", :church => user[0].church.id }) : "" %></td>
				<td align="left"> 	<%= user[0].country ? user[0].country.printable_name : "" %></td>
				<td align="center"> <%= user[0].created_at.to_date %></td>				
			</tr>
		<% end %>
		
		<% if @not_on_leaderboard %>
			<tr>
				<td align="center">		You																	  </td>
				<td align="center"> <%= current_user.level ? current_user.level : "" 						%></td>				
				<td align="left"> 	<%= current_user.name.empty? ? current_user.login : current_user.name	%></td>
				<td align="center"> <%= current_user.memorized 												%></td>			
				<td align="center"> <%= current_user.learning 												%></td>
        		<td align="center"> <%= current_user.accuracy                         								%>%</td>
        		<td align="center"> <%= current_user.ref_grade                        								%>%</td>
				<td align="left"> 	<%= current_user.church ? link_to(current_user.church.name, { :controller => "profile", :action => "show_church", :church => current_user.church.id }) : "" %></td>
				<td align="left"> 	<%= current_user.country ? current_user.country.printable_name : "" 	%></td>
				<td align="center"> <%= current_user.created_at.to_date 									%></td>								
			</tr>
		<% end %>
	</table>
</div>