<% page_title I18n.t :news_network, :scope => 'page_titles' %>
<% page_banner I18n.t :news_network, :scope => 'page_titles' %>

<div class="news-feed front-page-segment">
	<h2>Christianity Today</h2>
	<ul>
		<% if @feeds[0] %>
			<% @feeds[0].each do |post| %>
				<li>
					<%= link_to post.title, post.link %>
					<br>
					<div class="post-description"><%=post.description%></div>
				</li>
			<% end %>
		<% end %>
	</ul>	
</div>

<div class="news-feed front-page-segment">
	<h2>Christian History</h2>
	<ul>
		<% if @feeds[1] %>
			<% @feeds[1].each do |post| %>
				<li>
					<%= link_to post.title, post.link %>
					<br>
					<div class="post-description"><%=post.description%></div>
				</li>
			<% end %>
		<% end %>
	</ul>	
</div>

<div class="news-feed front-page-segment">
	<h2>Christian Post</h2>
	<ul>
		<% if @feeds[2] %>
			<% @feeds[2].each do |post| %>
				<li>
					<%= link_to post.title, post.link %>
					<br>
					<div class="post-description"><%=post.description%></div>
				</li>
			<% end %>
		<% end %>
	</ul>	
</div>

<div class="news-feed front-page-segment">
	<h2>Christian Today</h2>
	<ul>
		<% if @feeds[3] %>
			<% @feeds[3].each do |post| %>
				<li>
					<%= link_to post.title, post.link %>
					<br>
					<div class="post-description"><%=post.description%></div>
				</li>
			<% end %>
		<% end %>
	</ul>	
</div>

<!--
<div id="video-feed" class="front-page-segment">
	<script type="text/javascript" 
			src="http://pshared.5min.com/Scripts/PlayerSeed.js?sid=203&width=400&height=235&videoControlDisplayColor=%23191919&categories=181&autoStart=false">			
	</script>
</div>
-->