<% page_title I18n.t :news_network, :scope => 'page_titles' %>

<% cache 'news', :expires_in => 6.hours do  %>

<div class="news-feed">
	<% if @feeds[0] %>
		<% @feeds[0].each do |post| %>

			<div class="news-feed-post">
				<h2><%= link_to post.title, post.link %></h2>
				<div class="post-description"><%= sanitize truncate( post.description, :length => 2000, escape: false, :omission => '... (continued)') %></div>
			</div>
		
		<% end %>
	<% end %>
</div>
<div class='clr'></div>


<div class="news-feed">
	<% if @feeds[1] %>
		<% @feeds[1].each do |post| %>

			<div class="news-feed-post">
				<h2><%= link_to post.title, post.link %></h2>
				<div class="post-description"><%= sanitize truncate( post.description, :length => 2000, escape: false, :omission => '... (continued)') %></div>
			</div>

		<% end %>
	<% end %>
</div>
<div class='clr'></div>


<div class="news-feed">
	<% if @feeds[2] %>
		<% @feeds[2].each do |post| %>

			<div class="news-feed-post">
				<h2><%= link_to post.title, post.link %></h2>
				<div class="post-description"><%= sanitize truncate( post.description, :length => 2000, escape: false, :omission => '... (continued)') %></div>
			</div>

		<% end %>
	<% end %>
</div>
<div class='clr'></div>


<% end %>
