<% page_title I18n.t :popular_verses, :scope => 'page_titles' %>
<% page_description I18n.t :popular_verses, :scope => 'page_descriptions' %>

<div class="white-box-with-margins">
<h1>Top 100 Memory Verses</h1>

<p>This is a list of the most popular Bible verses that users are memorizing on Memverse. Hover your
	mouse over a given translation to see the verse.</p>

<div class="social-buttons">

	<div class="google-plus-one">
		<!-- Place this tag where you want the +1 button to render. -->
		<div class="g-plusone" data-href="https://www.memverse.com/"></div>
	</div>

	<div class="facebook-like-button">
		<script src="https://connect.facebook.net/en_US/all.js#xfbml=1"></script>
		<fb:like href="https://www.memverse.com/popular" show_faces="false" width="450"></fb:like>
	</div>

</div>

<div id="pop-verses-table" class="verse-list">

	<table class="memverse-standard menu-popular" cellpadding="4" cellspacing="1" border="1">
		<thead>
			<tr>
				<th>Rank</th>
				<th>Verse</th>
				<th colspan="6">Translations</th>
			</tr>
		</thead>

		<tbody>
			<% for vs in @vs_list %>
			<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
				<td align="center"><%=@vs_list.index(vs)+1+(@page*@page_size)%></td>
				<td><%= vs.book				%> <%= vs.chapter %>:<%= vs.versenum %></td>

				<% if vs.niv %>
					<td>
						<%= link_to 'NIV', :action => 'show_vs', :vs => vs.niv%>
						<em><%= vs.niv_text %></em>
					</td>
				<% else %>
					<td></td>
				<% end %>

				<% if vs.nas %>
					<td>
						<%= link_to 'NAS', :action => 'show_vs', :vs => vs.nas%>
						<em><%= vs.nas_text %></em>
					</td>
				<% else %>
					<td></td>
				<% end %>

				<% if vs.esv %>
					<td>
						<%= link_to 'ESV', :action => 'show_vs', :vs => vs.esv%>
						<em><%= vs.esv_text %></em>
					</td>
				<% else %>
					<td></td>
				<% end %>

				<% if vs.nkj %>
					<td>
						<%= link_to 'NKJ', :action => 'show_vs', :vs => vs.nkj%>
						<em><%= vs.nkj_text %></em>
					</td>
				<% else %>
					<td></td>
				<% end %>

				<% if vs.kjv %>
					<td>
						<%= link_to 'KJV', :action => 'show_vs', :vs => vs.kjv%>
						<em><%= vs.kjv_text %></em>
					</td>
				<% else %>
					<td></td>
				<% end %>

			</tr>
			<% end %>
		</tbody>
	</table>

	<div class="pagination" align="center">
		<table cellpadding="6" cellspacing="1" border="0"><tr>
			<td>
				<% if @page > 0 %>
					<%= link_to '<<', { controller: 'info', action: 'pop_verses', page: @page-1 } %>
				<% end %>
			</td>

			<td>
				Page <%= @page+1 %>
			</td>
			<td>
				<% if @page < 9 %>
					<%= link_to '>>', { controller: 'info', action: 'pop_verses', page: @page+1} %>
				<% end %>
			</td>
		</tr></table>
	</div>
</div>

<br>

<% if !user_signed_in? %>

	<div class="banner-bottom"><!--banner-bottom start-->
		<ul>
			<li><%= link_to 'try the memverse demo',	demo_path %></li>
			<li><%= link_to 'learn more',				tutorial_path %></li>
			<li><%= link_to 'blog',						bloggity.root_path %></li>
			<li><%= link_to 'sign up today',			new_user_registration_path, :class => 'active' %></li>
		</ul>
	</div><!--banner-bottom end-->

<% end %>

</div><!-- End white box with margins -->


<!-- http://www.webdesignerwall.com/tutorials/jquery-tutorials-for-designers/ -->
<script type="text/javascript">
	$(document).ready(function(){

		$(".menu-popular a").hoverIntent(function() {
			$(this).next("em").animate({opacity: "show", left: "30em"}, "slow");
		}, function() {
			$(this).next("em").animate({opacity: "hide", left: "32em"}, "medium");
		});
	});
</script>

<!-- Place this tag after the last +1 button tag. ALV: Be sure to remove this if script is added to layout -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
