<% page_title "#{@verse.book} #{@verse.chapter}:#{@verse.versenum} [#{@verse.translation}]" %>

<div class="white-box-with-margins">
		
	<%= render :partial => 'verse_form' %>
	
	<div class="clr"></div><br />

	<% if !user_signed_in? %>	
	
		<div class="banner-bottom"><!--banner-bottom start-->
			<ul>
				<li><%= link_to 'try the memverse demo',	demo_path %></li>
				<li><%= link_to 'top 100 memory verses',	popular_path %></li>
				<li><%= link_to 'blog',						bloggity.root_path %></li>
				<li><%= link_to 'sign up today',			new_user_registration_path, :class => 'active' %></li>
			</ul>
		</div><!--banner-bottom end-->
	
	<% end %>

</div>