<% page_title I18n.t :us_state_challenge, :scope => 'page_titles' %>
<% page_banner I18n.t :us_state_challenge, :scope => 'page_titles' %>
<% page_description I18n.t :us_state_challenge, :scope => 'page_descriptions' %>
<h2>US State Challenge</h2>

<p>The following table shows the states with the most verses memorized. For your state to be included on the leaderboard you
   have to have at least 3 active members. Only members who have completed a memorization session in the past month count towards your 
   state score.</p>

<div class="user-list">
	<table class="memverse-standard">  	
		<tr>
			<th>Rank</th>	  
			<th>State</th>
			<th>Members</th>
			<th>MemScore</th>
		</tr>
		
		<% for us_state in @stateboard %>
			<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
				<td align="center"> <%= @stateboard.index(us_state)+1	%></td>			
				<td align="left">   <%= link_to( us_state[0].name, { :controller => "american_state", :action => "show", :id => us_state[0] })	%></td>
				<td align="center"> <%= number_with_delimiter(us_state[0].users_count)			%></td>	
				<td align="center"> <%= number_with_delimiter(us_state[1])	%></td>				
			</tr>
		<% end %>
	</table>
</div>
