<!doctype html>		

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
						
<head>
	<meta charset="utf-8">
	
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame  -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=8"> -->
			
	<title><%= @page_title || APP_CONFIG[:site_name] %></title>
	
	<meta name="distribution" content="all" />
	<meta name="robots" content="all" />	
	<meta name="resource-type" content="document" />
	<meta name="MSSmartTagsPreventParsing" content="true" />

	<meta name="description" content="A free, online tool for memorizing the bible" />	
	<meta name="keywords" content="memorize bible, memorize scripture, popular bible verses, memorize bible verses," />	
	
	<!-- Facebook Open Graph tags -->
	<meta property="og:title"		content="Memverse"/>	
	<meta property="og:type"		content="website"/>	
	<meta property="og:image"		content="http://www.memverse.com/images/memverse_swords.jpg"/>	
	<meta property="og:url"			content=<%= request.url %>/>	
	<meta property="og:site_name"	content="Memverse"/>	
	<meta property="og:admins"		content="1799626379"/>	
	
	<!-- Google verification -->
	<meta name="verify-v1" content="IrqDYi2zxAyS8GUAqQcyXvnmcxhtuNITeCIFYLa76LQ=" />	
	<!-- Microsoft verification -->		
	<meta name="msvalidate.01" content="A1BB69E880870637C825F612E2FA4034" />				

	<!-- Identify blog feed -->
	<link rel="alternate" type="application/rss+xml" title="Memverse Blog" href="http://feeds.feedburner.com/MemverseBlog" />

	<!-- Main Stylesheet -->
	<%= stylesheet_link_tag 'base_packaged', :cache => 'cache/all' %>
	<!-- <%= stylesheet_link_merged 'base', :cache => 'cache/all' %> -->
	<%= stylesheet_link_tag 'mobile' if mobile_device? %>

  <!-- Rails 3 XSS protection -->
  <%= csrf_meta_tag %>
		
	<!-- Auxiliary stylesheets, etc -->
	<%= yield(:head) %>

	<!-- Using Jquery and Jrails NOTE: not using asset packager at the moment -->
	<!-- No longer using 'prototype' or 'jrails' (only for pre-Rails 3)-->
	<%= javascript_include_tag 	'jquery.min', 'rails', 
								'jquery-ui-1.8.6.custom.min', 
								'jquery.quickflip', 'jquery.hoverIntent', '2leveltab', 
								'jquery.periodicalupdater', 'jquery.jeditable', 'jquery.autocomplete', 'modernizr-1.6.min', 
								'jquery.shuffle',  'jquery.observe_field', 'jquery.blockUI',
								'application', :cache => 'cache/all' %> 
							
	<!-- Shortcut Icons -->
	<link rel="shortcut icon" href="/images/favicon.ico" />
	<link rel="icon" 		  href="/images/favicon.ico" />	
		
</head>

<body id="user">
	
	<!-- Start of Google Analytics Code  -->	
	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-4539114-5']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = 'http://www.google-analytics.com/ga.js';
	    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
	  })();

	</script>		
	<!-- End of Google Analytics Code  -->
	
	<% if logged_in? and current_user.show_toolbar %>
		<!-- Start of Meebo Toolbar  -->
		<script type="text/javascript">
			if (typeof Meebo == 'undefined') {
			Meebo=function(){(Meebo._=Meebo._||[]).push(arguments)};
			(function(q){
				var args = arguments;
				if (!document.body) { return setTimeout(function(){ args.callee.apply(this, args) }, 100); }
				var d=document, b=d.body, m=b.insertBefore(d.createElement('div'), b.firstChild); s=d.createElement('script');
				m.id='meebo'; m.style.display='none'; m.innerHTML='<iframe id="meebo-iframe"></iframe>';
				s.src='http'+(q.https?'s':'')+'://'+(q.stage?'stage-':'')+'cim.meebo.com/cim/cim.php?network='+q.network;
				b.insertBefore(s, b.firstChild);
			
			})({network:'memverse_lu08jo'});
			Meebo('makeEverythingSharable');
			}
		</script>
		<!-- End of Meebo Toolbar  -->		
	<% end %>
	
	<div id="container">
	  <noscript><center><p>JavaScript is required to use many features of this website. Please enable JavaScript in your browser and refresh the page.</p></center></noscript>
		<div id="auth">
			<ul>
				<% if logged_in? %>
				<li><%= link_to 'Logout', logout_path %></li>
				<li><%= current_user.login %></li>					
				<% else %>
				<li><%= link_to 'Login', login_path %></li>
				<li><%= link_to 'Signup', signup_path %></li>
				<% end %>
			</ul>
		</div> <!-- End of Auth -->			
	 	<div id="banner">
		    <!-- <%= image_tag("bible.gif") %> -->
		    <%= @page_title || "Bible Verse Memorization" %>				
	  	</div> <!-- End of Banner -->

		<!-- http://stackoverflow.com/questions/3477522/preventing-html-character-entities-in-locale-files-from-getting-munged-by-rails3 -->	
		<div id="main">
			<% if logged_in? %>
			<div id="menu-tabs">
				<ul id="maintab" class="basictab">
					<li <%= tab(@tab=="home"		) %> rel="homepage">	<%= link_to t('menu.home').html_safe, 			home_path %></li>	
					<li <%= tab(@tab=="mem"			) %> rel="memory">		<%= link_to t('menu.memorize').html_safe, 		test_verse_path %></li>
					<li <%= tab(@tab=="learn"		) %> rel="tutorials">	<%= link_to t('menu.learn').html_safe, 			tutorial_path %></li>
					<li <%= tab(@tab=="profile"		) %> rel="profile">		<%= link_to t('menu.profile').html_safe, 		current_user %></li>
					<li <%= tab(@tab=="contact"		) %> rel="contact">		<%= link_to t('menu.contact').html_safe, 		contact_path %></li>	
					<li <%= tab(@tab=="leaderboard"	) %> rel="leaderboard">	<%= link_to t('menu.leaderboard').html_safe, 	leaderboard_path %></li>	
					<li <%= tab(@tab=="blog"		) %> rel="blog">		<%= link_to t('menu.blog').html_safe, 			blog_path %></li>
				</ul>

				<div id="homepage" class="submenustyle">
					<%= link_to t('home_menu.My Verses'),				show_all_my_verses_path %>
					<%= link_to t('home_menu.Add Verse'),				add_verse_path %>
					<%= link_to t('home_menu.My Progress'),				progress_path %>	
					<%= link_to t('home_menu.Popular Verses'),			popular_verses_path %>	
					<%= link_to t('home_menu.Tag Cloud'),				tag_cloud_path %>	
					<%= link_to t('home_menu.News'),					news_path %>	
				</div>

				<div id="memory" class="submenustyle">
					<%= link_to t('memorize_menu.Memorize'),			test_verse_path %>
					<%= link_to t('memorize_menu.Reference Recall'), 	start_ref_test_path %>
					<%= link_to t('memorize_menu.Practice'), 			drill_verse_path %>						
					<%= link_to t('memorize_menu.Accuracy Test'), 		pre_exam_path %>	
					<%= link_to t('memorize_menu.Chapter Review'), 		pre_chapter_path %>	
					<%= link_to t('memorize_menu.Quick Mem'), 			test_verse_quick_path %>	
				</div>
				
				<div id="tutorials" class="submenustyle">
					<%= link_to t('learn_menu.Tutorial'), 				tutorial_path %>
					<%= link_to t('learn_menu.SuperMemo Algorithm'), 	supermemo_path %>
				</div>

				<div id="profile" class="submenustyle">
					<%= link_to t('profile_menu.Dashboard'), 			current_user %>						
					<%= link_to t('profile_menu.Profile'), 				update_profile_path %>
					<%= link_to t('profile_menu.My Church'), 			church_path %>
					<%= link_to t('profile_menu.Referrals'), 			referrals_path(current_user) %>
				</div>

				<div id="contact" class="submenustyle">
					<%= link_to t('contact_menu.Contact'), 				contact_path %>
					<%= link_to t('contact_menu.Help'), 				faq_path %>
					<%= link_to t('contact_menu.Volunteer'), 			volunteer_path %>
				</div>
				
				<div id="leaderboard" class="submenustyle">	
					<%= link_to t('leader_menu.Leaderboard'),			leaderboard_path %>
					<%= link_to t('leader_menu.Church Leaderboard'), 	churchboard_path %>
					<%= link_to t('leader_menu.State Leaderboard'), 	stateboard_path %>
					<%= link_to t('leader_menu.Country Leaderboard'), 	countryboard_path %>
					<%= link_to t('leader_menu.Referralboard'), 		referralboard_path %>						
					<%= link_to t('leader_menu.One Church'), 			memverse_clock_path %>						
				</div>					

				<div id="blog" class="submenustyle">
					<%= link_to t('blog_menu.View Blog'), 				blog_path %>
					<%= link_to t('blog_menu.Recent Comments'),			blog_comments_new_path %>
				</div>
								
			</div>  <!-- End of Menu Tabs -->
			<% end %> <!-- if logged_in? -->
			
			<%= flash_messages %>
			<%= content_for?(:content) ? yield(:content) : yield %>
			<div id="meebo-toolbar">
				<!-- no content, just here to add space -->
			</div>
		</div> <!-- End of Main -->
	</div> <!-- End of Container -->

	<!--
	<div id="footer-container">
		<div id="footer">
			&copy; <%= link_to t('txt.main_title'), home_path %> 2010
		</div> 
	</div>  End of Footer -->

	<!-- Start of Menu Tab Code  -->
	<% if logged_in? %>
		<script type="text/javascript">
			//initialize tab menu, by passing in ID of UL
			initalizetab("maintab")
		</script>	
	<% end %>	
	
	<!-- Start of Get Satisfaction Script  -->		
	<script type="text/javascript" charset="utf-8">
	  var is_ssl = ("https:" == document.location.protocol);
	  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
	  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	
	<script type="text/javascript" charset="utf-8">
	  var feedback_widget_options = {};
	
	  feedback_widget_options.display = "overlay";  
	  feedback_widget_options.company = "memverse";
	  feedback_widget_options.placement = "right";
	  feedback_widget_options.color = "#222";
	  feedback_widget_options.style = "idea";
	
	  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
	</script>	<!-- End: Get Satisfaction Script  -->	
		
	<script type="text/javascript">
			Meebo("domReady");
	</script>

	<!-- Prevent double-clicking links in the flash -->
	<script type="text/javascript">
		$(document).ready(function(){
			$('#flash-notice').click( function() {
				$(this).children().hide(); 
				
			});
		});
	</script>
			
</body>
</html>

