<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title><%= @page_title || APP_CONFIG[:site_name] %></title>
		<meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="distribution" content="all" />
		<meta name="robots" content="all" />	
		<meta name="resource-type" content="document" />
		<meta name="MSSmartTagsPreventParsing" content="true" />

		<meta name="description" content="A free, online tool for memorizing the bible" />	
		<meta name="keywords" content="memorize bible, memorize scripture, popular bible verses, memorize bible verses," />		
		
		<!-- Google verification -->
		<meta name="verify-v1" content="IrqDYi2zxAyS8GUAqQcyXvnmcxhtuNITeCIFYLa76LQ=" />	
		<!-- Microsoft verification -->		
		<meta name="msvalidate.01" content="A1BB69E880870637C825F612E2FA4034" />				

		<!-- Identify blog feed -->
		<link rel="alternate" type="application/rss+xml" title="Memverse Blog" href="http://feeds.feedburner.com/MemverseBlog" />
	
		<!-- Main Stylesheet -->
		<%= stylesheet_link_tag 'base' %>
  		
		<!-- Auxiliiary stylesheets, etc -->
		<%= yield(:head) %>
				
		<!-- Using Jquery and Jrails -->
		<%= javascript_include_tag 'jquery-1.4' 		%> <!-- main jQuery library -->
		<%= javascript_include_tag 'jquery-ui' 			%> <!-- jQuery UI library -->
		<%= javascript_include_tag 'jrails' 			%> <!-- needed to use jQuery with Prototype/Scriptaculous -->
		<%= javascript_include_tag 'jquery.quickflip'	%>
		<%= javascript_include_tag 'jquery.hoverIntent' %>	
		<%= javascript_include_tag '2leveltab' 			%>
		<%= javascript_include_tag 'jquery.autocomplete'%> <!-- http://www.devbridge.com/projects/autocomplete/jquery/ -->						
				
		<!-- Shortcut Icons -->
		<link rel="shortcut icon" href="/images/favicon.ico" />
		<link rel="icon" 		  href="/images/favicon.ico" />	
		
		<!-- Menu tabs -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/2leveltab.css" />		
		<script type="text/javascript" src="/javascripts/2leveltab.js">
		/***********************************************
		* 2 level Horizontal Tab Menu- by JavaScript Kit (www.javascriptkit.com)
		* This notice must stay intact for usage
		* Visit JavaScript Kit at http://www.javascriptkit.com/ for full source code
		***********************************************/
		</script>		
	</head>
	
	<body id="user">
		
		<!-- Start of Google Analytics Code  -->	
		<script type="text/javascript">
		
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-4539114-5']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = 'http://www.google-analytics.com/ga.js';
		    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
		  })();

		</script>		
		<!-- End of Google Analytics Code  -->
		
		<!-- Start of Meebo Toolbar  -->
		<script type="text/javascript">
			if (typeof Meebo == 'undefined') {
			Meebo=function(){(Meebo._=Meebo._||[]).push(arguments)};
			(function(q){
				var args = arguments;
				if (!document.body) { return setTimeout(function(){ args.callee.apply(this, args) }, 100); }
				var d=document, b=d.body, m=b.insertBefore(d.createElement('div'), b.firstChild); s=d.createElement('script');
				m.id='meebo'; m.style.display='none'; m.innerHTML='<iframe id="meebo-iframe"></iframe>';
				s.src='http'+(q.https?'s':'')+'://'+(q.stage?'stage-':'')+'cim.meebo.com/cim/cim.php?network='+q.network;
				b.insertBefore(s, b.firstChild);
			
			})({network:'memverse_lu08jo'});
			Meebo('makeEverythingSharable');
			}
		</script>
		<!-- Start of Meebo Toolbar  -->
		
		
		
		
		<div id="container">
			<div id="auth">
				<ul>
					<% if logged_in? %>
					<li><%= link_to 'Logout', logout_path %></li>
					<li><%= current_user.login %></li>					
					<% else %>
					<li><%= link_to 'Login', login_path %></li>
					<li><%= link_to 'Signup', signup_path %></li>
					<% end %>
				</ul>
			</div> <!-- End of Auth -->			
		 	<div id="banner">
			    <%= image_tag("bible.gif") %>
			    <%= @page_title || "Bible Verse Memorization" %>				
		  	</div> <!-- End of Banner -->

				
			<div id="main">
				<% if logged_in? %>
				<div id="menu-tabs">
					<ul id="maintab" class="basictab">
						<li <%= tab(@tab=="home"		) %> rel="homepage">	<%= link_to t('txt.menu.home'), 		home_path %></li>	
						<li <%= tab(@tab=="mem"			) %> rel="memory">		<%= link_to t('txt.menu.memorize'), 	test_verse_path %></li>
						<li <%= tab(@tab=="learn"		) %> rel="tutorials">	<%= link_to t('txt.menu.learn'), 		tutorial_path %></li>
						<li <%= tab(@tab=="profile"		) %> rel="profile">		<%= link_to t('txt.menu.profile'), 		update_profile_path %></li>
						<li <%= tab(@tab=="contact"		) %> rel="contact">		<%= link_to t('txt.menu.contact'), 		contact_path %></li>	
						<li <%= tab(@tab=="leaderboard"	) %> rel="leaderboard">	<%= link_to t('txt.menu.leaderboard'), 	leaderboard_path %></li>	
						<li <%= tab(@tab=="blog"		) %> rel="blog">		<%= link_to t('txt.menu.blog'), 		blog_path %></li>
					</ul>

					<div id="homepage" class="submenustyle">
						<%= link_to 'My Verses', 			show_all_my_verses_path %>
						<%= link_to 'Add Verse', 			add_verse_path %>
						<%= link_to 'My Progress', 			progress_path %>	
						<%= link_to 'Popular Verses', 		popular_verses_path %>	
					</div>

					<div id="memory" class="submenustyle">
						<%= link_to 'Memorize', 			test_verse_path %>
						<%= link_to 'Reference Recall', 	start_ref_test_path %>
						<%= link_to 'Practice', 			drill_verse_path %>						
						<%= link_to 'Accuracy Test', 		pre_exam_path %>	
					</div>
					
					<div id="tutorials" class="submenustyle">
						<%= link_to 'Tutorial', 			tutorial_path %>
						<%= link_to 'SuperMemo Algorithm', 	supermemo_path %>
					</div>

					<div id="profile" class="submenustyle">
						<%= link_to 'Profile', 				update_profile_path %>
						<%= link_to 'My Church', 			church_path %>
						<%= link_to 'Reports', 				current_user %>
					</div>

					<div id="contact" class="submenustyle">
						<%= link_to 'Contact', 				contact_path %>
						<%= link_to 'Volunteer', 			volunteer_path %>
					</div>
					
					<div id="leaderboard" class="submenustyle">	
						<%= link_to 'Leaderboard', 			leaderboard_path %>
						<%= link_to 'Church Challenge', 	churchboard_path %>
						<%= link_to 'State Challenge', 		stateboard_path %>
						<%= link_to 'Country Challenge', 	countryboard_path %>
						<%= link_to 'One Church', 			memverse_clock_path %>						
					</div>					

					<div id="blog" class="submenustyle">
						<%= link_to 'View Blog', 			blog_path %>
						<%= link_to 'Recent Comments',		blog_comments_new_path %>
					</div>
									
				</div>  <!-- End of Menu Tabs -->
				<% end %> <!-- if logged_in? -->
				
				<%= flash_messages %>
				<%= yield(:content) or yield %>
			</div> <!-- End of Main -->
		</div> <!-- End of Container -->

		<!-- Start of Menu Tab Code  -->
		<% if logged_in? %>
			<script type="text/javascript">
				//initialize tab menu, by passing in ID of UL
				initalizetab("maintab")
			</script>	
		<% end %>	
		
		<!-- Start of Get Satisfaction Script  -->		
		<script type="text/javascript" charset="utf-8">
		  var is_ssl = ("https:" == document.location.protocol);
		  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
		  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		
		<script type="text/javascript" charset="utf-8">
		  var feedback_widget_options = {};
		
		  feedback_widget_options.display = "overlay";  
		  feedback_widget_options.company = "memverse";
		  feedback_widget_options.placement = "right";
		  feedback_widget_options.color = "#222";
		  feedback_widget_options.style = "idea";
		
		  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
		</script>	<!-- End: Get Satisfaction Script  -->	
		
		<script type="text/javascript">
 			Meebo("domReady");
		</script>

				
	</body>
</html>

