<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title><%= page_title %></title>

<meta name="distribution" content="all" />
<meta name="robots" content="all" />
<meta name="resource-type" content="document" />
<meta name="MSSmartTagsPreventParsing" content="true" />

<meta name="description" content="<%= page_description %>" />
<meta name="keywords" content="memory verses, memorize bible, memorize scripture, popular bible verses, memorize bible verses" />

<!-- Facebook Open Graph tags -->
<meta property="og:title"		content="<%= page_title || Memverse %>"/>
<meta property="og:type"		content="website"/>
<meta property="og:image"		content="<%= asset_path( 'memverse_swords.jpg' ) %>"/>
<meta property="og:url"			content="<%= request.url %>" />
<meta property="og:site_name"	content="Memverse"/>
<meta property="fb:admins"		content="1799626379, kyrriana"/>
<meta property="og:description" content="A community of believers memorizing the Bible online."/>

<!-- Google, Microsoft verification -->
<meta name="verify-v1" content="IrqDYi2zxAyS8GUAqQcyXvnmcxhtuNITeCIFYLa76LQ=" />
<meta name="msvalidate.01" content="A1BB69E880870637C825F612E2FA4034" />

<!-- Identify blog feed -->
<link rel="alternate" type="application/rss+xml" title="Memverse Blog" href="http://feeds.feedburner.com/MemverseBlog" />

<!-- Load fonts: Museo Slab from TypeKit (Memverse account) -->
<script src="https://use.typekit.net/hlw5ykm.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<!-- Load fonts: Open Sans from Google Web Fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,greek' rel='stylesheet' type='text/css'>

<!-- Rails 3 XSS protection -->
<%= csrf_meta_tag %>

<!-- Main Stylesheet Manifest -->
<%= stylesheet_link_tag "application" %>

<!-- Javascript -->

<!-- jqueryui 			: (preferred UI) highlight effect on reset-schedule button, tag autocomplete, tooltips on main review page -->
<!-- 2leveltab    		: main menu tab system -->
<!-- jeditable          : for in-place tag editing goodness -->
<!-- jquery.fancybox    : lightbox for tutorial video -->
<!-- pubnub             : real-time messaging platform -->
<!-- modernizr		    : support for CSS3 and HTML5 in older browsers -->
<!-- countdown          : used for live quiz -->
<!-- hoverIntent        : used on popular verses page -->
<!-- periodicalUpdater  : for home page memorized count -->

<!-- Main Javascript Manifest -->
<%= javascript_include_tag "application" %>

<!-- Auxiliary stylesheets, scripts, etc -->
<%= yield(:head) %>

<!--[if IE 6]>
<style type="text/css">
	.learn-area
	{
		padding-top:16px;
	}
</style>
<![endif]-->

<style type="text/css">
.left-widget
{
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	border-radius:8px;
	behavior:url(PIE.htc);
}

.main-right
{
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	border-radius:8px;
	behavior:url(PIE.htc);
}
</style>

<!-- Start of Google Analytics Code  -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-4539114-5', 'auto');
  ga('send', 'pageview');
</script>
<!-- End of Google Analytics Code  -->

</head>

<% if user_signed_in? %>
<body id="inner1-body" class="<%= controller_name %> <%= action_name %>" >
<% else %>
<body class="<%= controller_name %> <%= action_name %>">
<% end %>

<noscript><div id="no-js"><p>Memverse requires Javascript, but you&rsquo;ve got Javascript disabled. <a href="http://www.google.com/search?btnI=1&amp;q=how+to+enable+javascript+in+my+browser">Fix that problem!</a></p></div></noscript>
<div id="wrapper"><!--wrapper start-->
	<div id="header"><!--header start-->

		<!-- General messages -->
		<div class="mvMessageBox"></div>

		<div class="header-top"><!--header-top start-->
			<div id="logo"><a href="/" title="<%= I18n.t :mainpage, :scope => 'page_titles' %> - Memverse"><%= image_tag("logo.png", :size => "253x31", :alt => "") %></a></div>
			<% if user_signed_in? %>
				<div class="inner-top-right"><!--inner-top-right start-->
					<strong>Welcome:</strong> <%= current_user.name_or_login %> <strong><%= link_to "(Logout)", main_app.destroy_user_session_path, :method => :delete %></strong>
				</div><!--inner-top-right end-->
			<% else %>
				<div class="top-right"><!--top-right start-->
					<!-- <div class="iphone">iPhone / iPad App (coming soon):</div> -->

					<div class="auth-button">
						<ul>
							<li><%= link_to 'SIGN UP', main_app.new_user_registration_path %></li>
							<li><%= link_to 'LOG IN',  main_app.new_user_session_path %></li>
						</ul>
					</div>
				</div><!--top-right end-->
			<% end %>
		</div><!--header-top end-->

		<% if user_signed_in? %>
			<% if content_for?(:top_nav) %>
				<%= yield(:top_nav) %>
			<% else %>
				<%= render partial: "/layouts/top_nav" %>
			<% end %>
		<% else # if not logged in %>
			<div class="menu menu-main-only"><!--menu start-->
				<ul>
					<li><%= link_to t('menu.home').html_safe, main_app.root_path %></li>
					<li><%= link_to t('menu.demo').html_safe, main_app.demo_path %></li>
					<li><%= link_to t('menu.learn').html_safe, main_app.tutorial_path %></li>
					<li><%= link_to t('learn_menu.Video Tutorial').html_safe, "https://www.youtube.com/watch?v=MAWn3qfkGrA&fs=1&feature=player_embedded&rel=0".html_safe, :class => 'tut-video' %></li>
					<li><%= link_to t('menu.leaderboard').html_safe, main_app.leaderboard_path %></li>
					<li><%= link_to t('menu.help'), main_app.faq_path %></li>
					<li><%= link_to t('menu.blog').html_safe, bloggity.root_path %></li>
					<li><%= link_to t('menu.contact').html_safe, main_app.contact_path %></li>
					<li>&nbsp;</li>
				</ul>
			</div><!--menu end-->
		<% end %><!-- if user_signed_in? -->

		<div class="breadcum-area"><!--breadcum start-->
			<div class="breadcum-left">
				<span class="home-icon"><a href="/"><%= image_tag("home-icon.png", :size => "25x23", :alt => "") %></a></span>
				<div class="breadcum-link">
					/ <%= (render_breadcrumbs :separator => ' / ').html_safe %>
				</div>
			</div>
			<% if user_signed_in? %>
			<div class="breadcum-right">
				<%= link_to image_tag("your-verses.png", :width=>"172", :height=>"25", :alt=>"Your Verses"    ), main_app.manage_verses_path %>
				<%= link_to image_tag("more-verses.png", :width=>"192", :height=>"25", :alt=>"Add More Verses"), main_app.add_verse_path %>
			</div>
			<% end %>
		</div><!--breadcum end-->

		<!-- Flash message notification -->
		<%= flash_messages  %>

	</div> <!--header end-->

	<!--Content Block -->
	<div class="page-content">
		<div <%= content_for?(:body_css) ? yield(:body_css) : "id=standard_page" %> >

			<!-- Main Page Content -->
			<%= content_for?(:content) ? yield(:content) : yield %>
			<div class="clr"></div><!-- Clear floats -->

		</div>
	</div>

	<div><%= image_tag "trans.png", :size => "1x10" %>&nbsp;</div>

	<div class="clr"></div>

	<div id="footer"><!--footer start-->
		<span><%= link_to 'Mission Statement', main_app.mission_path %> |</span>
		<span>&copy; <%= Date.today.year %> Memverse | </span>
		<span>Web Design: <a href="http://www.emekarajis.org">Emeka Rajis</a></span>
	</div><!--footer end-->

</div><!--wrapper end-->

<!-- Start of Menu Tab Code  -->
<% if user_signed_in? %>
	<script type="text/javascript">
		//initialize tab menu, by passing in ID of UL
		initalizetab("maintab")
	</script>
<% end %>

<!-- Start of I18n-js code  -->
<script type="text/javascript">
  I18n.defaultLocale = "<%= I18n.default_locale %>";
  I18n.locale = "<%= I18n.locale %>";
</script>
<!-- End of I18n-js code  -->

<!-- Tutorial video using fancybox -->
<script type="text/javascript">
	$(document).ready(function() {
		$(".tut-video").click(function() {
			$.fancybox({
					'padding'		: 0,
					'autoScale'		: false,
					'transitionIn'	: 'none',
					'transitionOut'	: 'none',
					'title'			: this.title,
					'width'			: 1020,
					'height'		: 600,
					'href'			: this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
					'type'			: 'swf',
					'swf'			: {	'wmode'				: 'transparent',
										'allowfullscreen'	: 'true' }
				});

			return false;
		});
	});
</script>

<!-- Start of Get Satisfaction Script  -->
<script type="text/javascript">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
  var feedback_widget_options = {};

  feedback_widget_options.display = "overlay";
  feedback_widget_options.company = "memverse";
  feedback_widget_options.placement = "right";
  feedback_widget_options.color = "#222";
  feedback_widget_options.style = "idea";

  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>	<!-- End: Get Satisfaction Script  -->

<!-- Prevent double-clicking links in the flash -->
<script type="text/javascript">
	$(document).ready(function(){
		$('#flash-notice a').click( function() {
			$(this).hide();
		});
	});
</script>
</body>
</html>
