<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title><%= page_title %></title>

<!–[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
</script>
<![endif]–>

<meta name="distribution" content="all" />
<meta name="robots" content="all" />	
<meta name="resource-type" content="document" />
<meta name="MSSmartTagsPreventParsing" content="true" />

<meta name="description" content="<%= page_description %>" />	
<meta name="keywords" content="memory verses, memorize bible, memorize scripture, popular bible verses, memorize bible verses" />	

<!-- Facebook Open Graph tags -->
<meta property="og:title"		content="<%= page_title || Memverse %>"/>	
<meta property="og:type"		content="website"/>	
<meta property="og:image"		content="http://www.memverse.com/assets/memverse_swords.jpg"/>	
<meta property="og:url"			content="<%= request.url %>" />	
<meta property="og:site_name"	content="Memverse"/>	
<meta property="fb:admins"		content="1799626379, kyrriana"/>
<meta property="og:description" content="A community of believers memorizing the Bible online."/>

<!-- Google, Microsoft verification -->
<meta name="verify-v1" content="IrqDYi2zxAyS8GUAqQcyXvnmcxhtuNITeCIFYLa76LQ=" />	
<meta name="msvalidate.01" content="A1BB69E880870637C825F612E2FA4034" />				

<!-- Identify blog feed -->
<link rel="alternate" type="application/rss+xml" title="Memverse Blog" href="http://feeds.feedburner.com/MemverseBlog" />

<!-- Airbrake JavaScript errors (Not yet ready for prime time) -->
<!-- airbrake_javascript_notifier -->

<!-- Load fonts -->
<script type="text/javascript" src="http://use.typekit.com/wxl5kyc.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!-- Rails 3 XSS protection -->
<%= csrf_meta_tag %>

<!-- Main Stylesheet Manifest -->
<%= stylesheet_link_tag "application" %>

<!-- Javascript -->
<!-- jquery.tools 		: used for tool tips on main verse test page, scrollable on login page -->
<!-- jqueryui 			: used for highlight effect on reset-schedule button -->
<!-- 2leveltab    		: main menu tab system -->
<!-- jeditable          : for in-place tag editing goodness -->
<!-- jquery.fancybox    : lightbox for tutorial video -->
<!-- juggernaut		    : needed for chat room -->
<!-- modernizr		    : support for CSS3 and HTML5 in older browsers -->
<!-- countdown          : used for live quiz -->
<!-- hoverIntent        : used on popular verses page -->
<!-- periodicalUpdater  : for home page memorized count -->

<!-- jQuery: try CDN but fallback on local copy -->
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.min.js"></script>
<script>window.jQuery || document.write('<script src="/javascripts/jquery-1.7.min.js"><\/script>')</script>
<script type="text/javascript" src="http://cdn.jquerytools.org/1.2.6/tiny/jquery.tools.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>

<!-- Main Javascript Manifest -->
<%= javascript_include_tag "application" %>

<!-- Auxiliary stylesheets, scripts, etc -->
<%= yield(:head) %>

<!--[if IE 6]>
<style type="text/css">
	.learn-area
	{
		padding-top:16px;
	}
</style>
<![endif]-->

<style type="text/css">
.left-widget
{
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	border-radius:8px;
	behavior:url(PIE.htc);
}

.main-right
{
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	border-radius:8px;
	behavior:url(PIE.htc);
}
</style>

<!-- Start of Google Analytics Code  -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4539114-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- End of Google Analytics Code  -->

</head>

<% if user_signed_in? %>
<body id="inner1-body">
<% else %>
<body>
<% end %>

<!-- Beacon Ads Ad Code -->
<script type="text/javascript">
(function(){
  var bsa = document.createElement('script');
     bsa.type = 'text/javascript';
     bsa.async = true;
     bsa.src = 'http://cdn.beaconads.com/ac/beaconads.js';
  (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
})();
</script>
<!-- End Beacon Ads Ad Code -->

<noscript><div id="no-js"><p>Memverse requires Javascript, but you&rsquo;ve got Javascript disabled. <a href="http://www.google.com/search?btnI=1&amp;q=how+to+enable+javascript+in+my+browser">Fix that problem!</a></p></div></noscript>
<div id="wrapper"><!--wrapper start-->
	<div id="header"><!--header start-->
		
		<!-- General messages -->
		<div class="mvMessageBox"></div>		
		
		<div class="header-top"><!--header-top start-->
			<div id="logo"><a href="/" title="<%= I18n.t :mainpage, :scope => 'page_titles' %> - Memverse"><%= image_tag("logo.png", :size => "253x31", :alt => "") %></a></div>
			<% if user_signed_in? %>
				<div class="inner-top-right"><!--inner-top-right start-->
					<strong>Welcome:</strong> <%= current_user.name_or_login %> <strong><%= link_to "(Logout)", main_app.destroy_user_session_path, :method => :delete %></strong>
				</div><!--inner-top-right end-->
			<% else %>
				<div class="top-right"><!--top-right start-->
					<!-- <div class="iphone">iPhone / iPad App (coming soon):</div> -->

					<div class="button">
						<ul>
							<li><%= link_to 'SIGN UP', main_app.new_user_registration_path %></li>
							<li><%= link_to 'LOG IN',  main_app.new_user_session_path %></li>
						</ul>
					</div>
				</div><!--top-right end-->
			<% end %>
		</div><!--header-top end-->

		<% if user_signed_in? %>
			<div id="menu-tabs" class="menu">
				<ul id="maintab" class="basictab">
					<li <%= tab(@tab=="home"		) %> rel="homepage">	<%= link_to t('menu.home'), 		main_app.root_path %> </li>	 
					<li <%= tab(@tab=="mem"			) %> rel="memory">		<%= link_to t('menu.memorize'), 	main_app.test_verse_quick_path %></li>
					<li <%= tab(@tab=="learn"		) %> rel="tutorials">	<%= link_to t('menu.learn'), 		main_app.tutorial_path %></li>
					<li <%= tab(@tab=="profile"		) %> rel="profile">		<%= link_to t('menu.profile'), 		main_app.user_path(current_user) %></li>
					<li <%= tab(@tab=="contact"		) %> rel="contact">		<%= link_to t('menu.contact'), 		main_app.contact_path %></li>	
					<li <%= tab(@tab=="leaderboard"	) %> rel="leaderboard">	<%= link_to t('menu.leaderboard'), 	main_app.leaderboard_path %></li>	
					<li <%= tab(@tab=="blog"		) %> rel="blog">		<%= link_to t('menu.blog'), 		main_app.blog_path %></li>
					<li <%= tab(@tab=="help"		) %> rel="help">        <%= link_to t('menu.help'),         main_app.faq_path %></li>
					<li>&nbsp;</li>
				</ul>

				<div class="submenu"><!--submenu start-->

					<div class="submenu-left">

						<div id="homepage" class="submenustyle">
							<ul>							
								<li <%= sub(@sub=="manage"		)%>><%= link_to t('home_menu.My Verses'),		main_app.manage_verses_path %></li>
								<li <%= sub(@sub=="addvs"		)%>><%= link_to t('home_menu.Add Verse'),		main_app.add_verse_path %></li>
								<li <%= sub(@sub=="searchvs"	)%>><%= link_to t('home_menu.Search Bible'),	main_app.search_verse_path %></li>
								<li <%= sub(@sub=="progress"	)%>><%= link_to t('home_menu.My Progress'),		main_app.progress_path %></li>	
								<li <%= sub(@sub=="popvs"		)%>><%= link_to t('home_menu.Popular Verses'),	main_app.popular_verses_path %></li>	
								<li <%= sub(@sub=="cloud"		)%>><%= link_to t('home_menu.Tag Cloud'),		main_app.tag_cloud_path %></li>	
								<li <%= sub(@sub=="news"		)%>><%= link_to t('home_menu.News'),			main_app.news_path %></li>
							</ul>	
						</div>

						<div id="memory" class="submenustyle">
							<ul>							
								<li <%= sub(@sub=="mem"			)%>><%= link_to t('memorize_menu.Memorize'),			main_app.test_verse_quick_path %></li>
								<li <%= sub(@sub=="refrec"		)%>><%= link_to t('memorize_menu.Reference Recall'), 	main_app.start_ref_test_path %></li>
								<li <%= sub(@sub=="practice"	)%>><%= link_to t('memorize_menu.Practice'), 			main_app.drill_verse_path %></li>						
								<li <%= sub(@sub=="acctest"		)%>><%= link_to t('memorize_menu.Accuracy Test'), 		main_app.pre_exam_path %></li>	
								<li <%= sub(@sub=="chrev"		)%>><%= link_to t('memorize_menu.Chapter Review'), 		main_app.pre_chapter_path %></li>	
							</ul>	
						</div>

						<div id="tutorials" class="submenustyle">
							<ul>
								<li <%= sub(@sub=="tutorial"	)%>><%= link_to t('learn_menu.Tutorial'), 				main_app.tutorial_path %></li>
								<li <%= sub(@sub=="smalg"		)%>><%= link_to t('learn_menu.SuperMemo Algorithm'), 	main_app.supermemo_path %></li>
								<li <%= sub(@sub=="vidtut"		)%>><%= link_to t('learn_menu.Video Tutorial'), 		"http://www.youtube.com/watch?v=N8A71DIcr4Y&fs=1&feature=player_embedded", :class => 'tut-video' %></li>
							</ul>
						</div>

						<div id="profile" class="submenustyle">
							<ul>
								<li <%= sub(@sub=="dash"		)%>><%= link_to t('profile_menu.Dashboard'), 			main_app.user_path(current_user) %></li>					
								<li <%= sub(@sub=="prof"		)%>><%= link_to t('profile_menu.Profile'), 				main_app.update_profile_path %></li>
								<li <%= sub(@sub=="mychurch"	)%>><%= link_to t('profile_menu.My Church'), 			main_app.church_path %></li>
								<li <%= sub(@sub=="mygroup"		)%>><%= link_to t('profile_menu.My Group'), 			main_app.mygroup_path %></li>
								<li <%= sub(@sub=="myrefs"		)%>><%= link_to t('profile_menu.Referrals'), 			main_app.referrals_path(current_user) %></li>
							</ul>
						</div>

						<div id="contact" class="submenustyle">
							<ul>
								<li <%= sub(@sub=="contact"		)%>><%= link_to t('contact_menu.Contact'), 				main_app.contact_path %></li>
								<li <%= sub(@sub=="volunteer"	)%>><%= link_to t('contact_menu.Volunteer'), 			main_app.volunteer_path %></li>
							</ul>
						</div>

						<div id="leaderboard" class="submenustyle">
							<ul>
								<li <%= sub(@sub=="solo"		)%>><%= link_to t('leader_menu.Leaderboard'), 			main_app.leaderboard_path %></li>
								<li <%= sub(@sub=="church"		)%>><%= link_to t('leader_menu.Church Leaderboard'), 	main_app.churchboard_path %></li>
								<li <%= sub(@sub=="group"		)%>><%= link_to t('leader_menu.Group Leaderboard'), 	main_app.groupboard_path %></li>
								<li <%= sub(@sub=="us-state"	)%>><%= link_to t('leader_menu.State Leaderboard'), 	main_app.stateboard_path %></li>
								<li <%= sub(@sub=="country"		)%>><%= link_to t('leader_menu.Country Leaderboard'), 	main_app.countryboard_path %></li>
								<li <%= sub(@sub=="referrals"	)%>><%= link_to t('leader_menu.Referralboard'), 		main_app.referralboard_path %></li>						
								<li <%= sub(@sub=="global"		)%>><%= link_to t('leader_menu.One Church'), 			main_app.memverse_clock_path %></li>	
							</ul>
						</div>			

						<div id="blog" class="submenustyle">
							<ul>
								<li <%= sub(@sub=="view"		)%>><%= link_to t('blog_menu.View Blog'), 				main_app.blog_path %></li>
								<li <%= sub(@sub=="comments"	)%>><%= link_to t('blog_menu.Recent Comments'),			main_app.blog_comments_new_path %></li>
								<li <%= sub(@sub=="blogsearch"	)%>><%= link_to t('blog_menu.Blog Search'),				main_app.blog_search_path %></li>
								<li <%= sub(@sub=="forums"		)%>><%= link_to t('blog_menu.Forums'),					forem.root_path %></li>
							</ul>
						</div>
						
						<div id="help" class="submenustyle">
							<ul>
								<li <%= sub(@sub=="faq"		     )%>><%= link_to t('help_menu.faq'),                    main_app.faq_path %></li>								
							</ul>
						</div>
					</div><!--submenu-left end-->
		        	<div class="clr"></div>

				</div><!--submenu end-->				
			</div>  <!-- End of Menu Tabs -->
		
		<% else # if not logged in %>
			<div class="menu menu-main-only"><!--menu start-->
				<ul>
					<li><%= link_to t('menu.home').html_safe, main_app.root_path %></li>
					<li><%= link_to t('menu.demo').html_safe, main_app.demo_path %></li>
					<li><%= link_to t('menu.learn').html_safe, main_app.tutorial_path %></li>
					<li><%= link_to t('learn_menu.Video Tutorial').html_safe, "http://www.youtube.com/watch?v=N8A71DIcr4Y&fs=1&feature=player_embedded", :class => 'tut-video' %></li>
					<li><%= link_to t('menu.leaderboard').html_safe, main_app.leaderboard_path %></li>
					<li><%= link_to t('menu.help'), main_app.faq_path %></li>
					<li><%= link_to t('menu.blog').html_safe, main_app.blog_path %></li>
					<li><%= link_to t('menu.contact').html_safe, main_app.contact_path %></li>
					<li>&nbsp;</li>
				</ul>
			</div><!--menu end-->
		<% end %><!-- if user_signed_in? -->

		<div class="breadcum-area"><!--breadcum start-->
			<div class="breadcum-left">
				<span class="home-icon"><a href="/"><%= image_tag("home-icon.png", :size => "25x23", :alt => "") %></a></span>
				<div class="breadcum-link">
					/ <%= (render_breadcrumbs :separator => ' / ').html_safe %>
				</div>
			</div>
			<% if user_signed_in? %>
			<div class="breadcum-right">
				<%= link_to image_tag("your-verses.png", :width=>"172", :height=>"25", :alt=>"Your Verses"    ), main_app.manage_verses_path %>
				<%= link_to image_tag("more-verses.png", :width=>"192", :height=>"25", :alt=>"Add More Verses"), main_app.add_verse_path %>
			</div>
			<% end %>
		</div><!--breadcum end-->

		<!-- Flash message notification -->
		<%= flash_messages  %>
		
	</div> <!--header end-->

	<!--Content Block -->
	<div class="page-content">
		<%= content_for?(:content) ? yield(:content) : yield %>
	</div>

	<div><%= image_tag "trans.png", :size => "1x10" %>&nbsp;</div>

	<div class="clr"></div>

	<div id="footer"><!--footer start-->
		<span><%= link_to 'Mission Statement', main_app.mission_path %> |</span>		
		<span>&copy; <%= Date.today.year %> Memverse | </span>
		<span>Web Design: <a href="http://www.emekarajis.org">Emeka Rajis</a></span>
	</div><!--footer end-->

</div><!--wrapper end-->

<!-- Start of Menu Tab Code  -->
<% if user_signed_in? %>
	<script type="text/javascript">
		//initialize tab menu, by passing in ID of UL
		initalizetab("maintab")
	</script>	
<% end %>

<!-- Start of I18n-js code  -->
<script type="text/javascript">
  I18n.defaultLocale = "<%= I18n.default_locale %>";
  I18n.locale = "<%= I18n.locale %>";
</script>
<!-- End of I18n-js code  -->

<!-- Tutorial video using fancybox -->
<script type="text/javascript">
	$(document).ready(function() {			
		$(".tut-video").click(function() {
			$.fancybox({
					'padding'		: 0,
					'autoScale'		: false,
					'transitionIn'	: 'none',
					'transitionOut'	: 'none',
					'title'			: this.title,
					'width'			: 1020,
					'height'		: 600,
					'href'			: this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
					'type'			: 'swf',
					'swf'			: {	'wmode'				: 'transparent',
										'allowfullscreen'	: 'true' }
				});
		
			return false;
		});	
	});	
</script>

<!-- Start of Get Satisfaction Script  -->		
<script type="text/javascript">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
  var feedback_widget_options = {};

  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "memverse";
  feedback_widget_options.placement = "right";
  feedback_widget_options.color = "#222";
  feedback_widget_options.style = "idea";

  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>	<!-- End: Get Satisfaction Script  -->	

<!-- Prevent double-clicking links in the flash -->
<script type="text/javascript">
	$(document).ready(function(){
		$('#flash-notice a').click( function() {
			$(this).hide();
		});
	});
</script>
</body>
</html>
