<% content_for :top_nav do %>

	<div id="menu-tabs" class="menu">

		<ul id="maintab" class="basictab">
			<li <%= tab(@tab=="home"	  ) %> rel="homepage">	<%= link_to 'Home', 	 		root_path %></li>
			<li <%= tab(@tab=="dash"	  ) %> rel="dashboard">	<%= link_to 'Dashboard', 		utils_dashboard_path %></li>
			<li <%= tab(@tab=="users"	  ) %> rel="users">		<%= link_to 'Users', 	 		:controller => 'utils', :action => 'show_users', :sort_order => 'ID DESC', :period => 'Active' %></li>
			<li <%= tab(@tab=="verses"	  ) %> rel="verses">	<%= link_to 'Verses',		    :controller => 'utils', :action => 'show_verses_to_be_checked' %></li>
			<li <%= tab(@tab=="churches"  ) %> rel="churches">	<%= link_to 'Churches', 		:controller => 'utils', :action => 'show_churches' %></li>
			<li <%= tab(@tab=="countries" ) %> rel="countries">	<%= link_to 'Countries', 		:controller => 'utils', :action => 'show_countries' %></li>
			<li <%= tab(@tab=="popverses" ) %> rel="popverses">	<%= link_to 'Popular Verses',	:controller => 'utils', :action => 'show_popverses' %></li>
			<li <%= tab(@tab=="quizzes"   ) %> rel="quizzes">	<%= link_to 'Quizzes',      	quizzes_path %></li>
			<li>&nbsp;</li>
		</ul>

		<div class="submenu"><!--submenu start-->

			<div class="submenu-left">

				<div id="homepage" class="submenustyle">
					<ul>
						<li <%= sub(@sub=="manage"		)%>><%= link_to t('home_menu.My Verses'),		manage_verses_path %></li>
						<li <%= sub(@sub=="addvs"		)%>><%= link_to t('home_menu.Add Verse'),		add_verse_path %></li>
						<li <%= sub(@sub=="searchvs"	)%>><%= link_to t('home_menu.Search Bible'),	search_verse_path %></li>
						<li <%= sub(@sub=="progress"	)%>><%= link_to t('home_menu.My Progress'),		progress_path %></li>
						<li <%= sub(@sub=="popvs"		)%>><%= link_to t('home_menu.Popular Verses'),	popular_verses_path %></li>
						<li <%= sub(@sub=="cloud"		)%>><%= link_to t('home_menu.Tag Cloud'),		tag_cloud_path %></li>
						<li <%= sub(@sub=="news"		)%>><%= link_to t('home_menu.News'),			news_path %></li>
					</ul>
				</div>

				<div id="dashboard" class="submenustyle">
					<ul>
						<li <%= sub(@sub=="manage"		)%>><%= link_to 'Dashboard',		:controller => 'utils',	:action => 'dashboard' %></li>
						<li <%= sub(@sub=="addvs"		)%>><%= link_to 'Churn',			:controller => 'utils',	:action => 'cohort_analysis' %></li>
						<li <%= sub(@sub=="searchvs"	)%>><%= link_to 'Leaderboard',		:controller => 'utils',	:action => 'leaderboard' %></li>
						<li <%= sub(@sub=="progress"	)%>><%= link_to 'Memory Verses',	:controller => 'utils',	:action => 'show_memory_verses', :id => nil, :sort_order => 'ID DESC' %></li>
						<li <%= sub(@sub=="popvs"		)%>><%= link_to 'Send Reminder',	:controller => 'utils',	:action => 'send_reminder' %></li>
						<li <%= sub(@sub=="cloud"		)%>><%= link_to 'Comments', 		:controller => 'utils', :action => 'unapproved_comments' %></li>
						<li <%= sub(@sub=="news"		)%>><%= link_to 'De-dupe',	 		:controller => 'utils', :action => 'users_with_problems' %></li>
					</ul>
				</div>

				<div id="users" class="submenustyle">
					<ul>
						<li <%= sub(@sub=="manage"		)%>><%= link_to 'All',				:controller => 'utils',	:action => 'show_users', :sort_order => 'ID DESC', :period => 'All' %></li>
						<li <%= sub(@sub=="addvs"		)%>><%= link_to 'Today (New)',		:controller => 'utils',	:action => 'show_users', :sort_order => 'ID DESC', :period => 'Today' %></li>
						<li <%= sub(@sub=="searchvs"	)%>><%= link_to 'Today (Active)',	:controller => 'utils',	:action => 'show_users', :sort_order => 'ID DESC', :period => 'Active' %></li>
						<li <%= sub(@sub=="progress"	)%>><%= link_to 'Pending',			:controller => 'utils',	:action => 'show_users', :sort_order => 'ID DESC', :period => 'Pending' %></li>
						<li <%= sub(@sub=="popvs"		)%>><%= link_to 'Search',			:controller => 'utils',	:action => 'search_users' %></li>
						<li <%= sub(@sub=="cohort"  	)%>><%= link_to 'Cohorts',			progression_path %></li>
					</ul>
				</div>

				<div id="verses" class="submenustyle">
					<ul>
						<li <%= sub(@sub=="manage"		)%>><%= link_to 'Verses per User',	:controller => 'utils',	:action => 'verses_per_user' %></li>
						<li <%= sub(@sub=="addvs"		)%>><%= link_to 'Translation Stats',:controller => 'utils',	:action => 'count_by_translation' %></li>
						<li <%= sub(@sub=="searchvs"	)%>><%= link_to 'All',				:controller => 'utils',	:action => 'show_verses', :sort_order => 'ID DESC' %></li>
						<li <%= sub(@sub=="progress"	)%>><%= link_to 'Search',			:controller => 'utils',	:action => 'search_verses' %></li>
						<li <%= sub(@sub=="popvs"		)%>><%= link_to 'To Check',			:controller => 'utils',	:action => 'show_verses_to_be_checked' %></li>
					</ul>
				</div>

				<div id="churches" class="submenustyle">
					<ul>
						<li <%= sub(@sub=="manage"		)%>><%= link_to 'All',				:controller => 'utils',	:action => 'show_churches' %></li>
					</ul>
				</div>

				<div id="countries" class="submenustyle">
					<ul>
						<li <%= sub(@sub=="manage"		)%>><%= link_to 'All',				:controller => 'utils',	:action => 'show_countries' %></li>
					</ul>
				</div>

				<div id="popverses" class="submenustyle">
					<ul>
						<li <%= sub(@sub=="manage"		)%>><%= link_to 'Show',				:controller => 'utils',	:action => 'show_popverses' %></li>
						<li <%= sub(@sub=="addvs"		)%>><%= link_to 'Update',			:controller => 'utils',	:action => 'update_popular_verses' %></li>
						<li <%= sub(@sub=="searchvs"	)%>><%= link_to 'Tags',				:controller => 'utils',	:action => 'show_tags' %></li>
					</ul>
				</div>

				<div id="quizzes" class="submenustyle">
					<ul>
						<li <%= sub(@sub=="list"		)%>><%= link_to 'List',	   	        quizzes_path %></li>
						<li <%= sub(@sub=="approve"		)%>><%= link_to 'Approve',	   	    quiz_question_approval_path %></li>
					</ul>
				</div>

			</div><!--submenu-left end-->
        	<div class="clr"></div>

		</div><!--submenu end-->
	</div>  <!-- End of Menu Tabs -->

<% end %>

<%= render template: "layouts/application" %>
